- if presenter.has_grades?

  - assignment = presenter.assignment
  - student_id = current_student.present? ? current_student.id : nil?

  .class-analytics-wrapper
    .class-analytics-graph{"ng-app" => "gradecraft"}
      - if assignment.pass_fail?
        %h3 Scores Earned
        #assignment-levels-analytics{ "data-assignment-id" => assignment.id, "data-student-id" => student_id}

      - else
        %assignment-distribution-analytics{ "assignment-id" => assignment.id, "student-id" => student_id}

    .class-analytics-graph
      %h3 Participants
      #assignment-participation-analytics{ "data-assignment-id" => assignment.id, "data-student-id" => student_id }

  - if !assignment.pass_fail?
    .scores-earned-bar-chart
      %h3 Scores Earned
      #assignment-levels-analytics{ "data-assignment-id" => assignment.id, "data-student-id" => student_id }
