.row
  .columns(style="padding:0")
    %input(type="text" ng-model="level.name" placeholder="Level Name" required ng-blur="level.modify(levelForm)" ng-change="level.change()")
  .columns(style="padding:0")
    %input(type="number" ng-model="level.points" placeholder="Points" min=0 ng-max="criterion.max_points" ng-blur="level.modify(levelForm)" ng-change="level.change()" required)
.row
  %input(type="text" ng-model="LevelDescription" placeholder="Description" value="{{level.description}}" ng-blur="level.modify(levelForm)" ng-change="level.change()")
-#%button.delete(type="button" ng-click="level.delete($index, criterion)") X
%button.delete(type="button" ng-click="level.delete($index)") X
{{$index}}
