.pageContent
  #rubric-grader(ng-app="gradecraft" ng-controller="GradeRubricCtrl")
    .row
      #rubric-heading.columns
        %h3.text-right
          Grade Assignment by Rubric
        %h4.text-right (click to select the level earned for each criterion)
        %br

      #points-overview-floating(ng-cloak ng-hide="angular.element('#points-overview').isOnscreen()")
        %h4#points-legend
          %span.points-assigned(ng-class="{'points-missing': pointsMissing(), 'points-satisfied': pointsSatisfied(), 'points-overage': pointsOverage()}") {{ finalPoints() | number:0 }} Points
        %h4.notice(ng-hide="!pointsSatisfied() && !pointsMissing()") {{ pointsAllocated() | number:0 }} / {{ pointsPossible() | number:0 }} Points Allocated
        %h4.notice(ng-hide="pointsSatisfied() || pointsMissing()") You have not yet allocated any points
        %h4.notice(ng-show="pointsMissing()") {{ pointsRemaining() | number:0 }} point{{ pointsRemaining() > 1 ? "s" : "" }} have not been assigned
        %h4.notice(ng-show="pointsSatisfied()") You have allocated all possible points
        %h4.notice(ng-show="isBelowThreshold()") {{ pointsBelowThreshold() | number:0 }} points below the threshold
        %h4.notice.adjustment(ng-class="{'positive-adjustment' : adjustmentPoints() > 0}" ng-show="pointsAdjusted()") You have adjusted the total by {{adjustmentPoints()}} points

      .clear

    #grade-status(ng-cloak)

    #rubric-grader-splash.columns.text-center(ng-cloak)
      Loading assignment...
      %br
      %br

    %table#rubric-table.edit(ng-cloak)
      %thead
        %tr
          %td.criterion.heading
            %label.larger
              <strong>Criterion</strong>:&nbsp;Max&nbsp;points

          %td.level.heading(colspan="#{@rubric.max_level_count}")
            %label.larger
              %strong Level:
              Points Awarded
          %td.comments.heading(ng-show="selectedLevels().length > 0")
            %label.larger
              Comments

      %tbody
        %tr(ng-repeat="criterion in criteria")
          %td.criterion
            .criterion-heading
              .criterion-name {{criterion.name.replace(" ","&nbsp;")}}
              .criterion-points
                {{(criterion.max_points || 0) | number:0}}&nbsp;Points
            .criterion-description {{criterion.description}}

          %td.level.level-level(ng-repeat="level in criterion.levels" ng-click="criterion.gradeWithLevel(level)" ng-class="{selected: criterion.isUsingLevel(level), 'meets-expectations': level.pointsMeetExpectations()}")
            .level-heading
              .level-name {{level.name.replace(" ","&nbsp;")}}
              .level-meets-expectations(ng-show="level.meetsExpectations") Meets Expectations
              .level-points
                {{level.points | number:0}}&nbsp;Points
            .clear
            .level-description
              {{level.description}}
            .row.badge-row.design-view
              .level-badge-image(ng-repeat="(levelBadgeId, levelBadge) in level.badges")
                %img(ng-src="{{levelBadge.badge.icon}}" height="50px")
              .clear
          %td.filler(ng-show="criterion.levels.length < #{@rubric.max_level_count}" colspan="{{#{@rubric.max_level_count} - criterion.levels.length}}")
          %td.comments-box
            %textarea(ng-model="criterion.comments" froala="froalaOptions")

    %br
    .right
      .points-given
        .points-overview.bottom(ng-cloak)
          %h4.points-legend
            %span.points-assigned(ng-class="{'points-missing': pointsMissing(), 'points-satisfied': pointsSatisfied(), 'points-overage': pointsOverage()}") {{pointsAllocated() | number:0}}
            \/{{pointsPossible() | number:0}} Points Allocated
          %h4.notice(ng-hide="pointsSatisfied() || pointsMissing()") You have not yet allocated any points
          %h4.notice(ng-show="pointsMissing()") {{pointsRemaining() | number:0}} point{{pointsRemaining() > 1 ? "s" : ""}} have not been assigned
          %h4.notice(ng-show="pointsSatisfied()") You have allocated all possible points
          %h4.notice(ng-show="isBelowThreshold()") {{ pointsBelowThreshold() | number:0 }} points below the threshold
      %br
      .points-adjustment(ng-cloak)
        %h4 Points Adjustment
        %input(type="text" placeholder="Enter points adjustment to calculated total" smart-number="" ng-model="grade.adjustment_points")
      %br
      .total-points(ng-cloak)
        %h3 {{finalPoints() | number:0}} Total Points


    .right
      .points-adjustment-feedback(ng-if="grade.adjustment_points != 0" ng-cloak)
        %h4.text-right Points Adjustment Feedback
        %textarea(ng-model="grade.adjustment_points_feedback" froala="froalaOptions")
    .clear

    .summary_feedback
      %h3.text-right Overall Feedback
      %textarea(ng-model="grade.feedback" froala="froalaSummaryOptions")
    .clear
    %br

    .right
      .row
        %select(ng-model="grade.status" ng-options="status for status in gradeStatusOptions")
          %option(value="" disabled) Select grade status for this submission...
        .align-right.form_label Can the student see this grade?

    .clear
    %br

    .right
      %button#submit-grade(ng-click="submitGrade('#{@return_path}')" ng-class='{"disabled" : !grade.status}') Submit Grade
