.small-12.panel.mainContent

  = content_nav_for @assignment, "See Grade"

  %h3.pagetitle= @title

  - if @assignment.is_individual?
    .small-12.columns= render "individual_show"

  - else
    .small-12.columns= render "group_show"
