.card-header
  %h3 Upcoming Events
.card-body
  .slide-container
    - @events.each do |event|
      .event-slide
        .slide-header
          %h3= link_to event.name, event
          %p= event.open_at
          %p= event.due_at
        .slide-body
          .event-image
            %img{:src => event.media }
          .event-description
            %p= raw event.description
