%table
  %thead
    %tr
      %th{"scope"=>"col"} Name
      %th{"scope"=>"col"} Description
      %th.center{"scope"=>"col"} Allowable Yellow Warnings
      %th.options{"scope"=>"col"} Options

  %tbody
    %tr{"ng-repeat"=>"category in loCategoriesTableCtrl.categories()"}
      %td
        %a{"ng-href"=>"{{loCategoriesTableCtrl.editCategoryPath(category.id)}}"} {{category.name}}
      %td {{category.description}}
      %td.center {{category.allowable_yellow_warnings}}
      %td
        .button-container.dropdown
          %button.button-edit.button-options{"role"=>"button", "type"=>"button", "aria-label"=>"Additional Options"}
            %i.fa.fa-cog
            %i.fa.fa-caret-down
          %ul.options-menu.dropdown-content
            %li
              %a{"ng-href"=>"{{loCategoriesTableCtrl.editCategoryPath(category.id)}}"}
                %i.fa.fa-edit
                Edit
            %li
              %a{"ng-click"=>"loCategoriesTableCtrl.deleteCategory(category)", "href"=>""}
                %i.fa.fa-trash
                Delete
