%a.button{"ng-href"=>"{{groupSubmissionsCtrl.assignment.assignment_path}}",
          "ng-if"=>"groupSubmissionsCtrl.assignment.student_group_submitted",
          "anchor"=>"tab3"}
  %i.fa.fa-file-o
  See Submission
%a.button{"ng-if"=>"!groupSubmissionsCtrl.assignment.student_group_submitted && groupSubmissionsCtrl.assignment.student_group.approved",
          "ng-href"=>"{{groupSubmissionsCtrl.assignment.new_group_submission_path}}"}
  %i.fa.fa-upload
  Submit
