- if can? :create, Announcement.new(course_id: current_course.id)
  - content_for :context_menu do
    .context_menu
      %ul
        %li= link_to_unless_current glyph(:plus) + "New Announcement", new_announcement_path, class: "button button-edit"

.pageContent
  = render partial: "layouts/alerts"

  = render partial: "announcements/list"
