%loading-message{"data-loading"=>'loObjectivesDesignCtrl.loading',
                 "data-message"=>"Loading..."}

.italic
  %a{"ng-href"=>"{{loObjectivesDesignCtrl.indexRoute}}", "class"=>"return-link"}
    %i.fa.fa-angle-double-left
    Return to {{loObjectivesDesignCtrl.termFor("learning_objectives")}}
  –
  %span Changes are saved automatically.
  #last-updated{"ng-if"=>"loObjectivesDesignCtrl.lastUpdated() != null"}
    Last Updated: {{loObjectivesDesignCtrl.lastUpdated() | date:"MM/dd/yyyy 'at' h:mma"}}

#criterion-box.learning-objectives
  .rubric-container.divider{"ng-repeat"=>"objective in loObjectivesDesignCtrl.objectives()"}
    %learning-objectives-rubric-objective{"data-objective"=>"objective",
                                          "data-objectives-award-points"=>"loObjectivesDesignCtrl.objectivesAwardPoints",
                                          "data-delete-route"=>"loObjectivesDesignCtrl.deleteRoute",
                                          "ng-form"=>"objective_form_{{$index}}"}

%button.rubric-button{"ng-click"=>"loObjectivesDesignCtrl.addObjective()",
                      "ng-if"=>"loObjectivesDesignCtrl.objectiveId == null"} Add Objective
