%loading-message{"loading"=>"loObjectivesEditCtrl.loading", "message"=>"Loading..."}

%form{"ng-if"=>"!loObjectivesEditCtrl.loading"}
  %section.form-section
    .form-subsection
      %h3.form-subtitle Objective
      %fieldset
        .form-item
          %label
            Name
            %input{"ng-model"=>"loObjectivesEditCtrl.objective().name",
                   "ng-blur"=>"loObjectivesEditCtrl.persistArticle()",
                   "required"=>"",
                   "type"=>"text",
                   "placeholder"=>"Name (Required)"}

        .form-item
          %label
            Description
            %input{"ng-model"=>"loObjectivesEditCtrl.objective().description",
                   "ng-change"=>"loObjectivesEditCtrl.persistArticle()",
                   "type"=>"text",
                   "placeholder"=>"Description"}

        .form-item
          %label
            Count to Achieve
            %input{"ng-model"=>"loObjectivesEditCtrl.objective().count_to_achieve",
                   "ng-change"=>"loObjectivesEditCtrl.persistArticle()",
                   "type"=>"number",
                   "placeholder"=>"Count to Achieve",
                   "min"=>"1"}

        .form-item
          %label
            Category
            %select{"ng-model"=>"loObjectivesEditCtrl.objective().category_id",
                    "ng-change"=>"loObjectivesEditCtrl.persistArticle()",
                    "ng-options"=>"category.id as category.name for category in loObjectivesEditCtrl.categories()"}
              %option{"value"=>""} Select a category

      .submit-buttons{"ng-if"=>"loObjectivesEditCtrl.saved()"}
        .right
          %button.button.right{"type"=>"button", "ng-click"=>"loObjectivesEditCtrl.addLevel()"} + Level

  %section.form-section{"ng-if"=>"loObjectivesEditCtrl.saved() && loObjectivesEditCtrl.levels().length > 0"}
    .form-subsection{"ng-repeat"=>"level in loObjectivesEditCtrl.levels()"}
      %h3.form-subtitle Level
      %fieldset
        %learning-objectives-levels-edit{"data-level"=>"level"}

#last-updated{"ng-if"=>"loObjectivesEditCtrl.lastUpdated() != null"}
  .italic
    Last Updated: {{loObjectivesEditCtrl.lastUpdated() | date:"MM/dd/yyyy 'at' h:mma"}}
