%loading-message{"loading"=>"loObjectivesEditCtrl.loading", "message"=>"Loading..."}

%form{"ng-if"=>"!loObjectivesEditCtrl.loading",
      "name"=>"objectiveForm",
      "ng-submit"=>"loObjectivesEditCtrl.persistArticle(true, true)"}

  %section.form-section
    .form-subsection
      %h3.form-subtitle Objective
      %fieldset
        .form-item
          %label
            Name
            %input{"ng-model"=>"loObjectivesEditCtrl.objective().name",
                   "ng-blur"=>"loObjectivesEditCtrl.persistArticle(false)",
                   "required"=>"",
                   "type"=>"text",
                   "placeholder"=>"Name (Required)"}

        .form-item
          %label
            Description
            %input{"ng-model"=>"loObjectivesEditCtrl.objective().description",
                   "ng-change"=>"loObjectivesEditCtrl.persistArticle(false)",
                   "type"=>"text",
                   "placeholder"=>"Description"}

        .form-item
          %label
            Count to Achieve
            %input{"ng-model"=>"loObjectivesEditCtrl.objective().count_to_achieve",
                   "ng-change"=>"loObjectivesEditCtrl.persistArticle(false)",
                   "type"=>"number",
                   "placeholder"=>"Count to Achieve",
                   "min"=>"1"}

        .form-item
          %label
            Category
            %select{"ng-model"=>"loObjectivesEditCtrl.objective().category_id",
                    "ng-change"=>"loObjectivesEditCtrl.persistArticle(false)",
                    "ng-options"=>"category.id as category.name for category in loObjectivesEditCtrl.categories()"}
              %option{"value"=>""} Select a category

  %section.form-section{"ng-if"=>"loObjectivesEditCtrl.saved() && loObjectivesEditCtrl.levels().length > 0"}
    .form-subsection{"ng-repeat"=>"level in loObjectivesEditCtrl.levels()"}
      %h3.form-subtitle Level
      %fieldset
        %learning-objectives-levels-edit{"data-level"=>"level"}

  .submit-buttons
    %ul
      %li{"ng-if"=>"loObjectivesEditCtrl.saved()"}
        .button.right{"type"=>"button",
                      "ng-click"=>"loObjectivesEditCtrl.addLevel()"} Add Level

      %li
        %input{"type"=>"submit",
               "class"=>"button",
               "value"=>"Submit",
               "ng-disabled"=>"objectiveForm.$invalid",
               "ng-class"=>'{ "disabled": objectiveForm.$invalid }'}

  #last-updated{"ng-if"=>"loObjectivesEditCtrl.lastUpdated() != null"}
    .italic
      Last Updated: {{loObjectivesEditCtrl.lastUpdated() | date:"MM/dd/yyyy 'at' h:mma"}}
