%loading-message{"loading"=>"loObjectivesEditCtrl.loading", "message"=>"Loading..."}

%section.form-section{"ng-if"=>"!loObjectivesEditCtrl.loading"}
  %form{"name"=>"objectiveEditForm"}
    %fieldset
      .form-item
        %label
          Name
          %input{"ng-model"=>"loObjectivesEditCtrl.objective().name",
                 "ng-change"=>"loObjectivesEditCtrl.persistArticle()",
                 "required"=>"",
                 "type"=>"text",
                 "placeholder"=>"Name (Required)"}

      .form-item
        %label
          Description
          %input{"ng-model"=>"loObjectivesEditCtrl.objective().description",
                 "ng-change"=>"loObjectivesEditCtrl.persistArticle()",
                 "type"=>"text",
                 "placeholder"=>"Description"}

      .form-item
        %label
          Count to Achieve
          %input{"ng-model"=>"loObjectivesEditCtrl.objective().count_to_achieve",
                 "ng-change"=>"loObjectivesEditCtrl.persistArticle()",
                 "type"=>"number",
                 "placeholder"=>"Count to Achieve",
                 "min"=>"1"}

#last-updated{"ng-if"=>"loObjectivesEditCtrl.lastUpdated() != null"}
  .italic
    Last Updated: {{loObjectivesEditCtrl.lastUpdated() | date:"MM/dd/yyyy 'at' h:mma"}}
