%label{"ng-show"=>"assignments"}
  Linked {{termFor("assignments")}}:
  %select.select2{"ng-options"=>"assignment.id as assignment.name for assignment in assignments",
                  "ng-model"=>"selectedAssignments",
                  "multiple"=>"true",
                  "ng-change"=>"persist()"}
