%label{"ng-show"=>"assignments"}
  %span.capitalize Linked {{termFor("assignments")}}:
  %select.select2{"ng-options"=>"assignment.id as assignment.name group by assignment.assignment_type_name for assignment in assignments",
                  "ng-model"=>"selectedAssignments",
                  "multiple"=>"true",
                  "ng-change"=>"persist()"}
