%p.italic{"ng-show"=>"loading"} Loading linked assignments...

%label{"ng-show"=>"!loading"}
  Linked Assignments:
  %select.select2{"ng-options"=>"assignment.id as assignment.name for assignment in assignments",
                  "ng-model"=>"selectedAssignments",
                  "multiple"=>"true",
                  "ng-change"=>"persist()"}
