%loading-message{"loading"=>"loObjectivesNewCtrl.loading", "message"=>"Loading..."}

%ng-form{"ng-if"=>"!loObjectivesNewCtrl.loading",
         "name"=>"objectiveForm",
         "ng-submit"=>"persist(true, true, objectiveForm)"}

  %section.form-section
    .form-subsection
      %h3.form-subtitle {{loObjectivesNewCtrl.termFor("learning_objective")}}
      %fieldset
        .form-item
          %label
            Name
            %input{"ng-model"=>"loObjectivesNewCtrl.objective().name",
                   "ng-change"=>"persist(false, null, objectiveForm)",
                   "required"=>"",
                   "type"=>"text",
                   "placeholder"=>"Name (Required)"}

        .form-item
          %label
            Description
            %input{"ng-model"=>"loObjectivesNewCtrl.objective().description",
                   "ng-change"=>"persist(false, null, objectiveForm)",
                   "type"=>"text",
                   "placeholder"=>"Description"}

        .form-item
          %label{"ng-if"=>"!loObjectivesNewCtrl.objectivesAwardPoints"}
            Count to Achieve
            %input{"ng-model"=>"loObjectivesNewCtrl.objective().count_to_achieve",
                   "ng-change"=>"persist(false, null, objectiveForm)",
                   "type"=>"number",
                   "placeholder"=>"Count to Achieve (Required)",
                   "min"=>"0",
                   "required"=>""}

        .form-item
          %label{"ng-if"=>"loObjectivesNewCtrl.objectivesAwardPoints"}
            Points to Completion
            %input{"type"=>"number",
                   "min"=>"0",
                   "ng-model"=>"loObjectivesNewCtrl.objective().points_to_completion",
                   "ng-change"=>"persist(false, null, objectiveForm)",
                   "placeholder"=>"Points to Completion (Required)",
                   "required"=>""}

        .form-item{"ng-if"=>"_.any(loObjectivesNewCtrl.categories())"}
          %label
            Category
            %select{"ng-model"=>"loObjectivesNewCtrl.objective().category_id",
                    "ng-change"=>"persist(false, null, objectiveForm)",
                    "ng-options"=>"category.id as category.name for category in loObjectivesNewCtrl.categories()"}
              %option{"value"=>""} Select a category

  %section.form-section{"ng-if"=>"loObjectivesNewCtrl.saved() && loObjectivesNewCtrl.levels().length > 0"}
    .form-subsection{"ng-repeat"=>"level in loObjectivesNewCtrl.levels()"}
      %h3.form-subtitle Level
      %fieldset
        %learning-objectives-levels-edit{"data-level"=>"level"}

  .submit-buttons.right
    %ul
      %li
        %a.button{"ng-if"=>"loObjectivesNewCtrl.saved()",
                  "ng-click"=>"loObjectivesNewCtrl.addLevel()", "type"=>"button"} Add Level
      %li
        %a.button{"type"=>"button",
                  "ng-if"=>"loObjectivesNewCtrl.saved()",
                  "ng-click"=>"loObjectivesNewCtrl.deleteObjective()"} Delete {{loObjectivesNewCtrl.termFor("learning_objective")}}

  #last-updated{"ng-if"=>"loObjectivesNewCtrl.lastUpdated() != null"}
    .italic
      Last Updated: {{loObjectivesNewCtrl.lastUpdated() | date:"MM/dd/yyyy 'at' h:mma"}}
