%ng-form.criterion{"ng-class"=>"{'criterion-not-saved': !loRubricObjectivesCtrl.saved()}"}
  %label
    %span.sr-only Name
    %input{"type"=>"text",
           "ng-model"=>"loRubricObjectivesCtrl.objective.name",
           "name"=>"name",
           "placeholder"=>"Name (Required)",
           "required"=>"",
           "ng-blur"=>"persist()"}

  %label{"ng-if"=>"!loRubricObjectivesCtrl.objectivesAwardPoints"}
    %span.sr-only Count to Achieve
    %input.points{"type"=>"number",
                  "ng-model"=>"loRubricObjectivesCtrl.objective.count_to_achieve",
                  "placeholder"=>"Count to Achieve (Required)",
                  "ng-blur"=>"persist()",
                  "required"=>""}

  %label{"ng-if"=>"loRubricObjectivesCtrl.objectivesAwardPoints"}
    %span.sr-only Points to Completion
    %input.points{"type"=>"number",
                  "min"=>"0",
                  "ng-model"=>"loRubricObjectivesCtrl.objective.points_to_completion",
                  "ng-blur"=>"persist()",
                  "placeholder"=>"Points to Completion (Required)",
                  "required"=>""}

  %label
    %span.sr-only Description
    %textarea.criterion-description.slim{"ng-model"=>"loRubricObjectivesCtrl.objective.description",
                                         "name"=>"description",
                                         "placeholder"=>"Description",
                                         "ng-blur"=>"persist()"}

  %label{"ng-if"=>"loRubricObjectivesCtrl.hasCategories()"}
    %span.sr-only Category
    %select.objective-category{"ng-model"=>"loRubricObjectivesCtrl.objective.category_id",
                               "ng-blur"=>"persist()",
                               "ng-options"=>"category.id as category.name for category in loRubricObjectivesCtrl.categories()"}
      %option{"value"=>""} Select a category

  %button.delete{"type"=>"button", "ng-click"=>"loRubricObjectivesCtrl.delete()", "ng-if"=>"loRubricObjectivesCtrl.allowDeletion"} X

.level-container{"ng-if"=>"loRubricObjectivesCtrl.saved()"}
  %learning-objectives-rubric-levels.level-wrapper{"data-objective"=>"loRubricObjectivesCtrl.objective",
                                                   "data-objectives-award-points"=>"loRubricObjectivesCtrl.objectivesAwardPoints"}
