%levels{"ui-sortable"=>"sortableOptions", "ng-model"=>"levels"}
  .level{"ng-repeat"=>"level in loRubricLevelsCtrl.observableLevels()",
         "ng-class"=>"{'level-not-saved': !loRubricLevelsCtrl.levelIsSaved(level)}"}

    .draggable-ellipsis
      %span
        %i.fa.fa-ellipsis-v{"ng-show"=>"!reordering()"}
      %span.slim-margin
        %i.fa.fa-ellipsis-v{"ng-show"=>"!reordering()"}
    %learning-objectives-rubric-level{"data-level"=>"level"}

%button.add-level{"ng-click"=>"loRubricLevelsCtrl.addLevel()", "ng-show"=>"loRubricLevelsCtrl.objectiveIsSaved()"}
  + Level
