%loading-message{'loading'=>'loShowCtrl.loading', 'message'=>"Loading..."}

.show-learning-objective{"ng-if"=>"!loShowCtrl.loading"}
  %section
    %h2.subtitle {{loShowCtrl.objective().name}}

    %table.stacktable.large-only
      %tr{"ng-if"=>"loShowCtrl.objective().points_to_completion"}
        %th Number of Points to Completion:
        %td {{loShowCtrl.objective().points_to_completion}}
      %tr{"ng-if"=>"loShowCtrl.objective().count_to_achieve"}
        %th Count to Achieve:
        %td {{loShowCtrl.objective().count_to_achieve}}
      %tr{"ng-if"=>"loShowCtrl.objective().description"}
        %th Description:
        %td {{loShowCtrl.objective().description}}
      %tr{"ng-if"=>"_.some(loShowCtrl.objective().linkedAssignments)"}
        %th Linked Assignments:
        %td
          %ul.no-style
            %li{"ng-repeat"=>"assignment in loShowCtrl.linkedAssignments"} {{assignment.name}}

  %section
    %h3.subtitle Student Progress

    %table.stacktable.large-only
      %thead
        %tr
          %th Student
          %th Progress
      %tbody
        %tr{"ng-repeat"=>"student in loShowCtrl.students"}
          %td {{student.name}}
          %td
            %ul
              %li{"ng-repeat"=>"oo in loShowCtrl.observedOutcomes(student.id)", "ng-if"=>"_.some(loShowCtrl.observedOutcomes(student.id))"}
                {{oo.assignment_name}}
                %a{"ng-href"=>"loShowCtrl.gradePath(oo.id)"} (View Grade)
              %li{"ng-if"=>"!_.some(loShowCtrl.observedOutcomes(student.id))"}
                Not yet started
