.DS_Store
.bundle
.env
.env.test
.sass-cache/
config/database.yml
config/mongoid.yml
db/backups/*
log/*.log
public/uploads/*
/spec/support/uploads/*
tmp/*
.ruby-gemset
.ruby-version
dump.rdb
coverage/*
node_modules/*
/.vagrant
