Dear #{professor.first_name},

Your requested analytics export in course #{course.courseno} - #{course.name} is being created.

You'll be notified when your ZIP archive is ready to download.

Sincerely,
The GradeCraft Team
