Dear #{ @professor.first_name },

Your requested export for #{ @course.assignment_term.downcase} "#{ @assignment.name }" in course #{ @course.name } is being created.

You'll be notified when your ZIP archive is ready to download.

Sincerely,
GradeCraft
