%h2{:align => "center"}
  %strong Dear #{@professor.first_name},

Your requested analytics export for course #{@course.courseno} - #{@course.name} is being generated.

%p
%p{:align => "center"}
  You'll be notified when your ZIP archive is ready to download.
%hr/

%p Sincerely,
%p The GradeCraft Team
