- if presenter.has_grades?

  .class-analytics-wrapper
    .class-analytics-graph{"ng-app" => "gradecraft"}
      - if presenter.assignment.pass_fail?
        %h3 Scores Earned
        -# Move to API: data-levels, data-scores
        #levels_per_assignment{"data-levels" => presenter.assignment.percentage_pass_fail_earned.to_json, "data-user-score" => presenter.pass_fail_score_for(current_student).to_json, class: ("student-distro" if current_student.present?) }
      - else
        %h3 Grade Distribution

        %assignment-distribution-analytics{ "assignment-id" => presenter.assignment.id,
          "student-id" => current_student.id || nil,
          "student-distro" => current_student.present?.to_s }
        #assignment-distribution-graph

        .small
          %b Class Average:
          #{points presenter.assignment.average} points
        .small
          %b Low Score:
          #{points presenter.assignment.low_score} points
        .small
          %b High Score:
          #{points presenter.assignment.high_score} points

    .class-analytics-graph
      %h3 Participants
      #numberComplete{"data-percent" => "#{presenter.participation_rate}"}

  - if !presenter.assignment.pass_fail?
    .scores-earned-bar-chart
      %h3 Scores Earned
      -# Move to API: data-levels, data-scores
      #levels_per_assignment{"data-levels" => presenter.assignment.percentage_score_earned.to_json, "data-scores" => presenter.scores_for(current_student).to_json, class: ("student-distro" if current_student.present?) }
