- if current_user_is_staff?
  = render partial: "show_staff", locals: { presenter: presenter }
- elsif current_user_is_student?
  = render partial: "show_student", locals: { presenter: presenter }
- else
  = render partial: "show_observer", locals: { presenter: presenter }
  
