- if current_student.present? && level.earned_for?(student.id)
  %h6.level-name You earned 
%h6.level-name= "#{level.name}: " "#{points level.points} Points"
- if level.meets_expectations?
  %p.italic Meets Expectations
.level-description= level.description
