- if current_student.present? && include_grade_info && level.earned_for?(student.id)
  %h5.level-name You earned 
%h5.level-name= "#{level.name}: #{points level.points} Points"
- if level.meets_expectations || level.above_expectations?
  %p.italic.meets-expectations-label Meets Expectations
.level-description= level.description
