- if current_user_is_staff? && presenter.viewable_rubric_level_earned?(current_student.id, level.id)
  .earned_level #{current_student.first_name} earned this level
- elsif current_user_is_student? && presenter.rubric_level_earned?(current_student.id, level.id)
  .earned_level I earned this level

- if !presenter.hide_analytics?
  - unless level.criterion_grades(current_user).empty?
    .students-padding
    .graded-students= "#{pluralize(level.criterion_grades(current_user).size, 'student')} earned this level"
