.download-link= link_to glyph("file-excel-o") + "Download Rubric", export_assignment_rubric_path(presenter.assignment.id, format: :csv)

- if include_grade_info
  %h4.class-analytics-label Show class analytics
  %label.switch
    %input#class-analytics-toggle{:type => "checkbox", :checked => true}
    .switch-slider.round

  #student-rubric-feedback
    = render partial: "rubrics/components/criteria_graded", locals: { rubric: rubric, student: student, include_grade_info: include_grade_info }
- else
  #rubric-shell
    = render partial: "rubrics/components/criteria", locals: { rubric: rubric, student: student, include_grade_info: include_grade_info }
