%h2{:align => "center"}
  %strong Hello, #{@user.first_name}

%h3{:align => "center"} You have requested to reset your password.

%p{ align: "center" } To choose a new password, just #{ link_to "follow this link.", edit_password_url(@user.reset_password_token).html_safe }
