Hello, #{@user.first_name}

Welcome to GradeCraft!

Here are some resources for your newly created course!

-# #{ activate_user_url(@user.activation_token).html_safe}

Example Resource

Thanks,

GradeCraft
