%h2{ :align => "center" }
  %strong Hello, #{@user.first_name}

%h3{ :align => "center" } Welcome to GradeCraft!

%p{ :align => "center" } Here are some resources for your newly created course!

-# %p{ :align => "center" }= link_to "Activate Your Account", activate_user_url(@user.activation_token).html_safe

%p{ :align => "center" } Example Resource
