%h2{:align => "center"}
  %strong Welcome to GradeCraft!
%h3{:align => "center"} Your email #{@user.email} is registered with a new GradeCraft account.
%p
%hr
%p{ align: "center" }
  You can visit the
  = link_to "dashboard", dashboard_url
  to get started.
