@import "../utilities/variables"

.assignment-details-container
  max-width: 960px
  padding-bottom: 2rem
  font-weight: 300
  h3, h4
    font-weight: 400
  h3
    font-size: 1.25rem
  h4
    margin: 1.5rem 0 0 0
  ul
    margin: 0
    padding-left: 1.25rem
  p
    margin: 0.5rem 0
  p.assignment-description
    margin: 0

  .button
    margin: 0.5rem 0

.class-analytics-graph
  display: inline-block
  vertical-align: top

.in-page-nav-wrapper
  float: left
  width: 200px
  @media (max-width: $media-small-max)
    float: none

.in-page-navigation
  list-style: none
  margin: 0
  padding: 0

  li
    padding: 0.25rem 0

// assignment index page for students and instructors
.assignment-index-container
  max-width: 1200px
  margin: 0 auto

.assignment-type-message
  background-color: $color-grey-7
  padding: 0.5rem
  margin: 0.5rem 0

.assignment_type
  .collapse
    margin: 0 0 -1px 0
    border: 1px solid $color-grey-6
    border-collapse: collapse
    h3
      display: inline
      font-size: 1.2rem
    span
      display: inline
      float: right
    a
      padding: 1rem
      display: block
    &.open
      border-bottom: 3px solid $color-blue-2

.assignment-type-container
  padding: 0 1.5rem 1rem
  border: 1px solid $color-grey-6
  margin-bottom: 0.5rem

.assignment-container
  border: 1px solid $color-grey-6
  padding: 0.5rem
  margin-bottom: 2px

.assignment-name
  display: inline-block
  width: 50%

.assignment-info
  display: inline-block
  font-size: 0.8rem
  p
    margin: 0

.assignment-points
  width: 20%

.assignment-due-date
  width: 20%
