@import "../utilities/variables"

.student-dashboard,
.instructor-dashboard
  display: flex
  flex-direction: row
  @media (max-width: $media-small-max)
    flex-wrap: wrap

  .flex-col
    display: flex
    flex-direction: column
    margin-right: 1rem
    min-width: 0
    &:last-child
      margin-right: 0
    @media (max-width: $media-medium-max)
      width: 50%
    @media (max-width: $media-small-max)
      width: 100%
      margin: 0

  .flex-column
    display: flex
    *
      box-sizing: border-box
    @media (max-width: $media-medium-max)
      display: block

  .flex-row
    margin-right: 1rem
    width: 49%
    @media (max-width: $media-medium-max)
      width: 100%

  .stacked-column
    width: 49%
    @media (max-width: $media-medium-max)
      width: 100%

  .stacked-module
    flex: 1 auto

  &.show-student
    padding: .25rem 1rem

/* Base styles for dashboard modules */
.dashboard-module
  margin-bottom: 1.25rem
  width: 100%
  border: 1px solid $color-grey-6
  border-radius: 3px

  .card-header
    background-color: $color-grey-7
    color: $color-grey-2
    padding: 0.3rem 0.5rem
    border-bottom: 1px solid $color-grey-6

    h2
      margin: 0
      padding: 0
      font-size: .9rem
      font-weight: 500

  .card-body
    padding: 1em

  .predicted-assignment-summary .name
    font-weight: bold
    width: 15rem


/* Styles the assignment planner module */
.todo .card-body
  padding: 0

.todo-list-assignments
  margin: 0
  padding-left: 0
  font-size: .8rem
  max-height: 800px
  overflow-y: auto

  li
    list-style-type: none

  .due-date
    color: $color-grey-2
    font-weight: 300
    font-size: 80%

.assignment-item
  position: relative
  padding: 0.5em
  border-bottom: 1px solid $color-grey-7

  &:last-child
    border-bottom: none

  &.starred
    border-left: 2px solid $color-orange-1
    .fa-flag
      color: $color-orange-1

  .button, .student-stats
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 8px

  .count
    display: inline
    padding: .25rem
    margin: .2rem
    background-color: transparentize($color-blue-4, .8)
    border-radius: 2px
    &.submissions-count
      background-color: transparentize($color-green-2, .8)

  a
    font-weight: 400

.planner-filter
  white-space: nowrap
  border-bottom: 1px solid $color-grey-7

  a
    font-weight: 400

.planner-subheader
  border-bottom: 1px solid $color-grey-7
  text-align: right
  padding: 0 1rem
  font-size: 0.65rem

  .predictions-label, .submissions-label
    padding: .25rem
    margin: .2rem

  .predictions-label
    background-color: transparentize($color-blue-4, .8)

  .submissions-label
    background-color: transparentize($color-green-2, .8)

.dashboard-message
  background-color: transparentize($color-blue-4, .8)
  padding: 2rem
  text-align: center

/* Styles the small version of the grading scheme */
.student-dashboard, .instructor-dashboard
  .chart-labels
    margin: 0 0.5rem 0.5rem 0.5rem
    font-size: 0.75rem
    border-bottom: 1px solid $color-grey-7
  .bar_magic
    border-radius: 5px
    padding: .25rem .5rem
    font-size: 0.8rem
    position: relative
    width: 100%
    .meter
      max-height: 20px
      overflow: hidden
    .level-name
      display: inline-block
      max-width: 90%
    .fill-bar
      position: absolute
      height: 100%
      background-color: transparentize($color-green-2, 0.6)
      left: 0
      top: -3
      padding: 0
    .student-count
      float: right

  .bar_magic.current
    padding: 0.5rem 1rem

    .your-rank
      font-size: 0.9rem

    .left-points, .right-points
      margin: 0

  .bar_magic.no-level
    background-color: transparentize($color-yellow-1, .75)

/* Styling the badges in course progress module */
ul.badge-grid
  margin: 0 auto
  padding: 0

  li
    width: 10%
    display: inline-block
    list-style-type: none
    margin-bottom: .5rem

    img.unearned
      opacity: 0.2

    a
      display: block

.avatar
  background-color: transparentize($color-blue-4, .8)
  ul.button-bar
    padding-left: 0
    li
      display: inline-block
      list-style-type: none
      margin: 0
      a.button
        margin: 0

/* Box plot */
#grade_distro
  box-sizing: border-box

  &.js-plotly-plot .plotly .cursor-pointer
    cursor: default

/* Styles course events slider */
#events-loading-spinner
  margin: 0 auto
  display: block

.dashboard-module
  .slide-container
    display: none

  .slick-slider
    display: block

  .slick-slide
    height: auto
    padding: 0.25rem 2rem
    @media (max-width: $media-small-max)
      padding: 0.2rem 0.5rem

.event-information
  display: flex
  align-items: center
  @media (max-width: $media-medium-max)
    display: block
  p
    margin: 0

.event-description
  width: 100%
  word-wrap: break-word

.event-image
  float: left
  margin-right: 1rem
  @media (max-width: $media-small-max)
    float: none

  img
    max-width: 350px
    @media (max-width: $media-small-max)
      margin: 0 auto

.event-name
  font-size: 1rem
  text-align: center
  font-weight: 400
  @media (max-width: $media-small-max)
    padding: 0 1.25rem

.event-date
  font-size: 0.8rem
  color: $color-grey-3
  margin-top: 0.2rem
  text-align: center
  @media (max-width: $media-small-max)
    padding: 0 1.25rem

.calendar-access
  text-align: right
  padding: .25rem

.slider-direction-button
  position: absolute
  top: 2%
  display: block
  font-size: 0.8rem
  width: 1.2rem
  text-align: center
  line-height: 1.2rem
  padding: .1rem
  cursor: pointer
  z-index: 1
  color: $color-blue-3
  border-radius: 50%
  border: 1px solid $color-blue-3
  &:hover
    text-decoration: none
    background-color: $color-blue-3
    color: $color-white

  &.next
    right: 5px

  &.previous
    left: 5px

.last-slide
  text-align: center

/* Styles list of assignments due on bottom of course events module */
ul.assignments-due
  padding: 0
  margin-top: 1.5rem
  list-style: none

  li
    background-color: transparentize($color-grey-5, .9)
    border-left: 3px solid $color-blue-3
    padding: .25rem 1rem
    margin: .25rem 0
    font-weight: 300
    font-size: 0.8rem

/* Styles weekly stats module */
.weekly-stats-module
   font-size: 0.8rem
   max-height: 220px
   overflow-y: auto

   .module-section
     margin-bottom: 1rem

   .week-points
     font-size: 1.25rem
     font-weight: 600

   p
     margin: 0
     font-size: 0.9rem
     font-weight: 400

   ul
     list-style: none
     padding: 0
     margin: 0
     font-weight: 300

   .img-cropper
     vertical-align: middle
     display: inline-block

.instructor-dashboard
  .weekly-stats-module
    max-height: 180px

/* Styles the message for a user has no course memberships */
.message-container
  background-color: $color-white
  max-width: 400px
  border-radius: 1rem
  opacity: .6
  padding: 1rem
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
