@import "../utilities/variables"

.update-password-wrapper
  max-width: 240px
  // padding: 1rem
  margin: 1rem 0
  border: 1px solid $color-grey-6
  background-color: $color-grey-7
  border-radius: $global-radius
  @media (max-width: $media-small-max)
    max-width: 100%
  .update-button
    width: 240px
    padding: 1rem
    font-size: 0.9rem
    text-align: left
    @media (max-width: $media-small-max)
      width: 100%
  .cancel-button
    font-size: 0.8rem
    float: right
  &.form-showing
    padding: 1rem

.update-password-form
  display: none
