@import "../utilities/variables"

.level-flagged-value
  padding: 0.2rem
  font-size: 0.65rem
  text-align: center
  text-transform: capitalize
  &.yellow
    background-color: $color-yellow-1
  &.red
    background-color: $color-red-1
  &.green
    background-color: $color-green-1

.rubric-design
  textarea
    &.slim
      width: 30%

  .objective-category
    display: inline-block
    width: 24%

  select, option
    &.flagged_values
      padding: 8px
      margin: 8px 0
      width: 11.75rem
      min-width: 0
