@import "../utilities/variables"

.level-flagged-value
  padding: 0.2rem
  font-size: 0.65rem
  text-align: center
  text-transform: capitalize
  &.yellow
    background-color: $color-yellow-1
  &.red
    background-color: $color-red-1
  &.green
    background-color: $color-green-1
