@import "../utilities/variables"

.login
  margin: 1em 0
  text-align: center
  @media (max-width: $media-small-max)
    padding: 0

  h1
    display: inline-block
    font-size: 1.5rem

  .alert-bkg
    margin-bottom: 1rem

  input
    border: 1px solid $color-grey-5
    padding: 1.1rem
    display: block
    margin: 1rem 0
    width: 100%
    &.login-button
      border: 0
      margin: 0 auto
      width: 200px

  .google-login
    .google-img
        width: 40px
        align: center
        margin: 0px 10px

    .login-button
        border-radius: $global-radius
        text-decoration: none
        text-align: center
        vertical-align: middle
        color: $color-white
        display: inline-flex
        border: none
        margin: .50rem
        padding: 0px 20px
        font-size: .7rem
        line-height: 2.8rem
        cursor: pointer
        background-color: $color-blue-1
        white-space: nowrap
        font-weight: 400
        font-family: 'Open Sans', sans-serif
        appearance: none
        &:hover
          background-color: $color-blue-2

  .login-form-container
    max-width: 600px
    margin: 5em auto 0 auto
    background-color: $color-white
    box-sizing: border-box
    padding: 2rem 3rem
    text-align: center
    border-radius: 3px
    @media (max-width: $media-small-max)
      border-radius: 0

  .login-block
    margin-bottom: 1em

  .um-login, .account-create
    display: block
    background-color: #00274c
    width: 100%
    padding: 0.75rem
    box-sizing: border-box
    margin: 1rem auto
    width: 200px
    font-size: 1rem
    font-weight: 300

  .login-logo
    display: inline-block
    vertical-align: text-bottom
    margin-right: 0.25rem

  .divider
    margin: 2rem 0
    border-bottom: 1px solid $color-grey-5
    position: relative

  .divider-message
    position: absolute
    padding: 1em
    background-color: $color-white
    top: -2.5rem
    right: 45%

  .password-forgot-form, .gradecraft-login
    padding: 2rem
    display: none
    @media (max-width: $media-small-max)
      padding: 0
