@import "../utilities/variables"
  
/* Create two columns of equal width */
.pricing-columns
  float: left
  width: 32%
  padding: 8px

/* Style the list */
.pricing-columns ul
  list-style-type: none
  background-color: white
  margin: 0
  padding: 0
  -webkit-transition: 0.3s
  transition: 0.3s

/* Add shadows on hover */
.pricing-columns ul:hover
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)

/* Pricing header */
.pricing-columns ul .package
  background-color: $color-blue-3
  color: white
  text-transform: uppercase
  font-size: 25px

/* List items */
.pricing-columns ul li
  border-bottom: 1px solid $color-grey-7
  padding: 20px
  text-align: center

/* Grey list item */
.pricing-columns ul .grey 
  background-color: $color-grey-7
  font-size: 20px

/* The "Sign Up" button */
.signup.button 
  background-color: $color-green-3
  padding: 10px
  font-size: 18px
  &:hover
    background-color: darken($color-green-3, 2%)
    
.contact.button
  background-color: $color-blue-3
  padding: 10px
  font-size: 18px
  &:hover
    background-color: darken($color-blue-3, 2%)

/* Change the width of the three columns to 100% (to stack horizontally on small screens) */
@media only screen and (max-width: 600px) 
  .pricing-columns 
      width: 100%
