%select#analytics-switcher
  = analytics_switcher_option(analytics_students_path, 'Analytics', 'student')
  = analytics_switcher_option(analytics_staff_path, 'Analytics', 'team_leader')
  = analytics_switcher_option(per_assign_path, 'Analytics', 'assignment')
  = analytics_switcher_option(assignment_types_path, 'Analytics', 'assignment_type')
