.small-12.panel.mainContent

  = content_nav_for "#{term_for :team} Analytics"

  %h3.pagetitle= @title

  .small-12.columns

    #grade_distro

    - if current_course.has_teams?
      #highchart
      #grades_per_assign{"data-id" => "7"}
