%h2{:align => "center"}
  %strong #{@announcement.course.name} Announcement

%p{:align => "center"}
  = @announcement.abstract.html_safe

%p{:align => "center"}
  %em – #{@announcement.author.name}

%p{:align => "center"}
  To read more, please visit
  = link_to announcement_url(@announcement), announcement_url(@announcement)
%hr/
