.flex-col.col-40
  .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_message", locals: { presenter: presenter }
  - if presenter.due_dates?
    .panel.todo.dashboard-module
      %dashboard-to-do-list

.flex-col.col-60
  - if @events.present?
    .panel.dashboard-module= render partial: "info/dashboard/modules/dashboard_course_events", locals: { presenter: Info::DashboardCourseEventsPresenter.new(course: current_course, assignments: presenter.assignments) }

  .flex-column
    - if current_course.grade_scheme_elements.present? && GradeSchemeElement.has_valid_elements_for(current_course)
      .panel.dashboard-module.grading-scheme-module.flex-row= render partial: "info/dashboard/modules/dashboard_grading_scheme"

    .stacked-column
      .panel.dashboard-module.stacked-module
        %course-distribution-analytics

      .panel.dashboard-module.stacked-module
        %weekly-stats-analytics
