.badge-index-section
  .badge-icon-container{'ng-repeat'=>'badge in vm.BadgeService.badges', 'ng-click'=>'vm.awardBadge(badge)'}
    %img{'ng-class'=>"(vm.badgeEarnedForGrade(badge) ? 'badge-icon' : 'badge-icon  unearned')", 'ng-src'=>'{{badge.icon}}'}
    %p.badge-name {{badge.name}}
    .gold-stars
      %i.fa.fa-fw.fa-star
        .earned-count {{badge.earned_badge_count}}
