%section.form-section
  .form-subsection
    .form-item
      %label
        {{termFor("badge")}} Name
        %input(aria-required=true type="text" ng-model="badge.name" ng-change="updateBadge()")

    .form-item
      %label
        Points Awarded
        %input(ng-model="badge.full_points" gc-number-input ng-change="updateBadge()")

    .form-item
      %label(for="badge-description")
        {{termFor("badge")}} Description
        %span.has-tooltip
          %i.fa.fa-info-circle
          .display-on-hover.hover-style
            This will be shown to students on their dashboard, and when they submit their {{ termFor("badge") }}.
      %textarea#badge-description(ng-model="badge.description" ng-blur="updateBadge()" froala)

    %badge-icon-uploader(badge="badge")
