.student-panel-wrap
  %student-panel.student-panel.badge-panel{'context'=>'"badges"'}

  #student-main-column

    %loading-message{'loading'=>'loading', 'message'=>"Loading Badges..."}

    .badge-index-section
      .badge-icon-container{'ng-repeat'=>'badge in badges', 'ng-class'=>'{"focus-article": isFocusArticle(badge)}'}
        %a.mobile-click{:href => "badges/{{badge.id}}"}
        .img-cropper.med-crop
          %img{'ng-class'=>"(badge.earned_badge_count <= 0 ? 'badge-icon unearned' : 'badge-icon')", 'ng-src'=>'{{badge.icon}}', 'ng-click'=>'changeFocusArticle(badge)'}
        %p.badge-name {{badge.name}}
        .gold-stars{'ng-class'=>"(badge.earned_badge_count <= 0 ? 'unearned' : 'earned')"}
          %i.fa.fa-fw.fa-star
            .earned-count {{badge.earned_badge_count}}
