.student-panel-wrap
  .student-panel{'context'=>'"badges"'}

  #student-main-column

    #predictor-loading-message{'ng-if'=>'loading'}

      %h2
        %i.fa.fa-spinner.fa-spin.fa-fw
        Loading Badges...

    .badge-index-section
      .badge-icon-container{'ng-repeat' => 'badge in badges'}
        %img.badge-icon{'src'=> '{{badge.icon}}', 'ng-click'=>'changeFocusArticle(badge)'}
        %p.badge-name {{badge.name}}
        .gold-stars
          %i.fa.fa-fw.fa-star
            .earned-count {{badge.earned_badge_count}} 
