%h4.card-title LTI Integration
%p.card-text An open-source LMS from Instructure.
%p.card-text Import assignments, students, and grades from Canvas and keep them in sync.

= f.input :lti_uid, label: "LTI ID"
