%h2.center{"ng-if"=>"assignmentShowTableCtrl.loading"}
  %i.fa.fa-spinner.fa-spin.fa-fw
  Loading...

%table.no-table-header{"ng-if"=>"!assignmentShowTableCtrl.loading"}
  %thead{"assignment-show-table-header"=>""}
  %tbody{"assignment-show-table-body"=>"", "data-links-visible"=>"{{assignmentShowTableCtrl.linksVisible}}"}
