%loading-message{"data-loading"=>"assignmentShowTableCtrl.loading",
                 "data-message"=>"Loading Assignment Info..."}

%table.no-table-header{"ng-if"=>"!assignmentShowTableCtrl.loading"}
  %thead{"assignment-show-table-header"=>""}
  %tbody{"assignment-show-table-body"=>""}
