- if ! gse.is_unlocked_for_student?(student)
  .unlock_conditions
    %h3.bold This Level is Locked
    .small.italic In order to unlock it you must:
    - gse.unlock_conditions.each do |condition|
      .condition= condition.requirements_description_sentence
