#predictor-main-content{class: ("with-sidebar" if ! @fullpage), "ng-app" => "gradecraft", "ng-init" => "init(#{@student_id})", "ng-controller" => "PredictorCtrl", "ng-include" => true, "src" => "'ng_predictor_main.html'"}
