.verification{:'data-current-score' => @current_score, :'data-current-grade-level' => @current_grade_level}

#predictor-main-content{'ng-app' => 'gradecraft', 'ng-controller' => 'PredictorCtrl', 'ng-include' => true, 'src' => "'ng_predictor_main.html'"}

