%rubric-points-overview(ng-if='!vm.loading')

%loading-message(loading='vm.loading' message="Loading Rubric...")

#criterion-box(ui-sortable ng-model="vm.criteria" ng-change="vm.updateOrder()")

  .rubric-container.divider(ng-repeat="criterion in vm.criteria")
    %rubric-criterion(criterion="criterion")

%button#new-rubric-criterion(ng-if="!vm.hasNewCriterion()" ng-click="vm.openNewCriterion()") + Criterion
