%rubric-points-overview(ng-if='!vm.loading')

%loading-message(loading='vm.loading' message="Loading Rubric...")

#criterion-box

  .rubric-container.divider(ng-repeat="criterion in vm.criteria")
    %rubric-criterion-design(criterion="criterion")

%button#new-rubric-criterion(type="button" ng-click="vm.newCriterion()" ng-hide) + Criterion
