%rubric-points-overview(ng-if='!vm.loading')

%loading-message(loading='vm.loading' message="Loading Rubric...")

#criterion-box

  .rubric-container.divider(ng-repeat="criterion in vm.criteria")
    .criterion(name="criterionForm" ng-form ng-submit="vm.createCriterion()" ng-class="{saved: vm.criterionIsSaved()}" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}")
      .order-label {{$index + 1}}
      -#= render partial: "rubrics/new_criterion"
      %label
        %span.sr-only Criterion Name
        %input(type="text" ng-model="criterion.name" name="name" placeholder="Criterion Name" value="{{criterion.name}}"  required ng-blur="criterion.modify(criterionForm)" ng-Maxlength=30 ng-change="criterion.change()" maxlength=30)
      %label
        %span.sr-only Criterion Max Points
        %input.points(type="number" ng-model="criterion.max_points" name="maxPoints" placeholder="Max Points"  required integer min=0 ng-blur="criterion.modify(criterionForm)" ng-change="criterion.change()")

      %label
        %span.sr-only Criterion Description
        %textarea.criterion-description(ng-model="criterion.description" placeholder="Description" value="{{criterion.description}}" ng-change="criterion.change()" ng-blur="criterion.update()")
          -#
            %option(ng-repeat="(availableBadgeId, availableBadge) in criterion.availableBadges" value="{{availableBadge.id}}") {{availableBadge.name}}


      %input(type="hidden" value="{{$index}}")
      %button.delete(type="button" ng-click="criterion.delete($index)") X


    .new-criterion-notice(ng-show="vm.criterionIsNew()") "Criterion Name" and "Max Points" are required fields
    .level-container(ng-show="!vm.criterionIsNew()")
      .level-wrapper
        .level(name="levelForm" ng-repeat="level in criterion.levels" ng-form ng-submit="vm.createLevel()" ng-class="{saved: vm.levelIsSaved(), nocredit: level.noCredit, 'level-meets-expectations': level.vm.pointsMeetExpectations()}")
          -#= render partial: "rubrics/new_level"
        %button.add-level(name="newLevel" ng-click="insertLevel(criterion)" ng-show="vm.criterionIsSaved()")
          + Level

%button#new-rubric-criterion(type="button" ng-click="vm.newCriterion()" ng-hide) + Criterion
