.badge-row.clickable(ng-click="editBadges()")
  .badge-messages Badges
  .level-badge-image(ng-repeat="badge in badgesForLevel()")
    %img(ng-src="{{badge.icon}}" alt="{{badge.name}}" title="{{badge.name}}" width="35px" height="35px")

.badge-modal-window(ng-if="editingBadges()")

  %rubric-level-badge-selector(level="level")

  .level-badge(ng-repeat="badge in badgesForLevel()")
    %img(ng-src="{{badge.icon}}" width="20px" height="20px" alt="{{badge.name}}")
    {{badge.name}}
    %button.delete(type="button" ng-click="deleteLevelBadge(badge.id)") X

  .update-badges
    %button.close-modal(ng-click="closeBadges()") Update Badges
