.level(ng-repeat="level in criterion.levels" ng-class="{nocredit: level.no_credit, 'level-meets-expectations': satifiesExpectations(level)}")
  %rubric-level(criterion="criterion" level="level")

.level(ng-repeat="level in newLevels()" ng-class="{'level-not-saved': !levelIsSaved(level)}")
  %rubric-new-level(criterion="criterion" level="level")

%button.add-level(ng-if="canAddNewLevel()" name="newLevel" ng-click="addNewLevel()" ng-show="criterionIsSaved()")
  + Level

