.level-items(name="levelForm" ng-form ng-submit="createLevel()" ng-class="{saved: levelIsSaved(), nocredit: level.noCredit, 'level-meets-expectations': satifiesExpectations()}")

  %label
    %span.sr-only Level Name
    %input(type="text" ng-model="level.name" placeholder="Level Name" required ng-blur="level.modify(levelForm)" ng-Maxlength=30 ng-change="level.change()" maxlength=30)

  %label
    %span.sr-only Level Points
    %input(type="number" ng-model="level.points" placeholder="Points" min=0 ng-blur="level.modify(levelForm)" ng-change="level.change()" required)

  %label
    %span.sr-only Level Description
    %textarea(ng-model="level.description" placeholder="Description" value="{{level.description}}" ng-blur="level.modify(levelForm)" ng-change="level.change()")

  %rubric-level-badges(ng-if="levelIsSaved()" level="level")

  %button.meets-expectations-status(ng-if="showExpectationButton()" type="button" ng-class="{'no-expectation': !meetsExpectationsSet()}") {{expectationsLabel()}}
  %button.meets-expectations-toggle(type="button" ng-class="{'remove': level.meetsExpectation}" ng-click="level.toggleMeetsExpectationsLevel()") {{expectationsHoverLabel()}}
  %button.delete(type="button" ng-click="deleteLevel()" ng-hide="level.required") X

