.scroll-table
  %div
    %table
      %caption.sr-only Gradebook
      %thead
        %tr
          %th{"scope"=>"col"} First name
          %th{"scope"=>"col"} Last name
          %th{"scope"=>"col", "ng-repeat"=>"assignment in vm.assignments"}
            {{assignment.name}}
          %th{"scope"=>"col", "ng-if"=>"vm.hasBadges"} {{vm.termForBadge}}
          %th{"scope"=>"col"} Total Score
          %th{"scope"=>"col"} Final Grade
          %th{"scope"=>"col"} {{vm.termForStudent}}
      %tbody
        %tr{"ng-repeat"=>"student in vm.students"}
          %td
            %a{"href"=>"{{student.student_link}}"} {{student.first_name}}
          %td
            %a{"href"=>"{{student.student_link}}"} {{student.last_name}}
          %td{"ng-repeat"=>"score in student.scores"}
            %a{"href"=>"{{score.grade_link}}", "ng-if"=>"score.grade_link"} {{score.value}}
            %span{"ng-if"=>"!score.grade_link"} {{score.value}}
          %td {{student.badge_score}}
          %td {{student.total_score}}
          %td {{student.final_grade}}
          %td
            %a{"href"=>"{{student.student_link}}"} {{student.full_name}}

        %tr{"ng-if"=>"vm.loading"}
          %td{"colspan"=>"{{6 + vm.assignments.length}}"}
            %i.fa.fa-spinner.fa-spin.fa-fw
            Loading grades..
