%loading-message{'loading'=>'vm.loading', 'message'=>"Loading Gradebook..."}

.scroll-table{"ng-if"=>"!vm.loading"}
  %div
    %table
      %caption.sr-only Gradebook
      %thead
        %tr
          %th{"scope"=>"col"} First name
          %th{"scope"=>"col"} Last name
          %th{"scope"=>"col", "ng-repeat"=>"assignment in vm.assignments"}
            {{assignment.name}}
          %th{"scope"=>"col", "ng-if"=>"vm.hasBadges"} {{vm.termForBadge}}
          %th{"scope"=>"col"} Total Score
          %th{"scope"=>"col"} Final Grade
          %th{"scope"=>"col"} {{vm.termForStudent}}
      %tbody
        %tr{"ng-repeat"=>"student in vm.students"}
