- content_for :context_menu do
  .context_menu
    %ul
      - if @staff_member.present?
        = active_course_link_to glyph(:edit) + "Edit Staff Member", edit_user_path(@staff_member), class: "button button-edit"
