.context_menu
  %ul
    %li= link_to_unless_current glyph(:plus) + "New User", new_user_path
    - if @staff_member.present?
      %li= link_to_unless_current glyph(:edit) + "Edit Staff Member", edit_user_path(@staff_member)
      %li= link_to_unless_current glyph(:list) + "Show Staff Member", staff_path(@staff_member)
