- presenter.earned_badges.each do |badge|
  .earned-badge
    .earned-badge-date
      %h2 Awarded
      = glyph(:calendar) + "#{ badge.created_at.strftime("%A, %B %d, %Y") }"
    .earned-badge-feedback
      = raw badge.feedback
