= render partial: "badges/context_menu", locals: {actions: [:new]} if current_user_is_staff?

- if current_user_is_student?
  = render partial: "badges/index_student", locals: { presenter: presenter }

- elsif current_user_is_staff?
  = render partial: "badges/index_staff", locals: { presenter: presenter }
