%div.night-color-wash

%div.back-sky-container
  %div.cloud.cloud-1
    %div.star.star-1
    %div.star.star-2
    %div.star.star-3
    %div.star.star-4
    %div.star.star-5
    %div.star.star-6
    %div.star.star-7
    %div.star.star-8
    %div.star.star-9
    %div.star.star-10
    %div.star.star-11
    %div.star.star-12
    %div.star.star-13
    %div.star.star-14
    %div.star.star-15
    %div.star.star-16
    %div.star.star-17
    %div.star.star-18
    %div.star.star-19
    %div.star.star-20
    %div.star.star-21
    %div.star.star-22
    %div.star.star-23
    %div.star.star-24
    %div.star.star-25
    %div.star.star-26
    %div.star.star-27
    %div.star.star-28
    %div.star.star-29
    %div.star.star-30
    %div.star.star-20
    %div.star.star-30
    %div.star.star-31
    %div.star.star-32
    %div.star.star-33
    %div.star.star-34
    %div.star.star-35
    %div.star.star-36
    %div.star.star-37
    %div.star.star-38
    %div.star.star-39
    %div.star.star-40
    %div.cloud-bubble.cloud-bubble-10
    %div.cloud-bubble.cloud-bubble-10
    %div.cloud-bubble.cloud-bubble-10
    %div.cloud-bubble.cloud-bubble-10
    %div.cloud-bubble.cloud-bubble-10
    %div.cloud-bubble.cloud-bubble-10
    %div.cloud-bubble.cloud-bubble-10

  %div.cloud.cloud-2
    %div.star.star-1
    %div.star.star-2
    %div.star.star-3
    %div.star.star-4
    %div.star.star-5
    %div.star.star-6
    %div.star.star-7
    %div.star.star-8
    %div.star.star-9
    %div.star.star-10
    %div.star.star-11
    %div.star.star-12
    %div.star.star-13
    %div.star.star-14
    %div.star.star-15
    %div.star.star-16
    %div.star.star-17
    %div.star.star-18
    %div.star.star-19
    %div.star.star-20
    %div.star.star-21
    %div.star.star-22
    %div.star.star-23
    %div.star.star-24
    %div.star.star-25
    %div.star.star-26
    %div.star.star-27
    %div.star.star-28
    %div.star.star-29
    %div.star.star-30
    %div.star.star-20
    %div.star.star-30
    %div.star.star-31
    %div.star.star-32
    %div.star.star-33
    %div.star.star-34
    %div.star.star-35
    %div.star.star-36
    %div.star.star-37
    %div.star.star-38
    %div.star.star-39
    %div.star.star-40

  %div.cloud.cloud-3
    %div.star.star-8
    %div.star.star-2
    %div.star.star-3
    %div.star.star-4
    %div.star.star-5
    %div.star.star-6
    %div.star.star-7
    %div.star.star-9
    %div.star.star-10
    %div.star.star-1
    %div.star.star-11
    %div.star.star-12
    %div.star.star-13
    %div.star.star-14
    %div.star.star-15
    %div.star.star-16
    %div.star.star-17
    %div.star.star-18
    %div.star.star-19
    %div.star.star-20
    %div.star.star-21
    %div.star.star-22
    %div.star.star-23
    %div.star.star-24
    %div.star.star-25
    %div.star.star-26
    %div.star.star-27
    %div.star.star-28
    %div.star.star-29
    %div.star.star-30
    %div.star.star-31
    %div.star.star-32
    %div.star.star-33
    %div.star.star-34
    %div.star.star-35
    %div.star.star-36
    %div.star.star-37
    %div.star.star-38
    %div.star.star-39
    %div.star.star-40

  %div.cloud.cloud-4
    %div.cloud-bubble.cloud-bubble-9
    %div.cloud-bubble.cloud-bubble-8
    %div.cloud-bubble.cloud-bubble-7
    %div.cloud-bubble.cloud-bubble
    %div.cloud-bubble.cloud-bubble
    %div.star.star-1
    %div.star.star-2
    %div.star.star-3
    %div.star.star-4
    %div.star.star-5
    %div.star.star-6
    %div.star.star-7
    %div.star.star-8
    %div.star.star-9
    %div.star.star-10
    %div.star.star-11
    %div.star.star-12
    %div.star.star-13
    %div.star.star-14
    %div.star.star-15
    %div.star.star-16
    %div.star.star-17
    %div.star.star-18
    %div.star.star-19
    %div.star.star-20
    %div.star.star-21
    %div.star.star-22
    %div.star.star-23
    %div.star.star-24
    %div.star.star-25
    %div.star.star-26
    %div.star.star-27
    %div.star.star-28
    %div.star.star-29
    %div.star.star-30
    %div.star.star-20
    %div.star.star-30
    %div.star.star-31
    %div.star.star-32
    %div.star.star-33
    %div.star.star-34
    %div.star.star-35
    %div.star.star-36
    %div.star.star-37
    %div.star.star-38
    %div.star.star-39
    %div.star.star-40

  %div.cloud.cloud-5
    %div.cloud-bubble.cloud-bubble-7
    %div.cloud-bubble.cloud-bubble-2
    %div.cloud-bubble.cloud-bubble-12
    %div.cloud-bubble.cloud-bubble-1
    %div.cloud-bubble.cloud-bubble-5

%div.night.message-container
  %h1= @error.header
  %div.message= @error.message
  %div.back-to-site
    %a{href: "#{@error.redirect_path}"} I want to go home

%div.background-container
  %div.hills
    %div.hill.hill-3.night-hill-position-1
    %div.hill.hill-1.night-hill-position-2
    %div.hill.hill-2.night-hill-position-3


  %div.background-left-wrapper
    %div.mountain.mountain-size-1
      %div.mountain-left-side
      %div.mountain-peak
        %div.mountain-peak-left-spacer
        %div.mountain-peak-left-side

      %div.mountain-right-side
      %div.mountain-peak
        %div.mountain-peak-right-spacer
        %div.mountain-peak-right-side

      %div.mountain-root
      %div.mountain-root-right

    %div.mountain-mountain-2-mountain-size-3
      %div.mountain-left-side
      %div.mountain-peak
        %div.mountain-peak-left-spacer
        %div.mountain-peak-left-side

      %div.mountain-right-side
      %div.mountain-peak
        %div.mountain-peak-right-spacer
        %div.mountain-peak-right-side

      %div.mountain-root
      %div.mountain-root-right

    %div.mountain-mountain-3-mountain-size-5
      %div.mountain-left-side
      %div.mountain-peak
        %div.mountain-peak-left-spacer
        %div.mountain-peak-left-side

      %div.mountain-right-side
      %div.mountain-peak
        %div.mountain-peak-right-spacer
        %div.mountain-peak-right-side

      %div.mountain-root
      %div.mountain-root-right

  %div.background-right-wrapper
    %div.mountain-mountain-4-mountain-size-2
      %div.mountain-left-side
      %div.mountain-peak
        %div.mountain-peak-left-spacer
        %div.mountain-peak-left-side

      %div.mountain-right-side
      %div.mountain-peak
        %div.mountain-peak-right-spacer
        %div.mountain-peak-right-side

      %div.mountain-root
      %div.mountain-root-right

    %div.mountain-mountain-5-mountain-size-4
      %div.mountain-left-side
      %div.mountain-peak
        %div.mountain-peak-left-spacer
        %div.mountain-peak-left-side

      %div.mountain-right-side
      %div.mountain-peak
        %div.mountain-peak-right-spacer
        %div.mountain-peak-right-side

      %div.mountain-root
      %div.mountain-root-right

    %div.mountain-mountain-6-mountain-size-2
      %div.mountain-left-side
      %div.mountain-peak
        %div.mountain-peak-left-spacer
        %div.mountain-peak-left-side

      %div.mountain-right-side
      %div.mountain-peak
        %div.mountain-peak-right-spacer
        %div.mountain-peak-right-side

      %div.mountain-root
      %div.mountain-root-right
