.loading-indicator.center{"ng-if"=>"toDoListCtrl.loading"}
  %i.fa.fa-spinner.fa-spin.fa-fw

.to-do-list{"ng-if"=>"!toDoListCtrl.loading"}
  .card-header
    %h2{"ng-if"=>"toDoListCtrl.data.has_due_dates"} {{toDoListCtrl.termFor("assignments")}} Due This Week
    %h2{"ng-if"=>"!toDoListCtrl.data.has_due_dates"} {{toDoListCtrl.termFor("assignment")}} Planner

  .card-body#todo-list{"ng-if"=>"!toDoListCtrl.loading"}
    .planner-filter.clearfix{"role"=>"tabList", "aria-label"=>"Course Assignments or My Assignments", "ng-if"=>"toDoListCtrl.data.has_current_student"}
      %button.button-filter#course-planner{"role"=>"tab",
                                           "ng-click"=>"toDoListCtrl.tab='coursePlanner'",
                                           "ng-class"=>"{selected: toDoListCtrl.tab === 'coursePlanner'}"} Course Planner
      %button.button-filter#my-planner{"role"=>"tab",
                                       "ng-click"=>"toDoListCtrl.tab='myPlanner'",
                                       "ng-class"=>"{selected: toDoListCtrl.tab === 'myPlanner'}"} My Planner

    %dashboard-to-do-list-items{"data-assignments"=>"toDoListCtrl.coursePlannerAssignments",
                                "data-assignment-type"=>"course-planner-list",
                                "data-data"=>"toDoListCtrl.data",
                                "ng-show"=>"toDoListCtrl.tab === 'coursePlanner'",
                                "role"=>"tabPanel"}
    %dashboard-to-do-list-items{"data-assignments"=>"toDoListCtrl.plannerAssignments",
                                "data-assignment-type"=>"my-planner-list",
                                "data-data"=>"toDoListCtrl.data",
                                "ng-show"=>"toDoListCtrl.tab === 'myPlanner'",
                                "role"=>"tabPanel"}

    %div{"ng-if"=>"!toDoListCtrl.data.has_current_student"}
      .planner-subheader
        %p
          %span.predictions-label Total Predictions
          %span.submissions-label Total Submissions
      %dashboard-instructor-assignment-list{"data-assignments"=>"toDoListCtrl.coursePlannerAssignments"}
