%canvas-assignments-selector{"provider"=>"#{@provider_name}",
                             "assignment-id"=>"#{@assignment.id}",
                             "assignment-name"=>"#{@assignment.name}"}
