.pageContent
  = render partial: "layouts/alerts"

  = partial_with "importers/assignments_table", locals: { path: assignment_grades_importer_grades_path(@assignment, @provider_name, @course["id"]) } do
    %p= submit_tag "Select grades from assignments to import", class: "button disabled", disabled: true, data: { behavior: "selected-assignments-command" }
