.pageContent
  = render partial: "layouts/alerts"

  %section
    .card{style: "height: 400px;"}
      .card-cap
        %img{src: "/images/csv-logo.png", height: "46px"}
      .card-block
        %h4.card-title CSV
        .card-text
        %p.card-text
          Upload a .csv file with grade information for students to import the student grades.

        = link_to "Import Grades from CSV", assignment_grades_importer_path(@assignment, :csv), class: "card-link button"

    .card{style: "height: 400px;"}
      .card-cap
        %img{src: "/images/canvas-logo.png"}
      .card-block
        %h4.card-title Canvas LMS
        .card-text
        %p.card-text
          An open-source LMS from Instructure. Import any grade for the courses you are enrolled as a teacher.

        - if !@assignment.course.linked?(:canvas)
          %p.card-text
            You must add the Canvas integration and link the course first in order to import any Canvas assignments.

          = link_to "Link a Canvas Course", integrations_path, class: "card-link button"
        -else
          = link_to "Import Canvas Grades", assignment_grades_importer_assignments_path(@assignment, :canvas, @assignment.course.linked_for(:canvas).provider_resource_id), class: "card-link button"
