.adjustments-per-student(ng-repeat="grade in grades")
  %section.grade-adjustment-points
    %label.grade-section-label(for="adjustment-points-input-{{grade.id}}")
      Adjustment Points
      %span(ng-if="groupGrade") for {{grade.student_name}}

    %input( type="text"
    id="adjustment-points-input-grade.id}"
    placeholder="Enter adjustment points for grade"
    ng-model="grade.adjustment_points"
    smart-number
    allow-negatives="true"
    ng-change="queueUpdateGrade()")

  %section.grade-adjustment-points-feedback(ng-if="grade.adjustment_points && grade.adjustment_points != 0")
    %label.grade-section-label(for="adjustment-points-feedback-{{grade.id}}") Adjustment Points Feedback
    %textarea(id="adjustment-points-feedback-{{grade.id}}" ng-model="grade.adjustment_points_feedback" ng-change="queueUpdateGrade()" froala="froalaOptions")
  .clear
