%section.grade-adjustment-points
  .grade-section-label Adjustment Points

  %input.adjustment-points-input( type="text"
  placeholder="Enter adjustment points for grade"
  ng-model="grade.adjustment_points"
  smart-number
  allow-negatives="true"
  ng-change="queueUpdateGrade()")
