%section.badge-index-section(ng-if="vm.BadgeService.badges.length > 0")
  .grade-section-label Award {{vm.BadgeService.termFor("badges")}} for this {{vm.BadgeService.termFor("assignment")}}
  .badge-icon-container.badge-award-button(ng-repeat="badge in vm.BadgeService.badges"
  ng-click="vm.awardBadge(badge)"
  ng-class='{"unavailable":!vm.badgeAvailable(badge), "awardable":vm.badgeAwardable(badge), "awarded":vm.badgeEarnedForGrade(badge)}'
  )
    %input.award-badge-checkbox(ng-if="vm.badgeAwardable(badge)" type="checkbox" ng-checked="vm.badgeEarnedForGrade(badge)")
    %img.badge-icon(ng-src="{{badge.icon}}")
    %p.badge-name {{badge.name}}

