%loading-message{'loading'=>'vm.loading', 'message'=>"Loading Grade..."}

%grade-raw-points{'ng-if'=>'vm.gradeType() == "DEFAULT"'}
%grade-pass-fail{'ng-if'=>'vm.gradeType() == "PASS_FAIL"'}
%grade-score-levels{'ng-if'=>'vm.gradeType() == "SCORE_LEVELS"'}
%hr.dotted
