-# This is the main template for the grading form,
-# all partials are loaded below.

%loading-message(loading='vm.loading' message="Loading Grade...")

%grade-rubric-edit(ng-if='vm.isRubricGraded()')

%article.grade-form-fields

  %grade-raw-points-input(ng-if='vm.isStandardGraded()')
  %grade-score-levels-select(ng-if='vm.isScoreLevelGraded()')
  %grade-pass-fail-switch(ng-if='vm.isPassFailGraded()')
  %grade-raw-points(ng-if='vm.isRubricGraded()')

  %learning-objectives-grading(data-assignment-id='vm.assignmentId')

  %label.grade-section-label(for="feedback-upload") {{ vm.feedbackMessage }}
  %grade-file-uploader
  %grade-feedback-text-input


%article.grade-form-fields(ng-if='!vm.isPassFailGraded()')
  %grade-adjustment-points-input(group-grade='vm.isGroupGrade')

%article.grade-form-fields(ng-if='!vm.isGroupGrade && vm.hasAwardableBadges')
  %grade-earned-badges-select(student-id='{{vm.recipientId}}')

.grading-summary
  %grade-points-overview(ng-if='!vm.loading && !vm.isPassFailGraded() && !vm.isGroupGrade' grade-type='{{vm.isRubricGraded() ? "RUBRIC" : "STANDARD_ASSIGNMENT"}}')
  %grade-complete-switch
  %grade-visible-switch
  .right
    %grade-submit-buttons(ng-if='vm.isActiveCourse' submit-path='{{vm.submitPath}}' grade-next-path='{{vm.gradeNextPath}}')

.clear

%hr.grading-divider
%span.italic
  %grade-last-updated
