%section.grade-pass-fail
  .binary-switch-title
    {{textForTitle()}}
  .binary-switch-socket{'ng-click'=>'toggleSwitch()', 'ng-class'=>'switchState()'}
    .binary-switch-handle
  .binary-switch-label
    {{textForSwitch()}}

