.points-overview-container
  #points-overview-floating
    %h4#points-legend
      %span.points-assigned(ng-class="{'points-missing': pointsAreLessThanFull(), 'points-satisfied': pointsAreSatisfied(), 'points-overage': pointsAreOver()}") {{ finalPoints() | number:0 }} Points

    %h4.notice(ng-show="!pointsArePresent()") You have not yet allocated any points
    %h4.notice(ng-show="pointsArePresent()") {{ grade.raw_points | number:0 }} / {{ assignment().full_points | number:0 }} Points Allocated

    %h4.notice(ng-show="pointsAreLessThanFull()") {{ pointsBelowFull() | number:0 }} point{{ pointsRemaining() > 1 ? "s" : "" }} have not been assigned
    %h4.notice(ng-show="pointsAreSatisfied() || pointsAreOver()") You have allocated all possible points
    %h4.notice(ng-show="isBelowThreshold()") {{ pointsBelowThreshold() | number:0 }} points below the threshold

    %h4.notice.adjustment(ng-class="{'positive-adjustment' : adjustmentPoints() > 0}" ng-show="adjustmentPoints() != 0") You have adjusted the total by {{adjustmentPoints()}} points
