%section#rubric-grader

  .grade-section-label Grade Assignment by Rubric
  %h4.text-right (click to select the level earned for each criterion)

  #rubric-grade-edit.rubric.edit
    .criterion(ng-repeat="criterion in criteria")
      .criterion-heading
        %h4.criterion-name {{criterion.name}} {{(criterion.max_points || 0) | number:0}} Points
        %p.criterion-description {{criterion.description}}

      %ul.level-tabs
        %li.level-tab(ng-repeat="level in criterion.levels" ng-click="selectLevel(level)" ng-class="{selected: LevelIsSelected(criterion,level), 'meets-expectations': levelMeetExpectations(criterion, level)}")
          .level-heading
            .level-details
              .level-name {{level.name}}
              .level-points
                {{level.points | number:0}} Points
            %ul.badge-row.design-view
              %li.level-badge-image(ng-repeat="(levelBadgeId, levelBadge) in level.badges")
                %img(ng-src="{{levelBadge.badge.icon}}")

          .level-description
            .level-meets-expectations(ng-show="levelMeetExpectations(criterion, level)") Meets Expectations
            {{level.description}}

      .comments-box
        %textarea(ng-model="criterion.comments" ng-model-options="{debounce: 1000}" ng-change="queueUpdateCriterionGrade(criterion)" froala)

%section.grade-raw-points
  .grade-section-label
    Raw Points {{grade.raw_points || 0 | number }} ({{assignment().full_points | number}} Points Possible)
