%section.grade-status
  .grade-section-label Grade Status
  %select.grade-status-selector{'ng-model'=>'grade.status', 'ng-change'=>'queueUpdateGrade()'}
    %option{'value'=>'{{statusOption}}',
      'ng-repeat'=>'statusOption in statusOptions()',
      'ng-selected'=>'grade.status == statusOption'} {{statusOption}}



  -# - if grade.assignment.release_necessary?

  -#   = f.input :status, as: :select, :collection => Grade::STATUSES, :selected => grade.status, :include_blank => false
  -# - else
  -#   = f.input :status, as: :select, :collection => Grade::UNRELEASED_STATUSES, :selected => grade.status || "Graded", :include_blank => false
  -# .align-right.form_label Can the student see this grade?
