%section.grade-submit-buttons
  %button#submit-grade(ng-click="submitGrade(submitPath)" ng-class='{"disabled" : !grade.pending_status}') {{textForButton()}}
  %button#submit-grade-next(ng-if="gradeNextPath" ng-click="submitGrade(gradeNextPath)" ng-class='{"disabled" : !grade.pending_status}') {{textForNextButton()}}
