%section.grade-submit-buttons
  %button#submit-grade(ng-disabled="isSubmitted" ng-click="submitGrade(submitPath)") {{textForButton()}}
  %button#submit-grade-next(ng-disabled="isSubmitted" ng-if="gradeNextPath" ng-click="submitGrade(gradeNextPath)") {{textForNextButton()}}
