%section.grade-text-feedback

  .grade-section-label Text Feedback

  %textarea{ "froala"=>"",
    'ng-model'=>'grade.feedback',
    "ng-change" => "queueUpdateGrade()",
    "ng-blur" => "queueUpdateGrade(true)",
  }
