.feedback-upload
  %input(type="file" multiple="true" grade-files-upload="feedbackFiles")
.clear


%ul.grade-files-list(ng-if='vm.gradeFiles.length > 0')
  %li(ng-repeat='file in vm.gradeFiles')
    %div(ng-if='file.file_processing || file.deleting')
      %i.fa.fa-spinner.fa-fw
      {{ file.filename }}
    %div(ng-if='!file.file_processing && !file.deleting')
      %i.fa.fa-times.fa-fw(ng-click="vm.deleteFile(file)")
      {{ file.filename }}



