%p{:align => "center"}
  %a{:href => "http://gradecraft.com", :target => "_blank"}
    %img{:alt => "", :border => "0", :src => "https://www.gradecraft.com/images/gradecraft_logo.png", :width => "207"}/
