%h3 Grade Distribution

#assignment-distribution-graph

.small
  %b Class Average:
  {{vm.assignment_average | number }} points
.small
  %b Low Score:
  {{vm.assignment_low_score | number }} points
.small
  %b High Score:
  {{vm.assignment_high_score | number }} points
