.card-header
  %h2 Weekly Stats
.card-body.weekly-stats-module(ng-if="!vmWeeklyStats.loading")

  .module-section(ng-if="hasStudentData()")
    %p Total points earned this week:
    %p.week-points this student earned points...

  .module-section(ng-if="hasStudentData()")
    %p Grades received this week:
    %ul
      %li This student got a Big Grade!

  -# don't we want to show a student that they submitted something?
  .module-section(ng-if="hasFacultyData() && hasStudentData()")
    %p {{termFor("assignments")}} submitted this week:
    %ul
      %li Assignment 1 submitted

  .module-section(ng-if="hasStudentData()")
    %p {{termFor("badges")}} earned this week:
    %ul
      %li
        .img-cropper.xsmall-crop
          %img(src="/images/badge.png" alt="icon")
        %span Student earned Super badge

  .module-section(ng-if="hasFacultyData() && !hasStudentData()")
    %p {{termFor("badges")}} earned this week:
    %ul
      %li
        .img-cropper.xsmall-crop
          %img(src="/images/badge.png" alt="icon")
        %span Students earned the following badges...
