.card-header
  %h2 Weekly Stats
.card-body.weekly-stats-module
  .module-section
    %p Total points earned this week:
    %p.week-points one billions

  .module-section
    %p Grades received this week:
    %ul
      %li Big Grade!

  .module-section
    %p "Assignments" submitted this week:
    %ul
      %li Assignment 1 submitted

  .module-section
    %p "Badges" earned this week:
    %ul
      %li
        .img-cropper.xsmall-crop
          %img(src="/images/badge.png" alt="icon")
        %span Super badge earned
