.objectives-index
  .pageContent
    %table.dynatable
      %thead
        %th Name
        %th Category
      %tbody
        - @objectives.each do |o|
          %tr
            %td= link_to o.name, learning_objectives_objective_path(o, student_id: current_student.id)
            %td= o.category.try(:name)
