.objectives-index
  .pageContent
    .show-learning-objective
      %table.dynatable
        %thead
          %th Name
          %th Category
          %th Progress
        %tbody
          - @objectives.each do |o|
            %tr
              %td= link_to o.name, learning_objectives_objective_path(o)
              %td= o.category&.name
              %td= render partial: "learning_objectives/components/progress_bar",
                locals: { learning_objective: o, student: current_student }
