.coins{{'ng-if'=>'weightsOpen()'}}
  .coin-slot{{'ng-click'=>'increment()', 'ng-if' => 'weightsAvailableForArticle()'}}
    %i.coin-add-icon.fa.fa-fw.fa-plus-circle

  .coin-stack{{'ng-if' => 'article.student_weight'}}
    .coin{{'ng-repeat'=>'coin in coinBackStackRange()'}}
    .coin{{'ng-click'=>'decrement()'}}
      .coin-stack-count {{article.student_weight}}
      %i.coin-remove-icon.fa.fa-fw.fa-times

  .no-coins-slot{{'ng-if' => '!hasWeights() && !weightsAvailableForArticle()'}} no {{termFor("weights")}}

.coins{{'ng-if'=>'!weightsOpen()'}}
  .coin-stack{{'ng-if' => 'article.student_weight'}}
    .coin.coin--non-interactive{{'ng-repeat'=>'coin in coinBackStackRange()'}}
    .coin.coin--non-interactive
      .coin-stack-count {{article.student_weight}}

  .no-coins-slot{{'ng-if' => '!article.student_weight'}} no {{termFor("weights")}}
