%h2{:align => "center"}
  %strong You've got a new grade!
%h3{:align => "center"}
  You can now view your grade for
  #{ @course.assignment_term.downcase } "#{ @assignment.name }"
  in #{ @course.name }.
%p
%hr/
%p{:align => "center"}
  Don't forget to update your plan for the semester by checking your
  = succeed "." do
    %a{:href => "https://www.gradecraft.com/predictor"} grade predictor
%hr/
