%h2{:align => "center"}
  %strong #{ @student.first_name },

%p{:align => "center"}
  Your group, "#{ @group.name }" has been #{ @group.approved } in course #{ @course.name }.

%p{:align => "center"}
  Log in to GradeCraft to read your feedback.
