%h2{:align => "center"}
  %strong Hi #{ @student.first_name },

%h3{:align => "center"}You have successfully unlocked the #{@unlocked_item.class.name.downcase} #{@unlocked_item.name} in your class #{@course.name}!

%p{:align => "center"}
  Play On!

%p{:align => "center"}
  GradeCraft
