%quick-grade-styling-selector.right.select-menu{"ng-if"=>"vm.groupGrades.length > 0"}

%massGrade
  %loading-message{'loading'=>'vm.loading', 'message'=>"Loading Grades..."}

  %form{"action"=>"{{vm.formAction}}",
                  "method"=>"post",
                  "ng-if"=>"!vm.loading"}

    %input{"type"=>"hidden", "name"=>"authenticity_token", "value"=>"{{vm.authenticityToken}}"}
    %input{"type"=>"hidden", "name"=>"_method", "value"=>"put"}
    %input{"type"=>"hidden", "name"=>"utf8", "value"=>"✓"}

    %table
      %thead
        %tr
          %th.align-right{"scope"=>"col"}= "{{vm.termForGroups}}"
          %th.center{"scope"=>"col"}
          %th{"ng-if"=>"!vm.assignment.pass_fail", "scope"=>"col"}
            Earned / Max Points
      %tbody
        %tr{"ng-repeat"=>"(gbgIndex, gbg) in vm.groupGrades"}
          %td.align-right
            %input{"type"=>"hidden",
                   "name"=>"assignment[grades_by_group][{{gbgIndex}}][group_id]",
                   "value"=>"{{gbg.group_id}}"}

            %a{"href"=>"/groups/{{gbg.group_id}}"}
              {{gbg.group_name}}

          -# If assignment is pass/fail type
          %td.center{"ng-if"=>"vm.assignment.pass_fail"}
            %label{"for"=>"assignment_grades_by_group_{{gbgIndex}}_pass_fail_status_nil"}
              %input{"type"=>"radio",
                     "ng-model"=>"gbg.pass_fail_status",
                     "value"=>"nil",
                     "name"=>"assignment[grades_by_group][{{gbgIndex}}][pass_fail_status]",
                     "id"=>"assignment_grades_by_group_{{gbgIndex}}_pass_fail_status_nil",
                     "class"=>"radio_inline"}
              No change
            %label{"for"=>"assignment_grades_by_group_{{gbgIndex}}_pass_fail_status_pass"}
              %input{"type"=>"radio",
                     "ng-model"=>"gbg.pass_fail_status",
                     "value"=>"Pass",
                     "name"=>"assignment[grades_by_group][{{gbgIndex}}][pass_fail_status]",
                     "id"=>"assignment_grades_by_group_{{gbgIndex}}_pass_fail_status_pass",
                     "class"=>"radio_inline"}
              Pass
            %label{"for"=>"assignment_grades_by_group_{{gbgIndex}}_pass_fail_status_fail"}
              %input{"type"=>"radio",
                     "ng-model"=>"gbg.pass_fail_status",
                     "value"=>"Fail",
                     "name"=>"assignment[grades_by_group][{{gbgIndex}}][pass_fail_status]",
                     "id"=>"assignment_grades_by_group_{{gbgIndex}}_pass_fail_status_fail",
                     "class"=>"radio_inline"}
              Fail

          -# If assignment is not pass/fail type and has levels
          %td.center{"ng-if"=>"!vm.assignment.pass_fail && vm.assignment.has_levels"}
            %input{"type"=>"hidden",
                   "name"=>"assignment[grades_by_group][{{gbgIndex}}][raw_points]",
                   "value"=>"{{gbg.raw_points}}"}

            -# If select dropdown style
            %select{"ng-model"=>"gbg.raw_points",
                    "ng-options"=>"level.points as level.formatted_name for level in vm.assignmentScoreLevels",
                    "ng-show"=>"vm.selectedGradingStyle() === 'select'"}
              %option{"value"=>"", "ng-selected"=>"_.isEmpty(gbg.raw_points)"}

            -# If radio button style
            %label{"for"=>"assignment_grades_by_group_{{gbgIndex}}_raw_points_{{level.points}}",
                   "ng-repeat"=>"level in vm.assignmentScoreLevels",
                   "ng-if"=>"vm.selectedGradingStyle() === 'radio'"}
              %input{"type"=>"radio",
                     "ng-model"=>"gbg.raw_points",
                     "value"=>"{{level.points}}",
                     "name"=>"assignment[grades_by_group][{{gbgIndex}}][raw_points]",
                     "id"=>"assignment_grades_by_group_{{gbgIndex}}_raw_points_{{level.points}}",
                     "class"=>"radio_inline"}
                {{level.formatted_name}}

          -# If assignment is not pass/fail type and does not have levels
          %td.center{"ng-if"=>"!vm.assignment.pass_fail && !vm.assignment.has_levels"}
            %input{"type"=>"hidden",
                   "name"=>"assignment[grades_by_group][{{gbgIndex}}][raw_points]",
                   "value"=>"{{gbg.raw_points}}"}

            -# If radio button style
            %radio_points{"ng-show"=>"vm.selectedGradingStyle() === 'radio'"}
              %label{"for"=>"assignment_grades_by_group_{{gbgIndex}}_raw_points_no_grade"}
                %input{"type"=>"radio",
                       "ng-model"=>"gbg.raw_points",
                       "value"=>"",
                       "name"=>"assignment[grades_by_group][{{gbgIndex}}][raw_points]",
                       "id"=>"assignment_grades_by_group_{{gbgIndex}}_raw_points_no_grade",
                       "class"=>"radio_inline"}
                {{gbg.graded === true ? "No change" : "No grade"}}
              %label{"for"=>"assignment_grades_by_group_{{gbgIndex}}_raw_points_0"}
                %input{"type"=>"radio",
                       "ng-model"=>"gbg.raw_points",
                       "value"=>"0",
                       "name"=>"assignment[grades_by_group][{{gbgIndex}}][raw_points]",
                       "id"=>"assignment_grades_by_group_{{gbgIndex}}_raw_points_0",
                       "class"=>"radio_inline"}
                0
              %label{"for"=>"assignment_grades_by_group_{{gbgIndex}}_raw_points_full_points"}
                %input{"type"=>"radio",
                       "ng-model"=>"gbg.raw_points",
                       "value"=>"{{vm.assignment.full_points}}",
                       "name"=>"assignment[grades_by_group][{{gbgIndex}}][raw_points]",
                       "id"=>"assignment_grades_by_group_{{gbgIndex}}_raw_points_full_points",
                       "class"=>"radio_inline"}
                Full points

            -# If text style
            %text_points{"ng-if"=>"vm.selectedGradingStyle() === 'text'"}
              %input{"type"=>"text",
                     "gc-number-input"=>"",
                     "value"=>"gbg.raw_points",
                     "ng-model"=>"gbg.raw_points",
                     "name"=>"assignment[grades_by_group][{{gbgIndex}}][raw_points]"}

          %td{"ng-if"=>"!vm.assignment.pass_fail"}
            {{(gbg.raw_points | number) || '-'}} / {{vm.assignment.full_points | number}}

    .submit-buttons
      %ul
        %li
          %input{"type"=>"submit",
                 "class"=>"button",
                 "value"=>"Submit Grades"}
        %li
          %a{"href"=>"{{vm.formCancelRoute}}", "class"=>"button"}
            %i.fa.fa-times-circle
            Cancel
