Dear #{ @professor.first_name },

Your requested submissions export for #{ @assignment.name } failed to complete.

Our system administrators have been notified of the problem. You may send an email to #{ ADMIN_EMAIL } if you'd like.

Sincerely,
The GradeCraft Team
