- if current_user_is_admin?
  %section
    %h4.uppercase= "GradeCraft Settings"

    .form-item
      = form.association :courses, as: :check_boxes, include_hidden: false

    - if @user.persisted?
      .form-item
        = form.label :default_course_id, "Default Course"
        = form.select :default_course_id, options_from_collection_for_select(@user.courses, "id", "name", @user.default_course_id)
        .form_label This course will be automatically loaded when a student logs in to GradeCraft
