.pageContent
  = render partial: "layouts/alerts"

  %section
    .card.left{style: "height: 400px;"}
      .card-cap
        = image_tag "csv-logo", height: "46px"
      .card-block
        %h4.card-title CSV
        .card-text
        %p.card-text
          Upload a .csv file with badge information for students to import the student badges.

          = link_to "Import Badges from CSV", badge_badges_importer_path(@badge, :csv), class: "card-link button"
