@import "../utilities/variables"

// Background Colors, typically for divs __=^o.o^=
.bg-green_mint
  background-color: $bg-green_mint
  padding: 1em 5%
  @media (max-width: $media-650)
    padding: 0 3%

.bg-green_lime
  background-color: $bg-green_lime
  padding: 1em 5%
  @media (max-width: $media-650)
    padding: 0 3%

.bg-yellow
  background-color: $bg-yellow
  padding: 1em 5%
  @media (max-width: $media-650)
    padding: 0 3%

div.content_block
  padding: 1em 5%
  @media (max-width: $media-650)
    padding: 1em 3%

.highlight
  position: relative
  padding-top: 2em
  margin-top: 1em

  h2
    position: absolute
    top: 0
    -webkit-transform: translateY(-200%)
    transform: translateY(-200%)

// Buttons, both true button's and a.button's
button, .button
  background: $blue-medium_1
  color: white
  border-radius: $button-radius
  border: 2px solid $blue-medium_2
  font-family: 'ProximaNova_semibold', sans-serif
  font-size: 1em
  min-width: 150px
  padding: 0.75em 1em
  margin: 0.75em 1em 2.5em 0
  cursor: pointer
  box-sizing: border-box
  display: inline-block
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

  &:hover
    background: $blue-medium_2
    text-decoration: none
    color: white

  &.secondary
    background: white
    color: $blue-medium_1

    &:hover
      color: $blue_dark

  &.action
    background: $pink_1
    border: 2px solid $pink_2

    &:hover
      background: $pink_2
      border-bottom-color: $pink_2

  &:disabled, &.disabled
    background: $grey_1
    color: $grey_4
    border: 2px solid $grey_2
    cursor: not-allowed

    &:hover
      border-bottom-color: $grey_2

a
  &.button
    padding: 0.65em 1em

    &:hover
      border-bottom-color: $blue-medium_2

  &.stealth_link
    border-bottom: 0px solid transparent



// REFACTOR -- may need to refactor below code at some point, TBD __=^o.o^=
/* some versions of IE don't recognize the main element */
main
  display: block

.right
  float: right

.left
  float: left

.hidden
  display: none

.clear
  clear: both

.inline
  display: inline

.centered
  margin: 0 auto
  display: block
  position: relative
  top: 50%
  transform: translateY(-50%)

.dropdown
  position: relative

/* Used for screen reader only item */
.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0,0,0,0)
  border: 0

/* mouse */
[data-whatinput="mouse"] :focus
  outline-width: 0

#skiptocontent a
  padding: 6px
  position: absolute
  top: -40px
  left: 0px
  color: $color-white
  border-right: 1px solid $color-white
  border-bottom: 1px solid $color-white
  border-bottom-right-radius: 8px
  background: transparent
  transition: top 1s ease-out, background 1s linear
  z-index: 100
  &:focus
    top: 0px
    background: $color-red-1
    outline: 0
    -webkit-transition: top .1s ease-in, background .5s linear
    transition: top .1s ease-in, background .5s linear

.hide-for-xsmall
  @media (max-width: $media-xsmall-max)
    display: none

.hide-for-small
  @media (max-width: $media-small-max)
    display: none

.hide-for-medium
  @media (min-width: $media-small-max) and (max-width: $media-medium-max)
    display: none

.hide-for-large
  @media (min-width: $media-large-min)
    display: none

.col-30
  width: 30%
.col-40
  width: 40%
.col-50
  width: 50%
.col-60
  width: 60%
.col-70
  width: 70%
.col-100
  width: 100%
