%section.predictor-section.collapse-toggler{'ng-if'=>'badges.length > 0'}
  .collapse-arrow
  .predictor-section-title
    .predictor-section-title-name
      {{termFor("badges")}}
    .predictor-section-title-predicted-points.badges
      {{badgesPredictedPoints() | number}}

.collapsable.predictor-articles
  %predictor-article.predictor-article{'ng-repeat' => 'badge in badges', 'article'=>'badge'}
.clear
