%section.predictor-section{'ng-if'=>'challenges.length > 0'}
  .collapse-toggler.clear
    .collapse-arrow
    .predictor-section-title
      .predictor-section-title-name
        {{termFor("challenges")}}
      .predictor-section-title-max-points=" {{challengesFullPoints() | number}} Possible Points"
      .predictor-section-title-predicted-points
        {{challengesPredictedPoints() | number}}

  .collapsable.predictor-articles
    %article.predictor-article{'ng-repeat' => 'challenge in challenges', 'article'=>'challenge'}

