.student-panel-wrap
  .student-panel{'context'=>'"predictor"'}

  #student-main-column

    #predictor-loading-message{'ng-if'=>'vm.loading'}

      %h2
        %i.fa.fa-spinner.fa-spin.fa-fw
        Loading Predictor...

    #predictor-graph-section{'ng-if'=>'!vm.loading'}
      %predictor-graph
      #predictor-post-graph-spacer

    #predictor-main-header.collapse-all-toggler{'ng-class'=>'{"with-weights": vm.predictorService.weightsAvailable()}'}
      .collapse-arrow.outdent
      .predictor-section-title
        .predictor-section-title-predicted-points{'ng-if'=>'vm.predictorService.weightsAvailable()'}
          .predictor-title-right-span
            Unused {{termFor("vm.predictorService.weights")}} :
          .predictor-section-title-weights
            .coin-stack
              .coin{'ng-repeat' => 'coin in vm.predictorService.unusedWeightsRange()'}
              .coin-stack-count {{vm.predictorService.unusedWeightsRange().length}}

    %predictor-section-assignment-types

    %predictor-section-badges

    .predictor-section-challenges

