- if assignment.is_unlockable? && ! assignment.is_unlocked_for_student?(@student)
  %li= link_to glyph("unlock-alt") + "Unlock", manually_unlock_unlock_state_path(student_id: @student.id, assignment_id: assignment.id), :method => :post, class: "button"