%select{"ng-disabled"=>"disabled()",
        "ng-model"=>"selectedGradingStyle",
        "ng-model-options"=>"{ getterSetter: true }",
        "name"=>"quick-grade-style-selector"}
  %option{"ng-repeat"=>"option in options()",
          "value"=>"{{option.value}}",
          "ng-selected"=>"selectedGradingStyle() === option.value"}
    {{option.label}}
