%section.video-promo
  .columns.text
    %h1 Level Up Learning
    %p GradeCraft is a learning management system dedicated to supporting the gameful classroom. We are actively researching and developing tools to encourage student engagement, and aid instructor workflow. 
    %p GradeCraft is being developed at the University of Michigan, with the support of the Learning Analytics Task Force and the Office of Digital Education & Innovation. Interested in being involved? <a href="mailto:gradecraft@gmail.com">Get in touch!</a>

  .columns.video
    <iframe src="https://www.youtube.com/embed/kxb3wVwmYyc" frameborder="0" allowfullscreen></iframe>