.color-bar
  .color-block.color-blue-00
  .color-block.color-blue-0
  .color-block.color-blue-1
  .color-block.color-blue-2
  .color-block.color-blue-3
  .color-block.color-blue-4
  .color-block.color-blue-5
.color-bar
  .color-block.color-alt-blue-00
  .color-block.color-alt-blue-0
  .color-block.color-alt-blue-1
  .color-block.color-alt-blue-2
  .color-block.color-alt-blue-3
  .color-block.color-alt-blue-4
  .color-block.color-alt-blue-5
.color-bar
  .color-block.color-green-00
  .color-block.color-green-0
  .color-block.color-green-1
  .color-block.color-green-2
  .color-block.color-green-3
  .color-block.color-green-4
  .color-block.color-green-5
.color-bar
  .color-block.color-red-1
  .color-block.color-red-2
  .color-block.color-orange-1
  .color-block.color-orange-2
  .color-block.color-orange-3
  .color-block.color-yellow-1
  .color-block.color-yellow-2
.color-bar
  .color-block.color-grey-00
  .color-block.color-grey-0
  .color-block.color-grey-1
  .color-block.color-grey-2
  .color-block.color-grey-3
  .color-block.color-grey-4
  .color-block.color-grey-5
