.card-header
  %h2 Announcements
.card-body
  - unread_count = unread_count_for current_student, current_course
  = link_to_unless_current "Announcements", announcements_path
  - if unread_count > 0
    %div.notification-badge.announcement-notification-badge= unread_count
