.card-header
  %h2 Course Progress
.card-body
  - if current_student.present?
    = render partial: "info/dashboard/modules/dashboard_student_grading_scheme", locals: { presenter: presenter }

  - else
    = render partial: "info/dashboard/modules/dashboard_instructor_grading_scheme"
