.text-center
  .card-header
    %h3= term_for :badges
  .card-body
    %ul.badge-grid
      - current_student.unique_student_earned_badges(current_course).includes(:unlock_conditions).each do |badge|
        %li
          %a{href: badge_path(badge) }
            %img{src: badge.icon, alt: badge.name}

      - current_student.student_visible_unearned_badges(current_course).each do |badge|
        %li
          %a{href: badge_path(badge) }
            %img{src: badge.icon, alt: badge.name, class: "unearned"}
