.chart-labels
  %span Level
  %span.right # of Students
- current_course.grade_scheme_elements.order_by_highest_points.each do |element|
  .progress.bar_magic
    .meter
      .level-name #{element.name} #{points element.lowest_points}
      %span.student-count= element.count_students_earned
    - if current_course.student_count > 0
      .fill-bar.bar_magic{:style => "width: #{(element.count_students_earned) / (current_course.graded_student_count).to_f * 100}%;"}
