.card-header
  %h2 Announcements
.card-body
  %ul.unread-announcements
    - current_course.announcements.each do |announcement|
      - if !announcement.read?(current_user)
        %li.unread-announcement-item
          = link_to announcement.title, announcement_path(announcement)
          %p.announcement-date= announcement.created_at.strftime("%A, %B %d, %Y, at %l:%M%p")
          %p= sanitize(announcement.body, tags: %w(p), attributes: %w()).truncate(100, :separator => "...").gsub(/<\/?p>/, " ")
  
