%h1.form-title Search Users

%form{"ng-submit"=>"vm.getSearchResults()", "name"=>"userSearchForm"}
  %loading-message{'loading'=>'vm.loading', 'message'=>"Searching users..."}

  %fieldset
    %label
      Search criteria:
      %select{"ng-model"=>"vm.selectedSearchType"}
        %option{"ng-repeat"=>"type in vm.searchTypes", "value"=>"{{type}}"}
          {{type}}

  %fieldset{"ng-if"=>"vm.selectedSearchType == 'Name'"}
    %p Find by name:
    %label
      %input{"type"=>"search",
             "name"=>"firstName",
             "ng-model"=>"searchCriteria.firstName",
             "ng-required"=>"vm.selectedSearchType == 'Name' && searchCriteria.lastName == null",
             "placeholder"=>"First name"}

    %label
      %input{"type"=>"search",
             "name"=>"lastName",
             "ng-model"=>"searchCriteria.lastName",
             "ng-required"=>"vm.selectedSearchType == 'Name' && searchCriteria.firstName == null",
             "placeholder"=>"Last name"}

  %fieldset{"ng-if"=>"vm.selectedSearchType == 'Email'"}
    %p Find by email address:
    %label
      %input{"type"=>"search",
             "name"=>"email",
             "ng-model"=>"searchCriteria.email",
             "ng-required"=>"vm.selectedSearchType == 'Email'",
             "placeholder"=>"Email",
             "size"=>"30"}

  %fieldset{"ng-if"=>"vm.selectedSearchType == 'Username'"}
    %p Find by username:
    %label
      %input{"type"=>"search",
             "name"=>"username",
             "ng-model"=>"searchCriteria.username",
             "ng-required"=>"vm.selectedSearchType == 'Username'",
             "placeholder"=>"Username"}

  .submit-buttons
    .right
      %button.button.right{"type"=>"submit",
                           'ng-class'=>'{"disabled": userSearchForm.$invalid || vm.loading}',
                           "ng-disabled"=>"userSearchForm.$invalid || vm.loading"} Search

%user-search-results{'ng-if'=>'!vm.loading'}
