%table
  %thead
    %tr
      %th Id
      %th First Name
      %th Last Name
      %th Courses
      %th Role
      %th Score
  %tbody
    %tr{"ng-if"=>"users.length < 1"}
      %td{"colspan"=>"3"} No results found

    %tr{"ng-if"=>"users.length > 0", "ng-repeat"=>"user in users"}
      %td {{ user.id }}
      %td {{ user.first_name }}
      %td {{ user.last_name }}
      %td{"ng-bind-html"=>"course_membership_attribute_for(user, 'course_name')"}
      %td{"ng-bind-html"=>"course_membership_attribute_for(user, 'role')"}
      %td{"ng-bind-html"=>"course_membership_attribute_for(user, 'score')"}
