%li.headline= link_to "2016 Campus Technology Innovator (Teaching & Learning)", "https://campustechnology.com/articles/2016/06/01/press-release-campus-technology-announces-2016-innovators-award-honorees.aspx", target: "_blank"
%li.headline= link_to "2015 IMS Connected Learning App Challenge (1st Place)", "http://www.imsglobal.org/pressreleases/pr150310.html", target: "_blank"
%li.headline= link_to "2014 EDUCAUSE Learning Initiative Horizon Report Video Competition", "https://www.si.umich.edu/news/gradecraft-video", target: "_blank"
