%li
	.headline= link_to "2015 IMS Connected Learning App Challenge (1st Place)", "http://www.imsglobal.org/pressreleases/pr150310.html", :target => "_blank"
%li
	.headline= link_to "2014 EDUCAUSE Learning Initiative Horizon Report Video Competition", "https://www.si.umich.edu/news/gradecraft-video", :target => "_blank"
