%section.login
  .columns.password-forgot.half
    %h2.bold Ack!
    %h4 We're having some trouble logging you in.

    %p Are you sure you've created your GradeCraft account? Students <b>must</b> log in through CTools/Canvas before they can access GradeCraft directly.

    %p #{ link_to "Follow these directions", "http://help.gradecraft.com/"} to create your GradeCraft account, and #{mail_to "cholma@umich.edu", "get in touch"} if that doesn't work.

  .columns.login-form.login.half
    = render "user_sessions/form"
