- content_for :public_class, 'public-with-background'

.wrapper.access
  #access_gate.content_block
    .alert-bkg= render "layouts/alerts"
    %div
      - if Rails.env.production?
        = render partial: "user_sessions/umich"
        %a#show-gradecraft-login.left.uppercase Admin
      - else
        = link_to '/index.html', :class => "logo" do
          = image_tag "logo.svg", :alt => "Return to GradeCraft hompage", :width => "450", :height => "100"
        %h1 Log In
        .google_access
          %a Log in with Google
        %h3 Or:
        .form_elem
          <input name="login_email" type="email" placeholder="Your email address" required="required" />
          <label for="login_email">Email address</label>
        .form_elem
          <input name="login_pw" type="password" placeholder="Your password" required="required" />
          <label for="login_pw">Password</label>
        %button.action Log in
        %p
          %a Forgot your password?
