.page
	.hero-section
		%h1 Press & Awards
	.main-section
		.one-third
			%ul= render 'subnav'
		.two-thirds
			.title.bold Awards
			%ul= render 'awards'
			%br
			.title.bold Press
			%ul= render 'articles'