.page
	.hero-section
		%h1 Press & Awards
		%ul.public-subnav= render "subnav"
	.main-section
		.main-section-content
			%h2.title.bold Awards
			%ul= render "awards"
			%br
			%h2.title.bold Press
			%ul= render "articles"
