.page
	.hero-section
		%h1 Press & Awards
		%ul.public-subnav= render partial: "pages/subnav"
	.main-section
		.main-section-content
			%h2.title.bold Awards
			%ul= render partial: "pages/awards"
			%br
			%h2.title.bold Press
			%ul= render partial: "pages/articles"
