%main.features{role: "main"}
  %section.hero-section
    %h1.center Pricing
  .main-section
    .main-section-content.signup
      .pricing-columns
        %ul
          %li.package Basic
          %li.grey 
            .cost $16 / month
            %p 
              %a{ href: "https://secure.nouvant.com/umich/technology/6664/license/616", target: "_blank", class: "signup button" } Sign Up
          %li Community Forums
          %li –
          %li –
          %li 1 Active Class
          %li Up to 350 Students
      .pricing-columns
        %ul
          %li.package Premium
          %li.grey
            .cost $25 / month
            %p
              %a{ href: "https://secure.nouvant.com/umich/technology/6664/license/617", target: "_blank", class: "button signup" } Sign Up
          %li Community Forums
          %li Online Pedagogical Support
          %li –
          %li 1 Active Class
          %li Up to 350 Students
      .pricing-columns
        %ul
          %li.package School/District
          %li.grey
            .cost Email for Details
            %p
              %a{ href: "#", class: "button contact" } Contact Us
          %li Community Forums
          %li Online Pedagogical Support
          %li Professional Development Workshops
          %li Unlimited Classes
          %li Unlimited Students
