%main.features{role: "main"}
  %section.hero-section
    %h1.center Pricing
  .main-section
    .main-section-content
      .pricing-columns
        %ul
          %li.package Higher Ed
          %li.grey
            .cost $40 / 1 site
            %p
              %a{ href: "https://secure.nouvant.com/umich/technology/6664/license/662", target: "_blank", class: "signup button" } Sign Up
          %li Community Forums
          %li Online Pedagogical Support
          %li –
          %li 1 Active Class
          %li 1 Instructor Account**
          %li Up to 350 Students
      .pricing-columns
        %ul
          %li.package K-12
          %li.grey
            .cost $120 / year
            %p
              %a{ href: "https://secure.nouvant.com/umich/technology/6664/license/616", target: "_blank", class: "signup button" } Sign Up
          %li Community Forums
          %li Online Pedagogical Support
          %li –
          %li Up to 10 Active Classes**
          %li 1 Instructor Account**
          %li Up to 100 Students per class
      .pricing-columns
        %ul
          %li.package School/District
          %li.grey
            .cost Email for Details
            %p
              %a{ href: "mailto:help@gradecraft.com?subject=School/District Usage Request", class: "button contact" } Contact Us
          %li Community Forums
          %li Online Pedagogical Support
          %li Professional Development Workshops
          %li Unlimited Classes
          %li Unlimited Instructor Accounts
          %li Unlimited Students
  .main-section
    .main-section-content.disclaimer
      GradeCraft is run out of the <a href="http://ai.umich.edu/about-ai/gameful-learning-lab/" >Gameful Learning Lab</a> at the <a href="http://ai.umich.edu/" alt="Office of Academic Innovation at the University of Michigan's website" target="_blank">University of Michigan Office of Academic Innovation</a>. All purchases are made through the <a href="http://techtransfer.umich.edu/" alt="Office of Tech Transfer at the University of Michigan's website" target="_blank">University of Michigan Office of Tech Transfer</a>. When you click "Sign Up" you will be directed to their website to complete your purchase. Once we receive notification that you have purchased access, we will create an account for you within 24 hours, M-F / 9AM-5PM EST.
    .main-section-content.disclaimer
      ** Please contact us at help@gradecraft.com to discuss if you need a custom arrangement!
