- content_for :public_class, 'public-with-background center-items'
%section.pilot
  .student-pilot
    .pilot-text
      %h1.bold Are you a student in a GradeCraft course?
      %p
        Please try logging in via
        %a{ :href => 'https://umich.instructure.com/', :title => ""} Canvas
        by clicking the GradeCraft link in the left sidebar of your course site, or reach out to your instructor.
  .instructor-pilot
    .pilot-text
      %h1.bold Are you an instructor at UM interested in using GradeCraft?
      %p
        %a{ :href => new_external_users_path , class: "button" } Create a Course
