%p
  %span.smallcaps Submitted:
  %span.submission-date= presenter.submission.submitted_at

  // Late alert if submitted after due date
  - if presenter.submission.late?
    .icon.is_late
      %i.fa.fa-fw.fa-clock-o
      %span.icon-text LATE

  - if presenter.submission.resubmitted?
    %span.label.alert Resubmitted!
