- if current_user_is_admin? || current_course.active?
  = link_to "#{presenter.submission.term_for_edit(current_user_is_staff?)}", edit_assignment_submission_path(presenter.assignment, presenter.submission, group_id: presenter.group), class: "button"
