%p
  %span.smallcaps Attachments:
  %ul
    -# give us a link to download existing files from the file dump
    - presenter.present_submission_files.each_with_index do |submission_file, index|
      %li
        = external_link_to submission_file.instructor_filename(index),
          submission_file_download_path(submission_file, index: index)
        .span
          = "Updated at: #{submission_file.updated_at}"


  %span.smallcaps Missing Attachments:
  %ul
    -# otherwise don't render a link
    - presenter.missing_submission_files.each_with_index do |submission_file, index|
      %li
        %i.fa.fa-chain-broken.fa-fw
        = submission_file.instructor_filename index + presenter.present_submission_files.count
