%h2.center{"ng-if"=>"gsUngradedCtrl.loading"}
  %i.fa.fa-spinner.fa-spin.fa-fw
  Loading ungraded submissions...

%div{"ng-if"=>"!gsUngradedCtrl.loading && gsUngradedCtrl.submissions.length"}
  %a.grade-form-collapsible.collapse-toggler.collapsed{"role"=>"tab"}
    %h3
      %i.fa.fa-chevron-circle-right.fa-fw
      Ungraded Submissions

  %section.collapse.collapsed{"role"=>"tabpanel"}
    %table.no-table-header
      %thead
        %tr
          %th{"scope"=>"col"} {{::gsUngradedCtrl.assignmentTerm}}
          %th{"scope"=>"col", "width"=>"7%"} Name
          %th{"scope"=>"col",
              "ng-if"=>"::gsUngradedCtrl.courseHasTeams",
              "width"=>"15%"} {{::gsUngradedCtrl.teamTerm}}
          %th{"scope"=>"col"} Date Submitted
          %th{"scope"=>"col", "style"=>"min-width: 200px"}
            %span.sr-only Actions

      %tbody
        %tr{"ng-repeat"=>"submission in gsUngradedCtrl.submissions"}
          -# Assignment name and path
          %td
            %a{"ng-href"=>"{{submission.assignment_path}}"} {{submission.assignment_name}}

          -# Student name and path, if individually-graded
          %td{"ng-if"=>"submission.individual_assignment"}
            %a{"ng-href"=>"{{submission.student_path}}"} {{submission.student_name}}

          -# Group name and path, if group-graded
          %td{"ng-if"=>"!submission.individual_assignment"}
            %a{"ng-href"=>"{{submission.group_name}}"} {{submission.group_path}}

          -# Team name
          %td{"ng-if"=>"submission.team_name"}
            %a{"ng-href"=>"{{submission.team_path}}"} {{submission.team_name}}

          -# Submitted at
          %td {{submission.formatted_submitted_at}}

          %td
            .right
              %ul.button-bar
                -# See submission
                %li
                  %a.button{"ng-href"=>"{{submission.submission_path}}"}
                    %i.fa.fa-eye
                    See Submission

                -# See existing grade
                %li{"ng-if"=>"gsUngradedCtrl.showSeeGradeBtn(submission)"}
                  %a.button{"ng-href"=>"{{submission.grade_path}}"}
                    %i.fa.fa-eye
                    See Grade

                -# Edit existing grade, asks for confirmation
                %li{"ng-if"=>"gsUngradedCtrl.showEditGradeBtn(submission)",
                    "ng-bind-html"=>"gsUngradedCtrl.sanitize(submission.edit_grade_link)"}

                -# TODO: add POST to create grade
                -# Grade individual assignment
                %li{"ng-if"=>"gsUngradedCtrl.showCreateGradeBtn(submission)"}
                  %a.button{"ng-click"=>"gsUngradedCtrl.createGrade(submission)"}
                    %i.fa.fa-check
                    Grade

                -# Grade group assignment
                %li{"ng-if"=>"gsUngradedCtrl.showGroupGradeBtn(submission)"}
                  %a{"ng-href"=>"{{submission.group_grade_path}}"}
                    %i.fa.fa-check
                    Grade
