= content_nav_for presenter.assignment, "New Submission"

%h3.pagetitle= presenter.title

.pageContent
  = render 'layouts/alerts'

  - if presenter.assignment.accepts_submissions?
    = render partial: 'form', locals: { presenter: presenter }
