= content_nav_for presenter.assignment, "New Submission"

%h3.pagetitle= presenter.title

.pageContent
  = render partial: "layouts/alerts", locals: { model: presenter.submission }

  - if presenter.assignment.accepts_submissions?
    = render partial: "form", locals: { presenter: presenter }
