= content_nav_for @assignment, "See Submission"

%h3.pagetitle= @title

.pageContent
  - if current_user_is_student?
    = render 'submissions/student_show'
  - else
    = render 'submissions/instructor_show'