@import "../utilities/color"
@import "../utilities/layout"

.footer
  position: relative
  clear: both
  padding: 3rem 2rem
  background-color: $color-grey-2
  box-sizing: border-box
  color: $color-grey-6
  font-size: 1rem
  width: 100%
  flex-shrink: 0

  ul
    margin: 0
    padding: 0

    li
      display: inline
      list-style-type: none
      text-transform: uppercase
      a
        color: $color-grey-6

        &:hover
          color: $color-blue-4

    &.social
      font-size: 1.25rem

    li:not(:last-of-type)
      margin-right: 1rem

  .footer-logo
    display: none

  .michigan
    color: $color-grey-4
    margin-top: 1rem

.logged-in .footer
  padding: 2rem 2rem
  max-width: 1500px
  margin: 0 auto
  z-index: 50

  .footer-links
    display: none

  .footer-logo
    display: block

@media (max-width: $media-small-max)
  .footer
    padding: 1rem 1rem
    font-size: .8rem
    text-align: center
    position: relative

    .left
      width: 100%
      text-align: center
      float: none

    .right
      width: 100%
      margin-bottom: .5rem
      text-align: center
      float: none

  .logged-in .footer
    padding: 1rem 1rem

    .footer-logo
      margin: 0 auto
