%section.form-section

  .form-subsection
    %h3.form-subtitle
      Requirements
      %span.has-tooltip
        %i.fa.fa-info-circle
        .display-on-hover.hover-style
          Unlocks allow you to direct the sequence of content in your course. What do students need to do in order to unlock this {{termFor('grade_scheme_element')}}?
    %unlock-conditions(condition-id="gradeSchemeElementId" condition-type="GradeSchemeElement")
