.grade-scheme-row
  %label.form_label
    Grade Letter
    %input.letter{'type'=>'text', 'name'=>'letter', 'ng-model'=>'gradeSchemeElement.letter'}

  %label.form_label
    Level name
    %input.level{'type'=>'text', 'name'=>'level', 'ng-model'=>'gradeSchemeElement.level'}

  %label.form_label
    Point Threshold
    %input.low-range{'type'=>'text',
      'ng-model'=>'gradeSchemeElement.lowest_points',
      'ng-model-options'=>'{allowInvalid: true}',
      'ng-blur'=>'validateElement()',
      'required'=>'',
      'smart-number'=>'',
      'allow-negatives'=>"false",
      'ng-class'=>'{"ng-invalid": validationError != null}'}

  %span.validation-error{'ng-show'=>'validationError'}
    %span.has-tooltip
      %i.fa.fa-exclamation-triangle
      .display-on-hover.hover-style.hover-style-right
        {{validationError}}

  .right
    %span
      %button.add-element.button{'type'=>'button', 'ng-click'=>'addElement()', 'tabindex'=>'0'}
        %i.fa.fa-plus
        Add a level below
      %button.remove-element.button.alert{'type'=>'button', 'ng-click'=>'removeElement()', 'aria-label'=>"Remove Level"}
        Remove
        %i.fa.fa-times
