%loading-message{'loading'=>'vm.loading', 'message'=>"Loading Grade Scheme Elements..."}

.grade-scheme-elements{'ng-if'=>'!vm.loading'}
  %grade-scheme-element{'ng-repeat'=>'element in vm.gradeSchemeElements',
                        'update_form_validity'=>'vm.updateFormValidity()',
                        'index'=>'{{$index}}',
                        'grade_scheme_element'=>'element'}

  %button.button.right{'type'=>'button',
                       'ng-click'=>'vm.addElement()',
                       'ng-if'=>'vm.gradeSchemeElements.length == 0'} Add Your Highest Grade

  .submit-buttons
    .right
      %button.button.right{'type'=>'button',
                           'ng-click'=>'vm.postGradeSchemeElements()',
                           'ng-class'=>'{"disabled": gradeSchemeElementsForm.$invalid}',
                           'ng-disabled'=>'gradeSchemeElementsForm.$invalid',
                           'ng-if'=>'vm.gradeSchemeElements && vm.gradeSchemeElements.length > 0'} Submit
