%loading-message{'loading'=>'vm.loading', 'message'=>"Loading Grade Scheme Elements..."}

.grade-scheme-elements{'ng-if'=>'!vm.loading'}
  %grade-scheme-element{'ng-repeat'=>'element in vm.grade_scheme_elements',
                        'grade_scheme_element'=>'element'}

  %button.button.right{'ng-click'=>'vm.addElement()',
                       'ng-hide'=>'vm.grade_scheme_elements.length > 0'} Add Your Highest Grade

  .submit-button.right
    %button.button.right{'type'=>'submit',
                         'ng-click'=>'vm.postGradeSchemeElements()'} Submit

    .required-notice.right
      Fix any conflicts and fill in empty fields before saving.

-# ng-disabled="gradeSchemeForm.$invalid"
