%loading-message{'data-loading'=>'vm.loading', 'data-message'=>"Loading Grade Scheme Elements..."}

.grade-scheme-elements{'ng-if'=>'!vm.loading'}
  %grade-scheme-element{'ng-repeat'=>'element in vm.gradeSchemeElements | orderBy : "lowest_points" : true',
                        'data-grade-scheme-element'=>'element'}

  %button.secondary{'type'=>'button',
                    'ng-click'=>'vm.addElement()',
                    'ng-if'=>'vm.gradeSchemeElements.length < 1'}
    %i.fa.fa-plus
    Add Your Highest Grade

  .main-buttons{'ng-if'=>'vm.gradeSchemeElements && vm.gradeSchemeElements.length > 0'}
    %button.action{'type'=>'button',
                   'ng-click'=>'vm.deleteAll()'}
      %i.fa.fa-trash
      Delete All Elements
