.grade-scheme-elements{'ng-if'=>'!vm.loading'}
  %grade-scheme-element{'ng-repeat'=>'element in vm.grade_scheme_elements'}

%loading-message{'loading'=>'vm.loading', 'message'=>"Loading Grade Scheme Elements..."}
