%setup{"ng-if"=>"gseSetupCtrl.showSetup"}
  %h2.form-title Add new grading scheme

  %form.grading-scheme-setup{"name"=>"gradeSchemeSetupForm"}
    %fieldset
      .form-question
        %legend Are you using grade letters?
        %ul
          %li
            %label
              %input{"type"=>"radio",
                     "ng-model"=>"gseSetupCtrl.isUsingGradeLetters",
                     "ng-value"=>"true",
                     "name"=>"gradeletters",
                     "tabindex"=>"0",
                     "required"=>""} Yes
          %li
            %label
              %input{"type"=>"radio",
                     "ng-model"=>"gseSetupCtrl.isUsingGradeLetters",
                     "ng-value"=>"false",
                     "name"=>"gradeletters",
                     "required"=>""} No

    %additional-questions.form-section{"ng-if"=>"gseSetupCtrl.isUsingGradeLetters === false"}
      %fieldset
        .form-question
          %p How many levels would you like to start with?
          %label
            %input{"type"=>"number",
                   "ng-model"=>"gseSetupCtrl.additionalLevels",
                   "min"=>"1",
                   "size"=>"8",
                   "ng-required"=>"!gseSetupCtrl.isUsingGradeLetters"}

    %additional-questions.form-section{"ng-if"=>"gseSetupCtrl.isUsingGradeLetters"}
      %fieldset
        .form-question
          %legend Are you using +/- grades?
          %ul
            %li
              %label
                %input{"type"=>"radio",
                       "ng-model"=>"gseSetupCtrl.isUsingPlusMinusGrades",
                       "ng-value"=>"true",
                       "name"=>"plusminus",
                       "tabindex"=>"0",
                       "ng-required"=>"gseSetupCtrl.isUsingGradeLetters"} Yes
            %li
              %label
                %input{"type"=>"radio",
                       "ng-model"=>"gseSetupCtrl.isUsingPlusMinusGrades",
                       "ng-value"=>"false",
                       "name"=>"plusminus",
                       "ng-required"=>"gseSetupCtrl.isUsingGradeLetters"} No

      %fieldset
        .form-question
          %legend Would you like to add levels below 'F'?
          %ul
            %li
              %label
                %input{"type"=>"radio", "ng-model"=>"gseSetupCtrl.addLevelsBelowF",
                       "ng-value"=>"true",
                       "name"=>"levelsbelow",
                       "tabindex"=>"0",
                       "ng-required"=>"gseSetupCtrl.isUsingGradeLetters"} Yes
            %li
              %label
                %input{"type"=>"radio",
                       "ng-model"=>"gseSetupCtrl.addLevelsBelowF",
                       "ng-value"=>"false",
                       "name"=>"levelsbelow",
                       "ng-required"=>"gseSetupCtrl.isUsingGradeLetters"} No

      %additional-questions.form-section{"ng-if"=>"gseSetupCtrl.addLevelsBelowF"}
        .form-question
          %p How many?
          %label
            %input{"type"=>"number",
                   "ng-model"=>"gseSetupCtrl.additionalLevels",
                   "min"=>"1",
                   "size"=>"8",
                   "ng-required"=>"gseSetupCtrl.isUsingGradeLetters && gseSetupCtrl.addLevelsBelowF"}

  %button.button.right{"type"=>"button",
                       "ng-disabled"=>"gradeSchemeSetupForm.$invalid",
                       "ng-class"=>'{"disabled": gradeSchemeSetupForm.$invalid}',
                       "ng-click"=>"gseSetupCtrl.setUpGradeSchemeElements()"} Get me started!

%grade-scheme-elements-mass-edit-form{"ng-if"=>"!gseSetupCtrl.showSetup"}
