%section.form-section
  %h2.form-title Unchanged Users

  %p {{unchangedUsers().length}} users already exist.
  %p{"ng-if"=>"unchangedUsers().length > 0"}
    %a{"ng-click"=>"toggleShowInfo(true)", "ng-show"=>"_showInfo === false"}
      %i.fa.fa-search-plus View additional information
    %a{"ng-click"=>"toggleShowInfo(false)", "ng-show"=>"_showInfo === true"}
      %i.fa.fa-search-minus Hide additional information

  %table.no-table-header{"ng-show"=>"_showInfo === true"}
    %thead
      %tr
        %th{"scope"=>"col"} Name
        %th{"scope"=>"col"} Email
        %th{"scope"=>"col"} {{vm.provider}} Roles (Enrollment State)
        %th{"scope"=>"col"} GradeCraft Role
        %th{"scope"=>"col"} User Exists?
    %tbody
      %tr{"ng-repeat"=>"user in unchangedUsers()"}
        %td {{user.name}}
        %td {{user.email}}
        %td
          %ul
            %li{"ng-repeat"=>"enrollment in user.enrollments"} {{enrollment.role}} ({{enrollment.enrollment_state}})
        %td
          %span.capitalize {{user.gradecraft_role}}
        %td {{vm.termForUserExists(user.user_exists)}}
