%h1.capitalize We’re sorry
%h2 You currently do not have a GradeCraft course associated with your email
%p
  If you’re a student, ask your instructor to add you to their course site.
  %br
  %br
  If you’re an instructor, email
  = link_to "help@gradecraft.com", "mailto:help@gradecraft.com"
  to have them create a course shell for you.
= link_to "Log me out..", logout_url
