.night-color-wash

.back-sky-container
  .cloud.cloud-1
    .star.star-1
    .star.star-2
    .star.star-3
    .star.star-4
    .star.star-5
    .star.star-6
    .star.star-7
    .star.star-8
    .star.star-9
    .star.star-10
    .star.star-11
    .star.star-12
    .star.star-13
    .star.star-14
    .star.star-15
    .star.star-16
    .star.star-17
    .star.star-18
    .star.star-19
    .star.star-20
    .star.star-21
    .star.star-22
    .star.star-23
    .star.star-24
    .star.star-25
    .star.star-26
    .star.star-27
    .star.star-28
    .star.star-29
    .star.star-30
    .star.star-20
    .star.star-30
    .star.star-31
    .star.star-32
    .star.star-33
    .star.star-34
    .star.star-35
    .star.star-36
    .star.star-37
    .star.star-38
    .star.star-39
    .star.star-40
    .cloud-bubble.cloud-bubble-10
    .cloud-bubble.cloud-bubble-10
    .cloud-bubble.cloud-bubble-10
    .cloud-bubble.cloud-bubble-10
    .cloud-bubble.cloud-bubble-10
    .cloud-bubble.cloud-bubble-10
    .cloud-bubble.cloud-bubble-10

  .cloud.cloud-2
    .star.star-1
    .star.star-2
    .star.star-3
    .star.star-4
    .star.star-5
    .star.star-6
    .star.star-7
    .star.star-8
    .star.star-9
    .star.star-10
    .star.star-11
    .star.star-12
    .star.star-13
    .star.star-14
    .star.star-15
    .star.star-16
    .star.star-17
    .star.star-18
    .star.star-19
    .star.star-20
    .star.star-21
    .star.star-22
    .star.star-23
    .star.star-24
    .star.star-25
    .star.star-26
    .star.star-27
    .star.star-28
    .star.star-29
    .star.star-30
    .star.star-20
    .star.star-30
    .star.star-31
    .star.star-32
    .star.star-33
    .star.star-34
    .star.star-35
    .star.star-36
    .star.star-37
    .star.star-38
    .star.star-39
    .star.star-40

  .cloud.cloud-3
    .star.star-8
    .star.star-2
    .star.star-3
    .star.star-4
    .star.star-5
    .star.star-6
    .star.star-7
    .star.star-9
    .star.star-10
    .star.star-1
    .star.star-11
    .star.star-12
    .star.star-13
    .star.star-14
    .star.star-15
    .star.star-16
    .star.star-17
    .star.star-18
    .star.star-19
    .star.star-20
    .star.star-21
    .star.star-22
    .star.star-23
    .star.star-24
    .star.star-25
    .star.star-26
    .star.star-27
    .star.star-28
    .star.star-29
    .star.star-30
    .star.star-31
    .star.star-32
    .star.star-33
    .star.star-34
    .star.star-35
    .star.star-36
    .star.star-37
    .star.star-38
    .star.star-39
    .star.star-40

  .cloud.cloud-4
    .cloud-bubble.cloud-bubble-9
    .cloud-bubble.cloud-bubble-8
    .cloud-bubble.cloud-bubble-7
    .cloud-bubble.cloud-bubble
    .cloud-bubble.cloud-bubble
    .star.star-1
    .star.star-2
    .star.star-3
    .star.star-4
    .star.star-5
    .star.star-6
    .star.star-7
    .star.star-8
    .star.star-9
    .star.star-10
    .star.star-11
    .star.star-12
    .star.star-13
    .star.star-14
    .star.star-15
    .star.star-16
    .star.star-17
    .star.star-18
    .star.star-19
    .star.star-20
    .star.star-21
    .star.star-22
    .star.star-23
    .star.star-24
    .star.star-25
    .star.star-26
    .star.star-27
    .star.star-28
    .star.star-29
    .star.star-30
    .star.star-20
    .star.star-30
    .star.star-31
    .star.star-32
    .star.star-33
    .star.star-34
    .star.star-35
    .star.star-36
    .star.star-37
    .star.star-38
    .star.star-39
    .star.star-40

  .cloud.cloud-5
    .cloud-bubble.cloud-bubble-7
    .cloud-bubble.cloud-bubble-2
    .cloud-bubble.cloud-bubble-12
    .cloud-bubble.cloud-bubble-1
    .cloud-bubble.cloud-bubble-5

.night.message-container
  = render partial: "errors/#{error_type}"

.background-container
  .hills
    .hill.hill-3.night-hill-position-1
    .hill.hill-1.night-hill-position-2
    .hill.hill-2.night-hill-position-3

  .background-left-wrapper
    .mountain.mountain-size-1
      .mountain-left-side
      .mountain-peak
        .mountain-peak-left-spacer
        .mountain-peak-left-side

      .mountain-right-side
      .mountain-peak
        .mountain-peak-right-spacer
        .mountain-peak-right-side

      .mountain-root
      .mountain-root-right

    .mountain-mountain-2-mountain-size-3
      .mountain-left-side
      .mountain-peak
        .mountain-peak-left-spacer
        .mountain-peak-left-side

      .mountain-right-side
      .mountain-peak
        .mountain-peak-right-spacer
        .mountain-peak-right-side

      .mountain-root
      .mountain-root-right

    .mountain-mountain-3-mountain-size-5
      .mountain-left-side
      .mountain-peak
        .mountain-peak-left-spacer
        .mountain-peak-left-side

      .mountain-right-side
      .mountain-peak
        .mountain-peak-right-spacer
        .mountain-peak-right-side

      .mountain-root
      .mountain-root-right

  .background-right-wrapper
    .mountain-mountain-4-mountain-size-2
      .mountain-left-side
      .mountain-peak
        .mountain-peak-left-spacer
        .mountain-peak-left-side

      .mountain-right-side
      .mountain-peak
        .mountain-peak-right-spacer
        .mountain-peak-right-side

      .mountain-root
      .mountain-root-right

    .mountain-mountain-5-mountain-size-4
      .mountain-left-side
      .mountain-peak
        .mountain-peak-left-spacer
        .mountain-peak-left-side

      .mountain-right-side
      .mountain-peak
        .mountain-peak-right-spacer
        .mountain-peak-right-side

      .mountain-root
      .mountain-root-right

    .mountain-mountain-6-mountain-size-2
      .mountain-left-side
      .mountain-peak
        .mountain-peak-left-spacer
        .mountain-peak-left-side

      .mountain-right-side
      .mountain-peak
        .mountain-peak-right-spacer
        .mountain-peak-right-side

      .mountain-root
      .mountain-root-right
