

/ <script type="text/ng-template" id="input.html">
/    <div>
/      <input ng-model="model[options.key]" />
/      <pre ng-repeat="(key, val) in this">$scope.{{key}} = {{ val | json }}</pre>
/    </div>
/  </script>
