.pageContent
  %learning-objectives-objectives-design.rubric-design.objectives-design{"data-index-route"=>"#{learning_objectives_objectives_path}",
                                                                         "data-objective-id"=>"#{@objective.id}",
                                                                         "data-objectives-award-points"=>"#{current_course.objectives_award_points?}",
                                                                         "ng-cloak"=>""}
