.pageContent
  %learning-objectives-objectives-design.rubric-design.objectives-design{"data-index-route"=>"#{learning_objectives_objectives_path}",
                                                                         "ng-cloak"=>""}
