.pageContent
  %learning-objectives-objectives-new{"data-submit-route"=>"#{learning_objectives_objectives_path}",
                                      "data-objectives-award-points"=>"#{current_course.objectives_award_points?}",
                                      "data-category-id"=>"#{@category.try(:id)}"}
