.level(ng-repeat="level in criterionLevels()" ng-class="{nocredit: level.no_credit, 'level-meets-expectations': satifiesExpectations(level), 'level-not-saved': !levelIsSaved(level)}")
  %rubric-level(criterion="criterion" level="level")

%button.add-level(ng-if="canAddNewLevel()" name="newLevel" ng-click="openNewLevel()" ng-show="criterionIsSaved()")
  + Level

