- if current_user_is_staff?
  = render partial: "attendance/index_staff"
- elsif current_user_is_student?
  = render partial: "attendance/index_student"
- else
  = render partial: "attendance/index_observer"
