.simple_form
  %table
    %thead
      %tr
        %th.sortable-header{"scope"=>"col",
                            "width"=>"20%",
                            "data-sortable-header-text"=>"{{groupTableCtrl.termFor('group')}} Name",
                            "data-sortable-predicate"=>"name"}
        %th.sortable-header{"scope"=>"col",
                            "data-sortable-header-text"=>"Status",
                            "data-sortable-predicate"=>"approved"}
        %th{"scope"=>"col"}
        %th{"scope"=>"col"}
    %tbody{"assignment-show-group-table-body"=>"",
           "data-assignment-id"=>"{{::groupTableCtrl.assignmentId}}",
           "data-links-visible"=>"{{::groupTableCtrl.linksVisible}}"}

  .main-buttons{"ng-if"=>"groupTableCtrl.linksVisible && groupTableCtrl.hasUnreleasedGrades()"}
    .button.submit{"type"=>"button",
                   "ng-click"=>"groupTableCtrl.releaseGrades()",
                   "ng-class"=>"{ disabled: !groupTableCtrl.hasSelectedGrades() }",
                   "ng-disabled"=>"!groupTableCtrl.hasSelectedGrades()"}
      %i.fa.fa-share-square-o
      Release Selected Grades
