.simple_form
  %table{"ng-if"=>"!groupTableCtrl.loading"}
    %thead
      %tr
        %th{"width"=>"20%"} {{groupTableCtrl.termFor("group")}} Name
        %th Status
        %th
        %th
    %tbody{"assignment-show-group-table-body"=>"",
           "data-assignment-id"=>"{{::groupTableCtrl.assignmentId}}",
           "data-links-visible"=>"{{::groupTableCtrl.linksVisible}}"}

  .submit-buttons{"ng-if"=>"groupTableCtrl.linksVisible && groupTableCtrl.hasUnreleasedGrades()"}
    %ul
      %li
        .button.submit{"type"=>"button",
                       "ng-click"=>"groupTableCtrl.releaseGrades()",
                       "ng-class"=>"{ disabled: !groupTableCtrl.hasSelectedGrades() }",
                       "ng-disabled"=>"!groupTableCtrl.hasSelectedGrades()"}
          %i.fa.fa-share-square-o
          Release Selected Grades
