.simple_form
  %table{"ng-if"=>"!groupTableCtrl.loading"}
    %thead
      %tr
        %th{"width"=>"20%"} {{groupTableCtrl.termFor("group")}} Name
        %th Status
        %th
        %th
    %tbody{"assignment-show-group-table-body"=>"",
           "data-assignment-id"=>"{{::groupTableCtrl.assignmentId}}",
           "data-links-visible"=>"{{::groupTableCtrl.linksVisible}}"}

-# TODO: release grades functionality, if grades present
