%tr{"ng-if"=>"groupTableBodyCtrl.loading"}
  %td.center{"colspan"=>"4"}
    %i.fa.fa-spinner.fa-spin.fa-fw
    Loading...

%tr{"ng-if"=>"!groupTableBodyCtrl.loading", "ng-repeat"=>"group in groupTableBodyCtrl.groups"}
  -# Link to group
  %td
    %a{"ng-href"=>"{{group.group_path}}"} {{group.name}}

  -# Group approval status
  %td {{group.approved}}

  -# Assignment, group-related actions
  %td
    .right
      %ul.button-bar
        %li
          %a.button{"ng-href"=>"{{group.edit_group_path}}"} Review {{groupTableBodyCtrl.termFor("group")}}

        %li{"ng-if"=>"groupTableBodyCtrl.showSubmitButton(group)"}
          %a.button{"ng-href"=>"{{groupTableBodyCtrl.new_submission_path}}"} Submit

        %li{"ng-if"=>"groupTableBodyCtrl.showEditGroupGradeLink(group)",
            "ng-bind-html"=>"groupTableBodyCtrl.sanitizeHtml(group.edit_group_grade_link)"}

        %li{"ng-if"=>"!groupTableBodyCtrl.showEditGroupGradeLink(group)"}
          %a.button{"ng-href"=>"{{group.grade_assignment_path}}"}
            %i.fa.fa-edit
            Grade

  -# Student grade information
  %td{"assignment-show-group-student-table"=>"", "data-group"=>"group"}
