%ul.breadcrumbs{"aria-label": "Breadcrumb"}
  - breadcrumbs.each do |breadcrumb|
    - if breadcrumb.link?
      %li= link_to %{ #{ breadcrumb.label.html_safe } }, breadcrumb.url
    - else
      %li= %{ #{ breadcrumb.label.html_safe } }
