%ul.breadcrumbs
  - breadcrumbs.each do |breadcrumb|
    - if breadcrumb.link?
      %li
        -# evaluate expressions from breadcrumbs_trail.rb
        = link_to instance_eval(%{ "#{ breadcrumb.label }" }), breadcrumb.url
    - else
      %li= html_escape %{ "#{ breadcrumb.label }" }
