.grade-scheme-row

  %label.form_label 
    Grade Letter
    %input.letter(name='letter' ng-model='element.letter')

  %label.form_label 
    Level name
    %input.level(name='level' ng-model='element.level')

  %label.form_label 
    Point Threshold
    %input.low-range(type='number'
                     ng-model='element.lowest_points'
                     ng-model-options='{allowInvalid: true}'
                     ng-change='validateElements($index)'
                     required
                     min=0
                     name='lowest_points_{{$index}}')

  %span.validation-error(ng-show='gradeSchemeForm["lowest_points_{{$index}}"].$error.directConflict')
    %span
      %i.fa.fa-exclamation-triangle
      .display-on-hover.hover-style.gse-bar
        This level has the same point threshold as another level.

  %span.validation-error(ng-show='gradeSchemeForm["lowest_points_{{$index}}"].$error.nearConflict')
    %span
      %i.fa.fa-exclamation-triangle
      .display-on-hover.hover-style.gse-bar
        This level is within one point of another level.

  .right
    %span
      %button.add-element.button(type='button' ng-click='gradeService.addNew($index)' tabindex='0')
        %i.fa.fa-plus 
        Add a level below
      %button.remove-element.button.alert(type='button' ng-click='gradeService.remove($index)' aria-label="Remove Level")
        Remove
        %i.fa.fa-times
