/ .div{'ng-repeat' => 'gse in gradeSchemeElements.grade_scheme_elements'}
/   {{gse.level}}
/   {{gse.letter}}
%form{:name => 'gse.form'}
  %formly-form{:model => 'gse.model', :fields => 'gse.fields'}
  %button{:type => 'submit'}

  %script(type="text/x-template" id="input.html")
    %div
      %input{'ng-model' => 'model[options.key]'}
      %pre{'ng-repeat' => '(key, val) in this', 'scope.{{key}}' => '{{val | json }}'}
