.grade-scheme-row

  %span.form_label Grade Letter
  %input.letter(name='letter' ng-model='element.letter')

  %span.form_label Level name
  %input.level(name='level' ng-model='element.level')

  %span.form_label Point Threshold
  %input.low-range(type='number'
                   ng-model='element.lowest_points'
                   ng-model-options='{allowInvalid: true}'
                   required
                   name='lowest_points')

  .right
    %span
      %button.add-element.button(type='button' ng-click='gradeService.addNew($index)')
        %i.fa.fa-plus Add a level below
      %button.remove-element.button.alert(type='button' ng-click='gradeService.remove($index)')
        Remove
        %i.fa.fa-times
