.grade-scheme-row

  %span.form_label Grade Letter
  %input.letter(name='letter' ng-model='element.letter')

  %span.form_label Level name
  %input.level(name='level' ng-model='element.level')

  %span.form_label Point Threshold
  %input.low-range(type='number'
                   ng-model='element.lowest_points'
                   ng-model-options='{allowInvalid: true}'
                   ng-change='validateElements($index)'
                   required
                   min=0
                   name='lowest_points_{{$index}}')

  %span.validation-error(ng-show='gradeSchemeForm["lowest_points_{{$index}}"].$error.directConflict'
                         title='Has the same point threshold as another level.')
    %i.fa.fa-exclamation-triangle

  %span.validation-error(ng-show='gradeSchemeForm["lowest_points_{{$index}}"].$error.nearConflict'
                         title='Is within one point of another level.')
    %i.fa.fa-exclamation-triangle

  .right
    %span
      %button.add-element.button(type='button' ng-click='gradeService.addNew($index)')
        %i.fa.fa-plus Add a level below
      %button.remove-element.button.alert(type='button' ng-click='gradeService.remove($index)')
        Remove
        %i.fa.fa-times
