%span.form_label Low Point Threshold
%input.low-range(type='number' index='{{index}}' name='lowest_points' ng-model='element.lowest_points' max='{{element.highest_points}}')

%span.form_label High Point Threshold
%input.high-range(type='number' index='{{index}}' name='highest_points' ng-model='element.highest_points' min='{{element.lowest_points}}' ng-change="alertTheQueen()")
