%form{'ng-submit' => 'gse.onSubmit()', :novalidate => 'novalidate'}
  %formly-form{:model => 'gse.model', 'fields' => 'gse.fields', 'form' => 'gse.form'}
    %button{:type => 'submit', :class => 'button radius right'}
      Submit
