/ .div{'ng-repeat' => 'gse in gradeSchemeElements.grade_scheme_elements'}
/   {{gse.level}}
/   {{gse.letter}}
%form{'ng-submit' => 'gse.onSubmit()', :novalidate => 'novalidate'}
  %formly-form{:model => 'gse.model', 'fields' => 'gse.fields', 'form' => 'gse.form'}
    %button{:type => 'submit', :class => 'button alert radius'}
      Submit
  %h2 Model
  %pre {{gse.originalFields | json}}
  %pre {{gse.form | json}}
