%p
  %formly-transclude
%div{'ng-if' => 'options.data.apiCheck.failed'}
  %span{'style' => 'color:red'}
    %code validatieOptions for this field failed!
  / %p
  /   %strong Message
  /   %span.text-muted
  /     (logged to the console)
  /   %pre
  /     {{options.data.apiCheck.message}}
%div{'ng-if' => '!options.data.apiCheck.failed'}
  %span{'style' => 'color:green'}
    %code
      for this field passed!
