%section.predictor-section{'ng-if'=>'badges.length > 0'}
  .collapse-toggler.clear
    .collapse-arrow
    .predictor-section-title
      .predictor-section-title-name
        {{termFor.badges}}
      .predictor-section-title-predicted-points.badges
        {{badgesPointTotal() | number}}

  .collapsable
    %article.predictor-article{'ng-repeat' => 'badge in badges', 'ng-class'=>'{"status-locked" : badge.locked}'}

      .predictor-article-title{'title' => '{{badge.name}}'}
        {{badge.name | limitTo:26}}

      .predictor-article-icons
        .predictor-article-icon{'ng-repeat'=>'icon in icons', 'icon-name'=>'icon', 'target'=>'badge', 'target_type'=>'badge'}

      .predictor-badge-main

        %img.predictor-badge-icon{ 'ng-src' => '{{badge.icon}}', :alt => '{{badge.name}}' }

        .badge-complete{'ng-if'=>'badgeCompleted(badge)'}
          .value
            {{badgePointsDisplay(badge)}}

        .badge-predicted{'ng-if'=>'!badgeCompleted(badge)'}

          .predictor-binary-switch.badge{'ng-if'=>'!badge.can_earn_multiple_times','target'=>'badge','target-type'=>'badge','off-value'=>'0','on-value'=>'badge.point_total'}

          .predictor-counter-switch{'ng-if'=>'badge.can_earn_multiple_times', 'target'=>'badge'}

