#grade-levels{'ng-include' => true, 'src' => "'ng_predictor_graphic.html'"}

#total
 Total Earned: {{allPointsEarned()}}
 Total Predicted: {{allPointsPredicted()}}

#assigment-types{'ng-include' => true, 'src' => "'ng_predictor_assignment_types.html'"}

#badges{'ng-include'=> true, 'src' => "'ng_predictor_badges.html'"}

#challenges

