%section.predictor-assignment-type{'ng-repeat' => 'assignmentType in assignmentTypes'}
  .collapse-toggler.clear
    .predictor-section-title
      .predictor-assigment-type-name
        {{assignmentType.name}}
      .predictor-assignment-type-points
        Points Total: {{assignmentTypePointTotal(assignmentType.id) | number}}
  .collapsable{'ng-include' => true, 'src' => "'ng_predictor_assignments.html'"}
