%article.predictor-article{'ng-repeat' => 'assignment in assignments | filter:{assignment_type_id: assignmentType.id}:true','ng-class'=>'{"status-graded" : articleGraded(assignment), "status-locked" : assignment.locked}'}

  .predictor-article-title{'title' => '{{assignment.name}}'}
    {{assignment.name | limitTo:26}}

  .predictor-article-icons
    .predictor-article-icon{'ng-repeat'=>'icon in icons', 'icon-name'=>'icon', 'target'=>'assignment', 'target_type'=>'assignment'}

  .predictor-article-date
    .predictor-date{'ng-if' => 'dueInFuture(assignment)'}
      due: {{assignment.due_at | date:"MM/dd/yyyy 'at' h:mma"}}

  .predictor-article-main

    .article-graded{'ng-if' => 'articleGraded(assignment)'}
      .grade{'ng-if' => 'assignment.pass_fail == false'}
        {{assignment.grade.score | number}} / {{assignment.grade.point_total | number}}
      .grade{'ng-if' => 'assignment.pass_fail == true'}
        {{termFor[assignment.grade.pass_fail_status]}}

    .article-predicted{'ng-if' => '! articleGraded(assignment)'}
      %div{'ng-if' => 'assignment.pass_fail == false && assignment.fixed == false'}
        .slider{'ui-slider'=>'slider(assignment)','min'=>'0', 'max'=>'{{assignment.grade.point_total}}', 'ng-model'=>'assignment.grade.predicted_score', 'data'=>{'id'=>'{{assignment.id}}','article-type'=>'assignment'}}

        .grade{'ng-if' => '! hasLevels(assignment)'}
          {{assignment.grade.predicted_score | number}} / {{assignment.grade.point_total | number}}

        .grade{'id'=>'assignment-{{assignment.id}}-level',  'ng-if' => 'hasLevels(assignment)'}
          .value
            {{assignment.grade.predicted_score | number}} / {{assignment.grade.point_total | number}}
          .name
            {{levelNameForAssignmentScore(assignment)}}

      %div{'ng-if' => 'assignment.pass_fail == true'}
        .predictor-binary-switch{'target'=>'assignment','target-type'=>'assignment','off-value'=>'0','on-value'=>'1'}

      %div{'ng-if' => 'assignment.fixed == true'}
        .predictor-binary-switch{'target'=>'assignment','target-type'=>'assignment','off-value'=>'0','on-value'=>'assignment.grade.point_total'}


