.grade-levels{'ng-include' => true, 'src' => "'ng_predictor_grade_levels.html'"}

#assigment-types{'ng-include' => true, 'src' => "'ng_predictor_assignment_types.html'"}

#badges
  enter badges here

#challenges
  TODO: enter challenges here (not currently functional)
