.icon.predictor-required-icon{'ng-if' => 'target[iconName]'}
  %a
    %i.fa.fa-fw{'class'=>'{{iconHtml[iconName].icon}}'}
  .display_on_hover.hover-style
    %span{'ng-bind-html'=>'iconHtml[iconName].tooltip | list'}