.assignment-type{'ng-repeat' => 'assignmentType in assignmentTypes'}
  .predictor-section-title.collapse-toggler
    %h3 {{assignmentType.name}}
  .collapsable
    .predictor-assignment-block{'ng-repeat' => 'assignment in assignments'}
      {{assignment.name}}
      {{assignment.grade}}
