%h3 Assignment Types
%ul
  %li{'ng-repeat' => 'assignmentType in assignmentTypes'}
    %div{'class' => '{{assignmentType.name}}'}
    {{assignmentType.name}}

%h3 Assignments
%ul
  %li{'ng-repeat' => 'assignment in assignments'}
    {{assignment.name}}
    {{assignment.grade}}
