#grade-levels{'ng-include' => true, 'src' => "'ng_predictor_grade_levels.html'"}

#assigment-types{'ng-include' => true, 'src' => "'ng_predictor_assignment_types.html'"}

#badges{'ng-include'=> true, 'src' => "'ng_predictor_badges.html'"}

#challenges

