%section.predictor-assignment-type{'ng-repeat' => 'assignmentType in assignmentTypes'}
  .collapse-toggler.clear
    .predictor-section-title
      .predictor-section-title-left
        {{assignmentType.name}}
      .predictor-section-title-right
        Points Total: {{assignmentTypePointTotal(assignmentType.id) | number}}
  .collapsable{'ng-include' => true, 'src' => "'ng_predictor_assignments.html'"}
