%section.predictor-section{'ng-repeat' => 'assignmentType in assignmentTypes'}
  .collapse-toggler.clear
    .collapse-arrow
    .predictor-section-title{'ng-class'=>'{"status-max-points": assignmentTypeAtMax(assignmentType)}'}
      .predictor-section-title-name
        {{assignmentType.name}}
      .predictor-section-title-max-points=" {{assignmentType.total_points | number}} Possible Points"
      .predictor-section-title-predicted-points{{'ng-class'=>'{"weightable":assignmentType.student_weightable}'}}
        .predictor-unweighted-point-total
          {{assignmentTypePointTotal(assignmentType,false) | number}}

        .predictor-section-title-weights{{'ng-if'=>'assignmentType.student_weightable'}}
          .predictor-assignment-type-weights{{'target'=>'assignmentType'}}
          .predictor-weighted-point-total
            {{assignmentTypePointTotal(assignmentType,true) | number}}

        .predictor-excess-points{'ng-if'=>'assignmentTypeAtMax(assignmentType)'}
          (-{{assignmentTypePointExcess(assignmentType) | number}}
          .icon
            .icon-tooltip.warn
              You've predicted more points than you are allowed to earn for this {{termFor.assignmentType}}!
            %i.fa.fa-fw.fa-exclamation-circle
          )


  .collapsable{'ng-include' => true, 'src' => "'ng_predictor_assignments.html'"}
