#grade-levels{'ng-include' => true, 'src' => "'ng_predictor_graphic.html'"}

#assigment-types{'ng-include' => true, 'src' => "'ng_predictor_assignment_types.html'"}

#badges{'ng-include'=> true, 'src' => "'ng_predictor_badges.html'"}

#challenges{'ng-include'=> true, 'src' => "'ng_predictor_challenges.html'"}

