%article.predictor-article{'ng-repeat' => 'assignment in assignments | filter:{assignment_type_id: assignmentType.id}:true','ng-class'=>'{"status-graded" : articleGraded(assignment),"status-no-points":articleNoPoints(assignment), "status-locked" : assignment.is_locked, "status-late" : assignment.is_late}'}

  .predictor-article-title{'title' => '{{assignment.name}}'}
    {{assignment.name | limitTo:50}}

  .predictor-article-icons
    .predictor-article-icon{'ng-repeat'=>'icon in icons', 'icon-name'=>'icon', 'target'=>'assignment', 'target_type'=>'assignment'}

  .predictor-article-date
    .predictor-date{'ng-if' => 'dueInFuture(assignment)'}
      due: {{assignment.due_at | date:"MM/dd/yyyy 'at' h:mma"}}

  .predictor-article-main

    .article-graded{'ng-if' => 'articleGraded(assignment)', 'ng-class'=>'{"excluded" : assignment.grade.is_excluded}'}
      .grade{'ng-if' => 'assignment.pass_fail == false'}
        {{assignment.grade.final_points | number}} / {{assignment.point_total | number}}
      .grade{'ng-if' => 'assignment.pass_fail == true'}
        .no-status{{'ng-if'=>'!assignment.grade.pass_fail_status'}}
          {{termFor["pass"]}} / {{termFor["fail"]}}
        .status{{'ng-if'=>'assignment.grade.pass_fail_status'}}
          {{termFor[assignment.grade.pass_fail_status]}}
      .excluded{{'ng-if'=>'assignment.grade.is_excluded'}}
        This grade has been excluded

    .article-predicted{'ng-if' => '! articleGraded(assignment)'}
      %div{'ng-if' => 'assignment.predictor_display_type == "slider"'}
        .slider{'ui-slider'=>'slider(assignment)','min'=>'0', 'max'=>'{{assignment.point_total}}', 'ng-model'=>'assignment.prediction.predicted_points', 'data'=>{'id'=>'{{assignment.id}}','article-type'=>'assignment', 'ng-class'=>'{"below-threshold" : predictionBelowThreshold(assignment)}'}}

        .grade{'ng-if' => '! hasLevels(assignment)'}
          .value
            {{assignment.prediction.predicted_points | number}} / {{assignment.point_total | number}}

        .grade{'id'=>'assignment-{{assignment.id}}-level',  'ng-if' => 'hasLevels(assignment)'}
          .value
            {{assignment.prediction.predicted_points | number}} / {{assignment.point_total | number}}
          .name
            {{levelNameForAssignmentScore(assignment)}}

      %div{'ng-if' => 'assignment.predictor_display_type == "checkbox" && assignment.pass_fail == true'}
        .predictor-binary-switch{'target'=>'assignment','target-type'=>'assignment','off-value'=>'0','on-value'=>'1'}

      %div{'ng-if' => 'assignment.predictor_display_type == "checkbox" && !assignment.pass_fail == true'}
        .predictor-binary-switch{'target'=>'assignment','target-type'=>'assignment','off-value'=>'0','on-value'=>'assignment.point_total'}
