%ul{'ng-repeat' => 'assignment_type in assignmentTypes.assignment_types'}
  %li{:id => 'slide-#{{assignment_type.id}}', :'data-assignment-type-id' => '{{assignment_type.id}}', :'data-assignment-type-name' => '{{assignment_type.name}}'}
    {{assignment_type.name}}
    %ul{'ng-repeat' => 'assignment in assignment_type.assignments'}
      {{assignment.name}}
