%loading-message{"loading"=>"loCategoriesEditCtrl.loading", "message"=>"Loading..."}

%form{"name"=>"categoryEditForm"}
  %section.form-section{"ng-if"=>"!loCategoriesEditCtrl.loading"}
    .form-subsection
      %h3.form-subtitle Category
      %fieldset
        .form-item
          %label
            Name
            %input{"ng-model"=>"loCategoriesEditCtrl.category().name",
                   "ng-change"=>"loCategoriesEditCtrl.persistArticle()",
                   "required"=>"",
                   "type"=>"text",
                   "placeholder"=>"Name (Required)"}

        .form-item
          %label
            Allowable Yellow Warnings
            %span.has-tooltip
              %i.fa.fa-info-circle
              .display-on-hover.hover-style
                How many yellow warnings can the student have without failing the objective?

            %input{"ng-model"=>"loCategoriesEditCtrl.category().allowable_yellow_warnings",
                   "ng-change"=>"loCategoriesEditCtrl.persistArticle()",
                   "type"=>"number",
                   "min"=>"0",
                   "placeholder"=>"Allowable Yellow Warnings"}

#last-updated{"ng-if"=>"loCategoriesEditCtrl.lastUpdated() != null"}
  .italic
    Last Updated: {{loCategoriesEditCtrl.lastUpdated() | date:"MM/dd/yyyy 'at' h:mma"}}
