%loading-message{"loading"=>"loCategoriesEditCtrl.loading", "message"=>"Loading..."}

%form{"name"=>"categoryEditForm",
      "ng-if"=>"!loCategoriesEditCtrl.loading"}
  %section.form-section
    .form-subsection
      %h3.form-subtitle Category
      %fieldset
        .form-item
          %label
            Name
            %input{"ng-model"=>"loCategoriesEditCtrl.category().name",
                   "ng-change"=>"loCategoriesEditCtrl.persistArticle()",
                   "required"=>"",
                   "type"=>"text",
                   "placeholder"=>"Name (Required)"}

        .form-item
          %label
            Allowable Yellow Warnings
            %span.has-tooltip
              %i.fa.fa-info-circle
              .display-on-hover.hover-style
                How many yellow warnings can the student have without failing the objective?

            %input{"ng-model"=>"loCategoriesEditCtrl.category().allowable_yellow_warnings",
                   "ng-change"=>"loCategoriesEditCtrl.persistArticle()",
                   "type"=>"number",
                   "min"=>"0",
                   "placeholder"=>"Allowable Yellow Warnings"}

        .form-item
          %label{"for"=>"description"} Description
          %textarea#description{"ng-model"=>"loCategoriesEditCtrl.category().description",
                                "ng-change"=>"loCategoriesEditCtrl.persistArticle()",
                                "froala"=>"loCategoriesEditCtrl.froalaOptions"}

  .right
    %a.button{"type"=>"button",
              "ng-click"=>"loCategoriesEditCtrl.persistArticle(true)",
              "ng-disabled"=>"categoryEditForm.$invalid",
              "ng-class"=>'{ "disabled": categoryEditForm.$invalid }'}
      %i.fa.fa-save
      Save Changes

  #last-updated{"ng-if"=>"loCategoriesEditCtrl.lastUpdated() != null"}
    .italic
      Last Updated: {{loCategoriesEditCtrl.lastUpdated() | date:"MM/dd/yyyy 'at' h:mma"}}
