= content_nav_for @course, "Integrations"

%h2.pagetitle Use your favorite tools with GradeCraft

.pageContent
  = render partial: "layouts/alerts"

  .card{style: "height: 350px;"}
    .card-cap
      %img{src: "/images/canvas-logo.png"}
    .card-block= integration_card_for(:canvas, @course)
