= content_nav_for @course, "Integrations"

%h2.pagetitle Use your favorite tools with GradeCraft

.pageContent
  = render partial: "layouts/alerts"

  .card{style: "height: 350px;"}
    .card-cap
      %img{src: "/images/canvas-logo.png"}
    .card-block
      %h4.card-title Canvas LMS
      %p.card-text An open-source LMS from Instructure.
      %p.card-text Import assignments, students, and grades from Canvas and keep them in sync.

      %form{ method: :post, action: integrations_path, class: "inline" }
        %input{ type: :hidden, name: :integration_id, value: :canvas }
        %button{ type: :submit, class: "card-link button" } Link a Canvas Course
        = link_to "More Info", "http://canvaslms.com", target: "_blank", class: "card-link"
