-# send_data requires there to be a template here, and there's no workaround
-# for it in this context. the alternative is to use send_file, which is much
-# more heavy-handed than streaming data directly, and only provides speed
-# improvements if we're using the X-Sendfile header which we're not.
-# Consider this template a very minor price to pay for an effective file
-# streaming solution within a rails context
