= render partial: "layouts/alerts", locals: { model: @course }

.form-wrapper
  = render partial: "courses/custom_terms", locals: { f: f }
  = render partial: "courses/player_settings", locals: { f: f }
