- if !course.instructors_of_record.empty? && course.grading_philosophy.present?
  .small-12
    %p
    %p= raw course.grading_philosophy
    %h6= "-- #{"Prof".pluralize(course.instructors_of_record.count)}. #{course.instructors_of_record.map(&:last_name).join(", ") }"
