= render partial: "layouts/alerts", locals: { model: @course }

%section
  %h2 Gameful Philosophy
  .form-item
    .textarea
      .form-hint What would you like to tell students about how they should expect to be graded?
      = f.text_area :gameful_philosophy, class: "froala"

%section
  %h2 Course Rules
  .form-item
    .textarea
      .form-hint Are there specific rules for this course that students should know?
      = f.text_area :course_rules, class: "froala"
