.page
  .hero-section
    %h1= @course.name
  .main-section
    %table
      %thead
        %th Icon
        %th Name
        %th Description
      %tbody
        - @badges.each do |badge|
          %tr
            %td= image_tag(badge.icon_url, width: 40, alt: badge.name)
            %td= badge.name
            %td= badge.description
