.modal-slide
  .modal-slide-top
    %img.modal-slide-image.centered{src: "/images/staff-onboarding-slide-3.png", alt: "Staff viewing GradeCraft dashboard illustration"}
  .modal-slide-bottom
    .modal-slide-text
      %h2 Cross-platform Integration
      %p Easily import data from other platforms and tools such as Canvas
