.modal-slide
  .modal-slide-top
    %img.modal-slide-image.centered{src: "/images/staff-onboarding-slide-3.png", alt: "Folder with the GradeCraft Logo with arrows pointing to it from Canvas and Excel logos"}
  .modal-slide-bottom
    .modal-slide-text
      %h2 Cross-platform Integration
      %p Easily import data from other platforms and tools such as Canvas
