.modal-slide
  .modal-slide-top
    = image_tag "staff-onboarding-slide-4.png", alt: "Signpost highlighting the many areas of GradeCraft that instructors can customize", class: "modal-slide-image centered"
  .modal-slide-bottom
    .modal-slide-text
      %h2 Extensive Customization
      %p You have freedom to tailor and personalized features, course settings, and language based on your unique scenarios and needs
