.modal-slide
  .modal-slide-top
    = image_tag "staff-onboarding-slide-5.png", alt: "Example bar charts and circle charts representing analytic displays in GradeCraft", class: "modal-slide-image centered"
  .modal-slide-bottom
    .modal-slide-text
      %h2 Class Analytics
      %p Course and Assignment analytics help students make sense of their progress and plan for success
