.modal-slide
  .modal-slide-top
    %img.modal-slide-image.centered{src: "/images/staff-onboarding-slide-5.png", alt: "Example bar charts and circle charts representing analytic displays in GradeCraft"}
  .modal-slide-bottom
    .modal-slide-text
      %h2 Class Analytics
      %p Course and Assignment analytics help students make sense of their progress and plan for success
