.modal-slide
  .modal-slide-top
    = image_tag "staff-onboarding-slide-3.png", alt: "Folder with the GradeCraft Logo with arrows pointing to it from Canvas and Excel logos", class: "modal-slide-image centered"
  .modal-slide-bottom
    .modal-slide-text
      %h2 Cross-platform Integration
      %p Easily import data from other platforms and tools such as Canvas
