.modal-slide
  .modal-slide-top
    = image_tag "staff-onboarding-slide-1.png", alt: "Staff viewing GradeCraft dashboard illustration", class: "modal-slide-image centered"
  .modal-slide-bottom
    .modal-slide-text
      %h2= "Hey, #{current_user.name}!"
      %p Welcome to GradeCraft!
      %p This quick tour will introduce you to GradeCraft, a learning management system that supports gameful courses.
