.modal-slide
  .modal-slide-top
    %img.modal-slide-image.centered{src: "/images/staff-onboarding-slide-2.png", alt: "Student with life preserver and staircase illustration"}
  .modal-slide-bottom
    .modal-slide-text
      %h2 What is GradeCraft?
      %ul
        %li Supports personalized learning through assessment choice
        %li The #{term_for :grade_predictor} promotes student agency by enabling them to make choices and set goals
        %li Analytics displays help students keep track of how they're doing
