.modal-slide
  .modal-slide-top
    %img.modal-slide-image.centered{src: "/images/staff-onboarding-slide-6.png", alt: "Staff viewing GradeCraft dashboard illustration"}
  .modal-slide-bottom
    .modal-slide-text
      %h2 Build Motivation
      %p Employ special features to motivate students, such as unlocks, badges, and dynamic grading schemes
