.modal-slide
  .modal-slide-top
    = image_tag "staff-onboarding-slide-6.png", alt: "Mountain illustration representing the many pathways students can take to achieve in a gameful course", class: "modal-slide-image centered"
  .modal-slide-bottom
    .modal-slide-text
      %h2 Build Motivation
      %p Employ special features to motivate students, such as unlocks, badges, and dynamic grading schemes
