.modal-slide
  .modal-slide-top
    %img.modal-slide-image.centered{src: "/images/staff-onboarding-slide-4.png", alt: "Signpost highlighting the many areas of GradeCraft that instructors can customize"}
  .modal-slide-bottom
    .modal-slide-text
      %h2 Extensive Customization
      %p You have freedom to tailor and personalized features, course settings, and language based on your unique scenarios and needs
