.criterion(ng-class="{'criterion-not-saved': !loCategoryCtrl.saved()}")
  %label
    %span.sr-only Category Name
    %input(type="text" ng-model="loCategoryCtrl.category.name" name="name" placeholder="Category Name (Required)" required ng-blur="loCategoryCtrl.persist()")

  %attributes(ng-if="loCategoryCtrl.saved")
    %label
      %span.sr-only Category Description
      %textarea.criterion-description(ng-model="loCategoryCtrl.category.description" placeholder="Category Description" ng-change="loCategoryCtrl.persist()")

    %button.delete(type="button" ng-click="loCategoryCtrl.delete()") X

.level-container(ng-if="loCtrl.saved()")
  %learning-objective-levels.level-wrapper(objective="loCtrl.objective")
