%loading-message(loading='loEditCtrl.loading' message="Loading...")

.rubric-design(ng-if="!loEditCtrl.loading")
  #criterion-box
    %section.form-section
      .rubric-container.divider
        %learning-objective(data-objective="loEditCtrl.objective()" data-delete-route="{{loEditCtrl.deleteRoute}}")

#last-updated(ng-if="loEditCtrl.lastUpdated() != null")
  .italic
    Last Updated: {{loEditCtrl.lastUpdated() | date:"MM/dd/yyyy 'at' h:mma"}}
