%loading-message(loading='loEditCtrl.loading' message="Loading...")

#criterion-box
  .rubric-container.divider(ng-repeat="objective in loEditCtrl.objectives")
    %learning-objective(objective="objective")

%button(ng-click="loEditCtrl.addObjective()") + Add {{loEditCtrl.termFor("learning_objective")}}
