%section#rubric-grader{"ng-if"=>"loGradeOverviewCtrl.objectives().length > 0"}
  #rubric-grade-edit.rubric.edit
    .criterion{"ng-repeat"=>"objective in loGradeOverviewCtrl.objectives()"}
      .criterion-heading
        %h4.criterion-name {{objective.name}}
        %p.criterion-description {{objective.description}}
        %p
          %span
            Overall Progress:
            .italic
              {{loGradeOverviewCtrl.statusFor(objective.id)}} (Attempts: {{loGradeOverviewCtrl.overallProgress(objective.id).totalOutcomeCount || 0}})

      %ul.level-tabs
        %li.level-tab{"ng-repeat"=>"level in loGradeOverviewCtrl.levelsFor(objective)",
                      "ng-class"=>"{ selected: loGradeOverviewCtrl.levelSelected(objective.id, level.id) }"}
          .level-heading
            .level-details
              .level-name {{level.name}}

          .level-description
            .level-flagged-value{"ng-class"=>"level.flagged_value"} {{level.flagged_value}}
            {{level.description || "No description"}}

      .comments-box
        %h5 Comments:
        %comments{{"ng-bind-html"=>"loGradeOverviewCtrl.sanitize(loGradeOverviewCtrl.observedOutcomeFor(objective.id).comments)"}}
