%loading-message{"loading"=>"loIndexCtrl.loading", "data-message"=>"Loading..."}

%index-tables{"ng-if"=>"!loIndexCtrl.loading"}
  %h2.subtitle {{loIndexCtrl.termFor("learning_objectives")}}
  %learning-objectives-objectives-table

  %h2.subtitle Categories
  %learning-objectives-categories-table{"data-delete-path"=>"{{loIndexCtrl.deleteCategoryPath}}"}
