-# .level-items(ng-class="{nocredit: level.noCredit, 'level-meets-expectations': satifiesExpectations()}")
.level-items(ng-form="form")
  %label
    %span.sr-only Level Name
    %input(type="text" ng-model="loLevelCtrl.level.name" name="name" placeholder="Name (Required)" required ng-blur="loLevelCtrl.persist()")

    .error{"ng-if"=>"form.name.$invalid"}
      %i.fa.fa-times-circle.fa-fw
      %span.bold Name is required

  %level_attributes(ng-if="loLevelCtrl.saved()")
    %label
      %span.sr-only Level Description
      %textarea(ng-model="loLevelCtrl.level.description" placeholder="Description" ng-change="loLevelCtrl.persist()")

    %label
      %span.sr-only Flagged Value
      %select(ng-model="loLevelCtrl.level.flagged_value"
              ng-options="name as name for (name, value) in loLevelCtrl.flaggedValues"
              ng-change="loLevelCtrl.persist()")
        %option{"value"=>""} Select a flagged value

  %button.delete(type="button" ng-click="loLevelCtrl.delete()") X
