-# .level(ng-repeat="level in criterionLevels()" ng-class="{nocredit: level.no_credit, 'level-meets-expectations': satifiesExpectations(level), 'level-not-saved': !levelIsSaved(level)}")
.level(ng-repeat="level in loLevelsCtrl.levels()")
  %learning-objective-level(level="level")

%button.add-level(ng-click="loLevelsCtrl.add()")
  + Level
