%section.form-section
  .form-subsection

    %h3.form-subtitle
      {{loCtrl.learningObjectiveTerm}}
      %span.right{"ng-click"=>"loCtrl.delete($index)"}
        %i.fa.fa-times


    .form-item
      %label
        Name
        %input{"required"=>"",
               "placeholder"=>"Name (Required)",
               "ng-model"=>"loCtrl.objective.name",
               "ng-change"=>"loCtrl.persist()"}

    .form-item
      %label
        Description
        %input{"placeholder"=>"Description",
               "ng-model"=>"loCtrl.objective.description",
               "ng-change"=>"loCtrl.persist()"}

    .form-item
      %label
        Count to Achieve
        %input{"placeholder"=>"Count to Achieve",
               "type"=>"string",
               "gc-number-input"=>"",
               "ng-model"=>"loCtrl.objective.countToAchieve",
               "ng-change"=>"loCtrl.persist()"}
