.criterion(ng-class="{'criterion-not-saved': !loCtrl.saved()}")
  %label
    %span.sr-only Objective Name
    %input(type="text" ng-model="loCtrl.objective.name" name="name" placeholder="Objective Name (Required)" required ng-blur="loCtrl.persist()")

  %label
    %span.sr-only Count to Achieve
    %input.points(type="text" ng-model="loCtrl.objective.count_to_achieve" placeholder="Count to Achieve" gc-number-input ng-change="loCtrl.persist()")

  %attributes(ng-if="loCtrl.saved")
    %label
      %span.sr-only Objective Description
      %textarea.criterion-description(ng-model="loCtrl.objective.description" placeholder="Objective Description" ng-change="loCtrl.persist()")

    %label
      %span.sr-only Category
      %select.criterion-description(ng-model="loCtrl.objective.category_id"
                                    placeholder="Category"
                                    ng-change="loCtrl.persist()"
                                    ng-options="category.id as category.name for category in loCtrl.categories")
        %option{"value"=>""} Select a category

    %button.delete(type="button" ng-click="loCtrl.delete()") X

.level-container(ng-if="loCtrl.saved()")
  %learning-objective-levels.level-wrapper(objective="loCtrl.objective")
