%ng-form{"name"=>"learningObjectiveForm"}
  %i.fa.fa-times.right{"ng-click"=>"loObjectiveCtrl.delete($index)"}

  %section.form-section
    .form-subsection
      .form-item
        %label
          Name
          %input{"required"=>"",
                 "placeholder"=>"Name (Required)",
                 "ng-model"=>"loObjectiveCtrl.objective.name",
                 "ng-change"=>"loObjectiveCtrl.persist()"}

      .form-item
        %label
          Description
          %input{"placeholder"=>"Description",
                 "ng-model"=>"loObjectiveCtrl.objective.description",
                 "ng-change"=>"loObjectiveCtrl.persist()"}

      .form-item
        %label
          Count to Achieve
          %input{"placeholder"=>"Count to Achieve",
                 "type"=>"string",
                 "gc-number-input"=>"",
                 "ng-model"=>"loObjectiveCtrl.objective.countToAchieve",
                 "ng-change"=>"loObjectiveCtrl.persist()"}
