%section.form-section
  %h2.form-title
    Learning Objective Categories

  .button{"type"=>"button",
                "ng-click"=>"loSetupFormCtrl.addCategory()"}
    Add {{loSetupFormCtrl.termForLearningObjective}} Category

%section.form-section
  %h2.form-title
    Learning Objectives

  .button{"type"=>"button",
                "ng-click"=>"loSetupFormCtrl.addObjective()"}
    Add {{loSetupFormCtrl.termForLearningObjective}}

  %learning-objectives{"ng-repeat"=>"objective in loSetupFormCtrl.learningObjectives"}
    %learning-objective{"objective"=>"objective",
                        "data-learning-objective-term"=>"{{loSetupFormCtrl.termForLearningObjective}}"}
