@import "../utilities/variables"

.alert-box
  padding: 0.5em
  background-color: $blue-medium_2
  color: white
  margin-bottom: 1em
  position: relative

  a.close
    color: white
    position: absolute
    top: 0.25em
    right: 0.5em
    border-bottom-color: transparent

  a
    color: $color-blue-5

.alert-box
  &.error
    background-color: $color-red-1

  &.success
    background-color: $color-green-3

  &.notice
    background-color: $color-blue-3

  &.alert
    background-color: $color-orange-1

  ul
    margin-bottom: 0

.public .alert-box
  position: relative
  margin:  3.5rem 1rem 0 1rem !important

.ui-tabs-panel:not(.last-active-tab) .alert-box
  display: none
