@import "../utilities/variables"

ul.breadcrumbs
  width: calc(100% - 1rem)
  padding: .5rem
  background-color: $color-blue-2
  font-weight: 400
  margin: 0
  
  li 
    list-style-type: none
    display: inline
    color: $color-orange-1
    &:hover 
      color: $color-orange-1

    a
      text-decoration: none
      text-transform: capitalize
      float: left
      color: white
      margin-right: .5rem
      
      &:after
        content: " › "
      
      &:hover, &.active
        color: $color-blue-4
