@import "../utilities/variables"

ul.edit-form-tabs-nav
  margin: 0 -1em 2em -1em
  padding: 0 0 5px 1em
  border-bottom: 2px solid $blue-medium_2
  position: relative

  li
    list-style-type: none
    margin: 0 0.2em 0 0
    display: inline-block

    a
      border-bottom: 0px solid transparent
      color: white
      background: $blue-medium_1
      padding: 0.5em 1em
      font-family: 'ProximaNova_regular', sans-serif
      border-top-left-radius: $button-radius
      border-top-right-radius: $button-radius

    &.active
      a
        background: $blue-medium_2

.preview-wrapper
  display: flex
  align-items: flex-end
  &.hidden
    display: none

.icon-preview
  border-bottom: 1px dashed $color-grey-5
  border-left: 1px dashed $color-grey-5
  padding: 0.5rem
  margin: 1rem 1rem 2rem 2rem
  position: relative
  &.banner-preview
    width: 600px
    height: 150px
  &.large-preview
    width: 150px
    height: 150px
  &.event-preview
    width: 250px
    height: 150px
  &.avatar-preview
    width: 100px
    height: 100px
  &.medium-preview
    width: 80px
    height: 80px
  &.small-preview
    width: 40px
    height: 40px
  &.tiny-preview
    width: 20px
    height: 20px

.xaxis-label,
.yaxis-label
  position: absolute
  color: $color-grey-3
  font-size: 0.8rem

.xaxis-label
  top: 50%
  left: -40px
  transform: translateY(-50%)

.yaxis-label
  bottom: -24px
  left: 50%
  transform: translateX(-50%)

.remove-line-item
  width: 1.5rem
  height: 1.5rem
  color: white
  background-color: $color-red-1
  border-radius: 50%
  margin-top: 25px
  &:hover
    background-color: darken($color-red-1, 10%)
  .fa-times
    width: 100%
    padding-top: 4px

.remove-media
  position: absolute
  top: -8px
  right: -8px
  border-radius: 50%
  width: 1.5rem
  background-color: $color-red-1
  &:hover
    background-color: darken($color-red-1, 10%)
  .fa-times
    width: 100%
