@import "../utilities/variables"

.modal-wrapper
  max-width: 600px
  margin: 0 auto
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.modal-slide-top
  background-color: $color-grey-7
  padding: 3rem

.modal-slide-image
  max-width: 300px
  display: block
  margin: 0 auto

.modal-slide-bottom
  padding: 2rem 3rem

.modal-slide-text
  h2
    font-weight: 400
    margin-bottom: 0.75rem
  p
    margin: 0
