@import "../utilities/variables"

.tabs-content, .ui-widget-header, .ui-widget-content
  border: none

.ui-widget
  font: 1em/1.45em 'ProximaNova_light', sans-serif
  color: $blue_dark

  button
    font-family: 'ProximaNova_semibold', sans-serif
    background: $blue-medium_1
    color: white

.ui-widget-content
  .ui-tabs-panel
    padding: 1rem 0

    .button-group a
      color: $color-white

.ui-widget-content a.button.secondary
  color: $color-white

.ui-tabs .ui-tabs-nav
  box-sizing: border-box
  background: white
  padding: 0 1rem
  border-bottom: 2px solid $blue-medium_2
  margin: 0 -1em
  overflow-x: auto
  white-space: nowrap
  -webkit-overflow-scrolling: touch
  -ms-overflow-style: -ms-autohiding-scrollbar

  &::-webkit-scrollbar
    display: none

  @media (max-width: $media-small-max)
    margin: 0 -0.7rem

  span
    @media (max-width: $media-small-max)
      display: none

  li
    display: inline-block
    float: none

    a
      padding: 0
      float: none
      border: 0px solid transparent
      border-radius: $button-radius
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
      display: block
      padding: 0.5em 1em
      font-family: 'ProximaNova_regular', sans-serif
      color: white
      background-color: $blue-medium_1

    &.ui-state-active
      a
        background-color: $blue-medium_2

    &.ui-state-default
      border: 0

    @media (max-width: $media-small-max)
      margin: 0 0.75rem -0.25rem 0

.ui-corner-all
  border-radius: 0
