@import "../utilities/variables"

table
  clear: both
  border-spacing: 0
  font-size: 1em
  text-align: left
  width: 100%
  background-color: $color-white
  border-collapse: collapse

  tr:nth-child(even)
    background-color: $color-grey-7

  tr
    border-bottom: 1px solid $color-grey-6

  td
    //padding: .5rem
    padding: 0.5em 0.25em

    &.center
        text-align: center !important
    .button-container.dropdown
        text-align: right
    ul.marker-type-none
      list-style-type: none
      padding: 0
      display: inherit

  thead
    background-color: $blue-medium_2
    color: white

    th
      padding: 0.5em 0.25em

      a,
      a.active,
      a.sorted
        color: white !important
        font: 0.9em/1em 'ProximaNova_light', serif

        &:hover
          text-decoration: none

        span
          font-size: 0.5em
          margin-left: 2em

      span[tabindex="0"]
        color: $color-white

      &.options
        text-align: right

      &.has_button
        min-width: 150px

.scroll-table
  overflow: hidden
  position: relative
  width: 100%
  &:after
    position: absolute
    top: 0
    left: 100%
    width: 50px
    height: 100%
    border-radius: 10px 0 0 10px / 50% 0 0 50%
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25)
    content: ''
  > .table-wrapper
    overflow-x: auto

  &.stacktable.large-only
    display: block

.table-header-information
  font-weight: 300
  padding-bottom: 20px

.table-menu
  text-align: right
  ul
    margin: 0
    padding-left: 0
  li
    list-style-type: none
    display: inline-block
  .options-menu li
    display: block

/* Styling pattern tables for assignment outcome overview */
td.complete, tr.achieved
  background-color: $color-green-1

i.complete
  color: red

td.absent
  background-color: $color-black

i.absent
  color: $color-black

td.partial
  background-color: $color-blue-4

i.partial
  color: $color-green-2

i.missing_grade
  color: $color-grey-6

.collapse-hidden
  padding: .25rem 2rem

.announcements
  .unread
    font-weight: bold
    padding-left: 0.5rem
    border-left: 2px solid $color-blue-3

@media (max-width: 867px)
  table
    th.draggable, td.draggable
      display: none

@media (max-width: $media-1200)
  table
    th, td
      padding: .25rem
      font-size: 0.9em

  tbody ul.button-bar li a.button
    border-radius: $global-radius
    display: block
    margin-bottom: .2rem !important

@media (max-width: $media-medium-max)
  tbody ul.button-bar li a.button
    font-size: .6rem
    display: inline-block

  tbody ul.button-bar li:not(:last-of-type) a.button
    margin-right: .2rem

@media (max-width: 800px)
  tbody ul.button-bar li
    margin-left: 0px

  .dynatable-sort-header
    pointer-events: none

  th a:hover
    color: $color-blue-3

  table.stacktable
    border: 1px solid $color-grey-5
    margin-bottom: 1em

    .table-header-row
      background-color: $color-blue-2 !important
      color: $color-white
      text-align: center
      a
        color: $color-white

    .st-key
      text-transform: capitalize

    tr:last-child, tr:first-child
      .st-key
        display: none

    tr:first-child
      .st-val
        padding: .5em
        font-size: .85rem

  .badge-index-table
    .st-key
      width: 25%
    .st-val
      width: 75%
    .button-bar
      text-align: right

  table.second-row-header
    tr:first-child
      display: none
    tr:nth-child(2)
      .st-key
        display: none
      .st-val
        padding: .5em
        font-size: .85rem

  table.no-button-bar
    tr:last-child
      .st-key
        display: table-cell

  table.no-table-header
    tr:first-child
      text-align: left
      .st-key
        display: table-cell
        padding: .25rem
      .st-key, .st-val
        font-size: .7rem
