@import "../utilities/variables"

.tabs-content, .ui-widget-header, .ui-widget-content
  border: none

.ui-widget
  font-family: 'Open Sans', sans-serif

.ui-widget-content
  .ui-tabs-panel
    padding: 1rem 0

    .button-group a
      color: $color-white

#tabs .ui-widget-content a.button.secondary
  color: $color-white


.ui-tabs .ui-tabs-nav
  background: $color-white
  padding: 0
  
  .ui-state-focus a 
    outline: none
  li 
    a
      padding: 0

  li.ui-state-default
    margin: 0 1rem 0 0
    background: $color-white
    border: 0
    font-weight: 300
    a
      color: $color-black

      &:hover
        color: $color-black
        border-bottom: 1px solid $color-green-3
  li.ui-state-active a
    border-bottom: 1px solid $color-green-3
