@import "../utilities/variables"

.has-tooltip:hover > .display-on-hover,
.has-tooltip:focus > .display-on-hover
  display: block
  @media (max-width: $media-small-max)
    display: none

.has-tooltip
  position: relative

.hover-style
  position: absolute
  display: none
  padding: 0.25rem 0.5rem
  width: 200px
  font-size: .75rem
  font-weight: 300
  text-transform: initial
  background-color: $color-blue-1
  color: $color-white
  border-radius: $global-radius
  z-index: 10
  opacity: 0.9
  bottom: 100%
  transform: translateX(-50%)
  left: 50%
  margin-bottom: 0.75rem
  &::after
    position: absolute
    top: 100%
    left: 50%
    transform: translateX(-50%)
    border-top: 8px solid $color-blue-1
    border-top: 8px solid $color-blue-1(0, 0%, 20%, 0.9)
    border-right: 8px solid transparent
    border-left: 8px solid transparent
    content: " "

  h6
    color: $color-white
    font-weight: bold

  ul
    margin: 0
    padding: 0

    li
      color: $color-white
      display: block
      clear: both
