.pageContent
  %h2.form-title Tools
  .form-card-grid
    .form-card
      .form-card-header
        = link_to "Check Unlockables", unlocks_admin_tools_path
      .form-card-body
        .feature-description
          Retroactively check unlock conditions after conditions have been changed partway through in a course
