- if @badges.present?
  %h4#badges-available
    #{term_for :badges} available
    %button#add-badges(ng-click="addRemainingEarnedBadges($event)" ng-show="badgesAvailable()") Add All

  .grade-badge.hexagon.available(title="{{badge.point_total}} Points: {{badge.description}}" ng-repeat="badge in badges" ng-class="{unearned: badge.unearned(), earned: badge.earned()}" ng-click="earnBadgeForStudent(badge)" hide-after-fade)

    %img(ng-src="{{badge.icon}}" alt="You've earned the {{badge.name}} badge" class="unearned")

    .ribbon
      .ribbon-stitches-top
      .ribbon-content
        .badge-name {{badge.name}}
      .ribbon-stitches-bottom
    .ribbon-ends
    .gold-stars
      %i.fa.fa-star.fa-fw
        .earned-count {{badge.earnedBadgesForGrade.length + badge.otherEarnedBadges.length}}
      .badges-earned.blue
