%h4.uppercase#awarded-header
  #{term_for :badges} Awarded for this #{term_for :assignment}
  %button#remove-badges(ng-click="removeAllEarnedBadges($event)" ng-show="badgesAwarded()") Remove All

- if @badges.present?

  .grade-badge.hexagon.awarded(title="{{badge.point_total}} Points: {{badge.description}}" ng-repeat="badge in badges" ng-class="{unearned: badge.unearned(), earned: badge.earned()}" ng-click="badge.deleteEarnedStudentBadge()" hide-after-fade)

    %img(ng-src="{{badge.icon}}" alt="You've earned the {{badge.name}} badge" class="earned")

    .ribbon
      .ribbon-stitches-top
      .ribbon-content
        .badge-name {{badge.name}}
      .ribbon-stitches-bottom
    .ribbon-ends
    .gold-stars
      %i.fa.fa-star.fa-fw
        .earned-count {{badge.totalEarnedBadges()}}
      .badges-earned.blue
