.raw-score
  = f.label :raw_score, "Raw Score (#{@assignment.point_total} Points Possible)"
  = f.text_field :raw_score,
    default: @assignment.point_total,
    label: "Score",
    hint: "Total Assignment Points: #{ points @assignment.point_total }",
    "ng-model" => "grade.raw_score",
    "ng-change" => "grade.update()",
    "ng-click" => "grade.enableCustomValue()",
    "ng-model-options" => "grade.modelOptions()",
    "placeholder" => "Enter raw score for grade",
    "smart-number" => "",
    "smart-number-options" => "{ maxDigits: 9, preventInvalidInput: true }"
