.raw-score
  = f.label :raw_points, "Raw Points (#{points assignment.full_points} Points Possible)"
  = f.text_field :raw_points,
    default: assignment.full_points,
    label: "Score",
    hint: "Total Assignment Points: #{ points assignment.full_points }",
    "ng-model" => "grade.raw_points",
    "placeholder" => "Enter raw points for grade",
    "smart-number" => ""
