#gradebox

  .raw-points-wrapper(ng-class="{'custom-input': grade.is_custom_value}")

    %label.raw-points-label(for="grade_raw_points" ng-click="enableScoreLevels()" ng-class="{'disabled': grade.is_custom_value}")
      Raw Score (#{assignment.full_points} Points Possible)
    %select#grade_raw_points(name="grade[raw_points]" ng-model="grade.raw_points" ng-disabled="grade.is_custom_value" ng-change="updateGrade()" ng-class="{'disabled': grade.is_custom_value}")
      %option(value="{{scoreLevel.points}}" ng-repeat="scoreLevel in assignment().score_levels" ng-selected="grade.raw_points == scoreLevel.points") {{scoreLevel.name}} {{scoreLevel.points | number}}

    %label.raw-points-label(for="grade_raw_points" ng-class="{'disabled': ! grade.is_custom_value}")
      Custom Value
    = f.text_field :raw_points,
      default: assignment.full_points,
      label: "Score",
      hint: "Total Assignment Points: #{ points assignment.full_points }",
      "ng-model" => "grade.raw_points",
      "ng-click" => "enableCustomValue()",
      "ng-change" => "updateGrade()",
      "ng-disabled" => "! grade.is_custom_value",
      "placeholder" => "Enter raw score for grade",
      "smart-number" => "",
      "smart-number-options" => "{ maxDigits: 9, preventInvalidInput: true }"

  .class-analytics-toggle
    %h4.class-analytics-label Enter as custom value
    %label.rubric-switch-socket
      %input#class-analytics-toggle(type="checkbox" ng-click="toggleCustomValue()" ng-checked="grade.is_custom_value")
      .rubric-switch-handle.round

%input(type="hidden" name="grade[is_custom_value]" ng-value="grade.is_custom_value")
