#gradebox(ng-click="grade.disableCustomValue()" ng-class="{'inactive': grade.is_custom_value}" tooltips tooltip-size="medium" tooltip-title="Click to use score levels" tooltip-side="bottom" tooltip-delay="800")

  -# dynamic label for select box
  %label(for="grade_raw_score" ng-click="grade.disableCustomValue()" ng-class="{'inactive': grade.is_custom_value}")
    Raw Score (#{@assignment.point_total} Points Possible)

  %select#grade_raw_score(name="grade[raw_score]" ng-model="grade.raw_score" ng-disabled="grade.is_custom_value" ng-click="grade.enableScoreLevels($event)" ng-change="grade.update()" ng-class="{'disabled': grade.is_custom_value}")
    %option(value="{{scoreLevel.value}}" ng-repeat="scoreLevel in assignmentScoreLevels" ng-selected="grade.raw_score == scoreLevel.value") {{scoreLevel.name}} ({{scoreLevel.formatted_value}} points)

.gradebox(ng-click="grade.enableCustomValue()" ng-class="{'inactive': ! grade.is_custom_value}" tooltips tooltip-title="Click to enable custom grading" tooltip-size="medium" tooltip-side="bottom" tooltip-delay="800")
  -# dynamic label for custom value field
  %label#custom-value-label(for="grade_raw_score" ng-click="grade.enableCustomValue()" ng-class="{'disabled': ! grade.is_custom_value}")
    Custom Value
  = f.text_field :raw_score,
    default: @assignment.point_total,
    label: "Score",
    hint: "Total Assignment Points: #{ points @assignment.point_total }",
    "ng-model" => "grade.raw_score",
    "ng-change" => "grade.update()",
    "ng-click" => "grade.enableCustomValue()",
    "ng-model-options" => "grade.modelOptions()",
    "ng-disabled" => "! grade.is_custom_value",
    "placeholder" => "Enter raw score for grade",
    "smart-number" => "",
    "smart-number-options" => "{ maxDigits: 9, preventInvalidInput: true }"

%input(type="hidden" name="grade[is_custom_value]" ng-value="grade.is_custom_value")
