@import color
@import layout

.assignment-details-container
  width: 800px
  overflow: hidden
  *
    font-weight: 300
  h3, h4
    font-weight: 400
  h3
    font-size: 1.25rem
  h4
    margin: 1rem 0 0.25rem 0
  ul
    margin: 0
    padding-left: 1.25rem
  p, ul
    margin: 0

.class-analytics-graph
  display: inline-block
  vertical-align: top

.in-page-nav-wrapper
  float: right
  width: 200px

.in-page-navigation
  list-style: none
  margin: 0
  padding: 0

  li
    padding: 0.25rem 0
