@import color
@import layout
@import ribbon_mixins
@import animation


/* Badge Show Page */
.student
  .badge-show-page, .earned-badge
    max-width: 960px
    margin: 0 auto 1em
    font-weight: 300

    h1, .count
      text-align: center

    .badge-description, .earned-badge
      margin-bottom: 1rem

    .badge-icon
      width: 150px
      display: block
      margin: 0 auto

.staff
  .badge-show-page
    font-weight: 300
    display: flex
    align-items: center

    .badge-icon-container
      float: left

    .badge-icon
      width: 100%
      max-width: 120px

    .badge-description
      width: 75%
      float: left
      margin: 0 0 1rem 1rem

    .badge-title, .count
      display: none

/* Student Badge Index Page */
.badge-container
  .badge-description
    .badge-title
      font-size: 1.25rem

.badge-index-container
  float: left
  width: 75%

  .badge-icon-container
    width: 110px

.info-side-panel
  height: 100%
  float: left
  width: 25%
  border-left: 1px solid $color-grey-5
  box-sizing: border-box
  padding: 0 1rem

/* used on the badge show page for both instructors and students, and grade
/* standard edit form */

.badge-name
  font-size: .7rem
  margin: 0px
  width: 110px
  text-align: center
  line-height: .9rem

.earned-count
  font-size: .7rem
  font-family: Open Sans
  font-weight: normal
  width: 1rem
  margin-top: -1.35rem
  margin-left: .8rem
  text-align: center
  color: $color-black

button#remove-badges, button#add-badges
  position: relative
  margin-left: .5rem
  top: -.2rem
  @include transition-property("background, opacity")
  @include transition-duration(0.3s)
  @include transition-timing-function(ease)

.grade-badge,
.badge-index-container .badge-icon-container
  float: left
  margin: 1rem
  position: relative

  img
    width: 80px
    display: block
    margin: 0 auto

  &.unearned:hover, &.unearned:before:hover, &.unearned:after:hover
    background-color: $color-blue-3
    @include opacity(0.88)
    box-shadow: 0 0 20px #F6C621


  &.available.earned
    @include opacity(0)

  &.awarded.unearned
    @include opacity(0)

  &.available, &.awarded
    &.hide-after-fade, &.temp-hide
      display: none !important

  &.available.unearned-active
    transition:1s linear all
    opacity:0.92

  &.awarded.earned-active
    transition:1.5s linear all
    box-shadow: 0 0 150px #FFD017
    opacity:0.95

  &.fade-in-available
    @include opacity(0.8)
    @include transition-property("opacity")
    @include transition-duration(2s)
    @include transition-timing-function(ease)

  &.fade-in-awarded
    @include opacity(1)
    @include transition-property("opacity")
    @include transition-duration(2s)
    @include transition-timing-function(ease)

  .available
    opacity: .5

  .gold-stars
    position: absolute
    top: 10px
    right: 0px
    font-size: 2rem
    color: $color-yellow-1

    i.fa-fw
      z-index: 600 !important

  &.unearned
    .gold-stars
      @include opacity(0.6)


/* badge index table on instructor side */
.badge-index-table
  .sort-column, .lock-icon-column
    width: 20px
  .icon-column
    width: 10%
    text-align: center
  .earned-column
    width: 100px
  .description-column
  &.student-index
    .button-column
      min-width: 0px
      width: 10px
  .button-bar li a.button
    display: block
    margin: .25em
    border-radius: 0.1875rem
  .badge-icon
    width: 80%
    max-width: 100px
    display: block
    margin: 0 auto

@media (max-width: $media-medium-max)
  .badge-index-table
    .button-bar li:not(:last-of-type) a.button
      margin-right: 0

  .badge-index-container
    width: 100%

@media (max-width: 800px)
    .badge-index-table
      .button-bar li a.button
        display: inline-block
      .button-bar li:not(:last-of-type) a.button
        margin-right: .5rem

@media (max-width: $media-small-max)
  .staff
    .badge-show-page
      display: block
      margin-bottom: 1rem

      .badge-icon-container, .badge-description
        width: 100%
        float: none

      .badge-description
        margin: 0

      .badge-icon
        margin: 0 auto
        display: block
