.breadcrumbs
  padding: 0
  margin-left: 1rem
  margin-bottom: 0.5rem
  overflow: hidden
  border-radius: 5px

  a
    text-decoration: none
    text-transform: uppercase
    outline: none
    display: block
    float: left
    line-height: 28px
    margin-right: .5rem
    color: white
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0rem .5rem 0 1rem
    background: $secondary-color-2
    position: relative