.button, button
  border-radius: $global-radius
  text-transform: capitalize
  text-decoration: none
  font-family: Avenir, san-serif
  color: #FFF
  border: none
  margin: 0
  padding: .4rem
  font-size: .7rem !important
  line-height: .8rem
  cursor: pointer
  background-color: $primary-color-2
  white-space: nowrap

  &:hover
    background-color: $primary-color-1
    color: #FFF

  &:active
    background-color: $secondary-color-3

.submit-buttons
  margin-top: 1rem
  position: relative
  height: 1rem
  white-space: nowrap

  ul
    float: right
    margin: 0
    padding: 0
    overflow: hidden
    background-color: $primary-color-2
    border-radius: $global-radius

    li
      float: left
      padding: 0
      list-style-type: none
      border-right: 1px solid $color-green-3
    li:first-child button
      padding: 0
    li:last-child
      border-right: 0
      margin-left: 0rem
      a
        display: block
        padding: .4rem .5rem

thead
  .button
    border: none
    background-color: $primary-color-2
    &:hover
      background-color: $primary-color-3
    &.select-all
      border-top-right-radius: 0
      border-bottom-right-radius: 0
    &.select-none
      border-top-left-radius: 0
      border-bottom-left-radius: 0
      margin-left: -5px
      border-left: 1px solid $primary-color-4

tbody
  ul.button-bar
    margin: 0
    padding: 0 !important
    list-style-type: none

    li
      display: inline
      list-style-type: none
      margin: 0
      padding: 0
      margin-left: -5px
      a
        padding: 0
        margin: 0 !important
        color: #FFF !important
      .button
        padding: .4rem
        border-radius: 0
      &:first-child .button
        border-top-left-radius: $global-radius
        border-bottom-left-radius: $global-radius
      &:last-child .button
        border-top-right-radius: $global-radius
        border-bottom-right-radius: $global-radius

.notification-badge
  background-color: $color-red-1
  border-radius: 10px
  color: #FFF
  font-size: 12px
  padding: 2px 8px 0 7px
  text-align: center
  float: right

.flagged-user-icon > .fa-flag
  color: $color-grey-6

  &.flagged
    color: $color-orange-1

@media (max-width: 1000px)
  .hide-for-small
    display: none
