.button, button
  border-radius: $global-radius
  text-transform: capitalize
  text-decoration: none
  color: #FFF
  border: none
  padding: .4rem
  font-size: .7rem !important
  cursor: pointer
  background-color: $primary-color-2

  &:hover
    background-color: $primary-color
    color: #FFF

  &:active
    background-color: $secondary-color-3

.button-group 
  li
    display: inline
    margin: 0 -1px
    list-style-type: none
    white-space: nowrap
  .button, button
    border-radius: 0
    margin: 0 -1px
  li:first-of-type .button
    border-top-left-radius: $global-radius
    border-bottom-left-radius: $global-radius
  li:last-of-type .button
    border-top-right-radius: $global-radius
    border-bottom-right-radius: $global-radius

ul.button-group
  display: inline
  margin: 0
  padding: 0

thead
  .button
    border: none
    background-color: $secondary-color !important
    .select-none
      left: -6px
    &:hover
      background-color: $primary-color !important