.context_menu
  background-color: $color-green-2
  height: 2rem
  margin: 0
  width: 100%
  clear: both
  opacity: .8
  overflow: hidden

  ul
    padding: 0
    margin: 0 0 0 1rem
    position: relative
    li
      list-style-type: none
      margin: 0
      line-height: 2rem
      text-transform: capitalize
      display: block
      padding: 0rem .25rem
      font-size: .8rem
      float: left
      border-left: 1px solid $color-green-3
      border-radius: 0 !important
      & > a
        color: $color-white
        padding: 0 .5rem
      & a:hover
        background-color: $color-green-0
        display: block
