@import color
@import layout

body
  margin: 0 auto
  padding: 0
  position: relative
  display: flex
  flex-direction: column
  height: 100vh

.inner-wrap
  margin: 2.75rem auto 0 auto
  max-width: 1500px
  width: 100%
  flex: 1 0 auto
  background-color: $color-white

.outer-wrap
  padding: 0.1rem 0

.mainContainer
  &.staff
    width: calc(100% - 252px)
    float: right

.pageContent
  padding: 0.75rem 1rem
  background-color: $color-white

.student > .mainContent
  padding-top: 2.2rem
  @media (max-width: $media-small-max)
    padding-top: 0

.right
  float: right

.left
  float: left

.hidden
  display: none

.clear
  clear: both

.box 
  margin-top: 1rem
  border: 1px dashed $color-blue-3
  padding: 1rem
  &:hover 
    border: 1px dashed $color-green-2
    display: block
  
.no-bullet li
  list-style-type: none

hr.dotted
  border-color: $color-white
  border: 0
  border-bottom: 1px dashed $color-green-2

  &.no-margin
    margin: 0

  &.top-margin
    margin-top: .5rem
    margin-bottom: 0

hr.light-grey
  border-color: $color-grey-6
  border: 1px

a:hover + .display_on_hover
  display: block

.hover-style
  position: absolute
  display: none
  padding: 0.5rem
  width: 250px
  font-size: .8rem
  background-color: $color-blue-1
  color: $color-white
  border-radius: $global-radius
  z-index: 10

  h6
    color: $color-white
    font-weight: bold

  ul
    margin: 0
    padding: 0

    li
      color: $color-white

      display: block
      clear: both

.centered
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

.hover-style.right
  position: absolute
  margin-left: -240px

.preview-bar
  padding: 1rem 1rem .75rem

.the-nav.preview-mode
  background-color: $color-orange-1
  .course_semester
    color: $color-white

.the-nav .release-preview-link a
  float: left
  color: white
  font-size: .95rem
  margin: 7px 0 0 12%
  background-color: $color-blue-3
  padding: .25rem
  border-radius: $global-radius
  &:hover 
    background-color: $color-blue-2

@media (min-width: $media-medium-max)
  .panel .row
    margin-bottom: 1rem

@media (max-width: $media-medium-max)
  .mainContainer.staff
    width: 100%
  .box
    border-bottom: 1px solid $color-grey-3
    padding: 1rem

  .assignment_type_weights .panel.callout.columns
    margin-right: 1rem
    width: 23%

@media (max-width: $media-small-max)
  .mainContainer.staff
    width: 100%
  .badge-icon
    width: 25px
