@import color
@import layout

.page
  .hero-section
    margin: 0
    background:rgba(46,112,190,.3)
    background-position: top center
    background-repeat: no-repeat
    position: relative

    h1
      color: $color-white
      text-align: center
      font-size: 2.5rem
      padding: 2em 0

    .public-subnav 
      position: absolute
      bottom: 0
      li
        display: inline
        a
          padding: 0.75em 1em
          background-color: white

    ul
      list-style: none
      padding-left: 0
      text-align: center
      margin: 0 auto
      width: 100%


  .main-section
    background-color: $color-white
    padding: 1rem

    ul
      padding-left: 0

    ul li
      list-style-type: none

    li
      margin-bottom: 1rem

    .date
      text-transform: uppercase
      font-size: .8rem

    .main-section-content
      width: 75%
      margin: 0 auto

.article
  margin-bottom: 1.5rem

  .title
    font-size: 1rem

.role-title
  text-transform: uppercase
  font-size: 1.2rem
  margin-bottom: .5rem

.logged-out .page .hero-section, .logged-out .features .hero-section
  margin: 2.5rem 0 0

@media (max-width: $media-small-max)
  .page .hero-section
    padding: 50px 0 0
    height: auto !important

    h1
      width: 100%
      border-radius: 0 !important
      background-color: $color-grey-6