#grade-levels

#predictor-graphic
  margin: 10px 0 0 5%
  background-color: $color-layout-blue-4
  .grade-point-axis
    path, line
      fill: none
      stroke: black
      shape-rendering: scripEdges;
    text
      font-family: sans-serif
      font-size: 11px

// SECTIONS

.predictor-section-title
  @include title-type-styling
  font-size: 1.6875rem
  color: white
  background-color: $color-layout-blue-0
  line-height: 1.4
  margin-bottom: 0.5rem
  margin-top: 0.2rem
  padding: 0 .5rem
  clear: both

  .predictor-assigment-type-name
   float: left

  .predictor-assignment-type-points
    text-align: right

// ARTICLES

article.predictor-assignment
  display: block
  margin-bottom: 1rem
  border: 1px solid $color-layout-blue-0
  border-bottom: .25rem solid $color-layout-blue-0
  background-color: $color-layout-blue-5
  float: left
  width: 19%
  margin: 3px
  height: 8.8rem
  select
    margin: 0

.predictor-article-title
  background-color: $color-layout-blue-0
  color: $txt-color-inverse
  padding: 3px 0 0 .5rem
  height: 2rem
  font-size: 1.125rem

.predictor-article-icons
  height: 1.25rem
  background-color: $color-layout-blue-2
  padding: .25rem

.icon
  position: relative
  display: block
  float: left
  width: 20px
  .icon-tooltip
    display: none

.icon:hover .icon-tooltip
  position: absolute
  top: 1rem
  width: 10rem
  text-align: center
  color: $color-layout-blue-4
  display:block
  z-index: 100
  background-color: $color-layout-blue-0
  border-radius: 4px
  padding: 4px

.predictor-article-date
  height: 1.25rem
  //background-color: $color-layout-blue-3
  padding: .25rem

.predictor-article-main
  padding-top: 8px

article.predictor-assignment.status-graded
  background-color: $color-layout-blue-4
  border: 1px solid $color-layout-blue-1
  border-bottom: .25rem solid $color-layout-blue-1
  .predictor-article-title
    background-color: $color-layout-blue-1
  .predictor-article-icons
    background-color: $color-layout-blue-3

.assignment-graded .grade
  text-align: center
  font-size: 1.5rem
  color: $color-layout-blue-0

.assignment-predicted .grade
  text-align: center
  font-size: 1.25rem
  color: $color-layout-blue-0
  .value
    font-size: 1rem
  .name
    font-size: .85rem
    margin: -5px

/* Styling the slider widgets */

article.predictor-assignment
  .slider.ui-widget-content
    background: $color-layout-blue-2
    border: none
    width: 80%
    margin-left: 10%

  .ui-state-default, .ui-widget-content .ui-state-default
    border: none

  .ui-slider .ui-slider-range
    background: $color-layout-blue-1

  .ui-slider .ui-slider-handle
    width: 20px
    height: 20px
    position: absolute
    top: -5px
    margin-left: -12px
    background: $color-layout-blue-0


.predictor-pass-fail-switch .switch-socket
  width: 40px
  height: 20px
  position: relative
  background: $color-layout-blue-2
  border-radius: 4px
  margin: auto

.predictor-pass-fail-switch .switch-handle
  width: 20px
  height: 20px
  position: absolute
  background: $color-layout-blue-0
  border-radius: 4px

.predictor-pass-fail-switch .switch-handle.on
  left: 20px

// ANIMATIONS

.collapsable .predictor-assignment
  @include transition(all, .5s, ease-out)

.collapsable.collapsed .predictor-assignment
  overflow: hidden
  height: 0
  margin-top: 0
  margin-bottom: 0
  border-top: none
  border-bottom: none

// RESPONSIVE DESIGN
