#grade-levels

#predictor-graphic
  margin: 10px 0 0 5%
  background-color: $color-blue-4
  .grade-point-axis
    path, line
      fill: none
      stroke: black
      shape-rendering: scripEdges;
    text
      font-family: sans-serif
      font-size: 11px
