@import color

section.pilot
  position: relative
  padding: 3rem 2rem
  background-color: $color-blue-3
  opacity: .8
  margin: 0 auto
  color: $color-white
  width: 100%

  h1
    font-size: 2rem
    font-weight: normal !important