@import color
@import layout

#student-dashboard
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -webkit-flex-direction: row
  -ms-flex-direction: row
  flex-direction: row

  .col-30, .col-40
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -webkit-flex-direction: column
    -ms-flex-direction: column
    flex-direction: column
    margin-right: 1rem

    &:last-child
      margin-right: 0

  .col-30
    width: 30%

  .col-40
    width: 40%

  .dashboard-module
    margin-bottom: 1.25rem
    width: 100%
    border: 1px solid #eee

  .card-header
    background-color: $color-blue-2
    color: $color-white
    padding: 0.25rem 0.5rem

  .card-body
    padding: 0.5em

  .todo .card-body
    padding: 0

  .todo-list-assignments
    margin: 0
    padding-left: 0
    font-size: .8rem

    li
      list-style-type: none

  .assignment-item
    position: relative
    padding: 0.5em
    border-bottom: 1px solid $color-grey-6

    &:last-child
      border-bottom: none

    &.starred
      background-color: transparentize($color-blue-4, .8)

    .button
      position: absolute
      top: 50%
      transform: translateY(-50%)
      right: 8px

    a
      font-weight: 400

  .planner-filter
    white-space: nowrap
    border-bottom: 1px solid $color-grey-6

    a
      font-weight: 400

  .bar_magic
    border-radius: 5px
    padding: .25rem
    font-size: 0.8rem

  .bar_magic.current
    padding: 0.5rem 1rem

    .your-rank
      font-size: 0.9rem

    .left-points, .right-points
      margin: 0

  .avatar
    text-align: center
    position: relative
    img
      margin: .5rem auto
    ul li
      display: inline
      a:hover
        background-color: $color-green-2


  a
    font-weight: 300

  h3
    margin: 0
    padding: 0
    font-size: .9rem

  .form_label
    color: $color-grey-2
    font-style: normal
    font-weight: 300

  ul.block-grid
    margin: 0.5rem auto !important
    width: 100%
    padding: 0
    li
      width: 10%
      display: inline-block
      list-style-type: none
      margin-bottom: .5rem
      img
        width: 100%
      img:hover
        opacity: 1 !important

/* Styles the hover state on the box plot on the student dashboard */
.jqstooltip
  box-sizing: content-box
  height: auto !important
  width: auto !important

/* Makes the box plot responsive */
#student_grade_distro canvas
  width: 100% !important
  margin: 1rem 0

  .button
    border-radius: $global-radius

/* Styles course events slider */
.slick-slide
  height: auto
  padding: 0.25rem 1.5rem

.event-image
  // width: 50%
  float: left

@media (max-width: $media-small-max)
  #student-dashboard
    flex-direction: column

    .col-30, .col-40
      width: 100%
