@import color
@import layout

/* Tabs on the student dashboard */
.sub-nav
  margin: 0
  padding: 1.5rem 0.5rem 0.75rem 1.5rem
  display: block
  position: relative
  overflow: hidden
  width: auto
  background-color: $color-blue-2
  opacity: .9

  ul
    margin: 0
    padding: 0

  li
    display: inline
    list-style-type: none
    margin: 0
    
    i
      display: none
      

  /* Individual Tabs */
  .navbar-nav
    display: inline
    margin: 0
    padding: 0

    li
      font-size: .8rem
      background-color: $color-blue-2
      border-top-left-radius: $global-radius
      border-top-right-radius: $global-radius
      margin: 0 0.5rem 0 0
      padding: 1rem 0
      text-transform: uppercase
      a
        padding: 1em
        color: $color-white
    li.active
      padding: 1rem .75rem !important
    
    h5, hr
      display: none

/* Setting the active tab and hover color */
.navbar-nav li.active, .sub-nav .navbar-nav li:hover
  background-color: $color-blue-3
  color: $color-white

li .announcement-notification-badge
  position: relative
  top: -2px
  margin: 0
  left: 5px

li a.notification-right
  padding: 1rem 0 1rem 1rem !important

@media (min-width: $media-small-max)
  i
    display: inline
