/* Styling the bar charts on the syllabus page */
#userBarTotal
  clear: both
  padding: 0
  margin-left: -2rem
  height: 80px

  .highcharts-grid
    margin-left: -1rem

/* Styling badge images depending on whether or not the student has earned them */
img.unearned
  opacity: .2 !important

img.earned
  opacity: 1

.bar_magic
  height: 2rem
  padding-top: .5rem
  border: 1px solid #ccc
  border-radius: 25px
  background-color: #eee
  border-collapse: true

.bar_magic.success
  color: #FFF
  background-color: $secondary-color-3

  .has-tip
    color: #FFF

p.predictor-description
  margin: 0.25rem 0 .5rem

/*striping on course progress display*/
.striped
  width: 100%
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, $primary-color-4 35px, $primary-color-4 70px)

#levels_per_assignment
  min-height: 200px
  width: 300px
  padding: 0 
  margin: 0 
  .chart
    height: 100px
    padding: 0 
    margin: 0 

.right.radius.label
  margin-left: 1rem
