.tabs-content
  border: none
  border-top-right-radius: $global-radius
  border-bottom-right-radius: $global-radius
  border-bottom-left-radius:  $global-radius

  table
    border-top-right-radius: none !important

    th:first-child th:first-child, th:first-child th:last-child
      border-top-right-radius: 0

.ui-widget-content
  border: 0
  font-family: Avenir, san-serif
  
  .ui-tabs-panel
    padding: 0

    .button-group a
      color: #FFF

  .team-filter
    margin-top: 1rem
    font-family: Avenir, san-serif

.ui-widget-header
  border: 0

.ui-tabs .ui-tabs-nav
  background: lighten($color-blue-0, 60%) !important
  border-bottom: 10px solid lighten($color-blue-0, 10%)

  li.ui-state-default
    background: lighten($color-green-2, 30%) !important
    border: 0

    &:hover
      background: $color-green-2 !important

    &.ui-state-active
      background: lighten($color-blue-0, 10%) !important
      a 
        color: #FFF !important
