.tabs-content
  border: none
  border-top-right-radius: $global-radius
  border-bottom-right-radius: $global-radius
  border-bottom-left-radius:  $global-radius

  table
    border-top-right-radius: none !important

    th:first-child th:first-child, th:first-child th:last-child
      border-top-right-radius: 0

.ui-tabs
  padding: 0 !important

.ui-widget-content
  border: 1px solid $color-grey-4
  border-radius: $global-radius
  font-family: "Avenir", Helvetica, sans-serif
  
  .ui-tabs-panel
    padding: .5rem

    .button-group a
      color: $color-white

  .team-filter
    margin-top: 1rem

.ui-widget-header
  border: 0

.ui-tabs .ui-tabs-nav
  border-radius: $global-radius !important
  background: $color-blue-1 !important
  border-bottom: 10px solid $color-blue-0

  li.ui-state-default
    background: $color-green-3 !important
    border: 0
    a 
      color: $color-white !important

    &:hover
      background: $color-green-2 !important

    &.ui-state-active
      background: $color-blue-0 !important
      a 
        color: $color-white !important