.layout-right-flyout
  height: 100%
  position: fixed
  visibility: hidden
  right: 0
  padding: 0
  z-index: 0
  background-color: $bg-color-mountain-light
  font-family: "Century Schoolbook", serif
  transition: visibility 0 linear .2s
  -webkit-perspective: 1000
  -webkit-backface-visibility: hidden
  -webkit-transform-style: preserve-3d
  ul
    list-style-type: none
    margin: 0
    padding: 0
  z-index: 0
  transition: visibility 0 linear .2s
  background: #FFF
  -webkit-perspective: 1000
  -webkit-backface-visibility: hidden
  -webkit-transform-style: preserve-3d

.layout-right-flyout.isCbFlyNavActive
  visibility: visible
  transition: z-index 0 linear .2s
  z-index: 10

.cbFlyNav-wrap
  display: block
  position: relative
  height: 100%
  overflow: hidden
  width: 270px
  -webkit-perspective: 1000
  -webkit-backface-visibility: hidden
  -webkit-transform-style: preserve-3d
  > nav
    transform: translateY(0)
    transition: transform 0 ease-in-out

.nav-collapse
  -webkit-transform: translate3d(0,0,0)
  -webkit-transform-style: preserve-3d