h1, h2, h3, h4, h5
  text-transform: capitalize
  font-family: Century Schoolbook, serif
  margin: 0
  padding: 0
  clear: both

body
  font-size: 0.9rem
  line-height: 1.6
  font-family: "Avenir", Helvetica, sans-serif

.bold
  font-weight: bold !important

.not_bold
  font-weight: normal !important

.inverse
  color: #FFF

.underline
  text-decoration: underline

.strikethrough
  text-decoration: line-through

.center
  text-align: center

.transparent
  opacity: .8

.transparent:hover
  opacity: 1

.italic
  font-style: italic

.small
  font-size: 80%

.uppercase
  text-transform: uppercase

.large
  font-size: 1.5rem

a
  text-decoration: none
  color: lighten($primary-color, 10%)

a:hover
  color: $secondary-color

hr
  border-color: $color-grey-1
  border-width: 1px 0 0
  margin: 1.5rem auto

.label.alert.round
  margin-right: -1.2rem
  top: -0.6rem
  background-color: $primary-color

/** Page Title **/
h3.pagetitle
  text-transform: uppercase
  color: $primary-color-3
  font-size: 1.7rem
  margin: .5rem 0rem 1rem
  line-height: 1.2

/** Subtitle **/
h4.subtitle
  font-size: 1.3rem
  line-height: 1.0
  color: $primary-color
  clear: both
  margin: 1rem 0 1rem

  .label.alert
    margin-left: .25rem
    margin-bottom: 0 !important

h4.subtitle.fail
  background-color: $alert-color

h4.subtitle.success
  background-color: $secondary-color

h5.section-title
  font-size: 1.3rem
  background-color: $primary-color
  padding: .5rem 1rem
  margin: 1px 2px 0 1px
  z-index: 10 !important
  overflow: hidden
  font-weight: normal
  border-top-right-radius: $global-radius
  border-top-left-radius: $global-radius

  a
    color: #FFF
  a.button
    color: #FFF

.assignment-name 
  display: inline

.label.radius
  font-size: 70%

.label.radius a
  color: #FFF

.label.radius a:hover
  color: $primary-color-4

.label.right.radius.success
  background-color: $secondary-color-2

.label.right.radius.fade
  background-color: lighten($color-grey-1, 15%)
  color: #000

.label.right.radius.success, .label.right.radius.alert, .label.right.radius
  span.has-tip
    font-size: 120%
    color: #FFF
    font-weight: normal

.uploaded-files
  span.has-tip
    font-weight: normal

/** Icon styling! **/
i.fa-slack
  -ms-transform: rotate(19deg)
  -webkit-transform: rotate(19deg)
  transform: rotate(19deg)
