.unlock_keys
  position: absolute
  display: none
  padding: 0.5rem
  width: 250px
  background-color: $primary-color-5
  color: #FFF
  border-radius: $global-radius
  z-index: 10

  h6 
    color: #FFF
    font-weight: bold

  ul
    margin-bottom: 0

  li 
    font-size: .8rem
    color: #FFF
