/*
  *= require s3_direct_upload_progress_bars
  *= require jquery-ui.min
  *= require jquery.circliful
  *= require froala_editor.min.css
  *= require froala_style.min.css
  *= require font-awesome
  *= require select2
  *= require jquery.dynatable
  *= require angular-tooltips.min
  *= require stacktable.css
  *= require slick.css
  *= require plugins/char_counter.min.css
  *= require plugins/code_view.min.css
  *= require plugins/colors.min.css
  *= require plugins/emoticons.min.css
  *= require plugins/file.min.css
  *= require plugins/fullscreen.min.css
  *= require plugins/image_manager.min.css
  *= require plugins/image.min.css
  *= require plugins/line_breaker.min.css
  *= require plugins/quick_insert.min.css
  *= require plugins/table.min.css
  *= require plugins/video.min.css

  *= require color
  *= require color_palette
  *= require _accessibility
  *= require _alerts
  *= require _analytics
  *= require _background
  *= require _breadcrumbs
  *= require _buttons_and_icons
  *= require _datepicker
  *= require _debug
  *= require _cards
  *= require _collapse
  *= require _context_menu
  *= require _features
  *= require _grading_scheme
  *= require _history_timeline
  *= require _footer
  *= require _forms
  *= require _froala
  *= require _newsletter
  *= require _predictor
  *= require _grades
  *= require _badges
  *= require _events
  *= require _grid
  *= require _homepage
  *= require _pages
  *= require _icons
  *= require _login
  *= require _layout
  *= require _rubrics
  *= require _signup
  *= require _staff_sidebar
  *= require _student_sidebar
  *= require _student_subnav
  *= require _student_dashboard
  *= require _offscreen_sidebar
  *= require _tables
  *= require _tabs
  *= require _topbar
  *= require _typography
  *= require _videos
 */
