/*
 *= require s3_direct_upload_progress_bars
 *= require jquery-ui.min
 *= require jquery.circliful
 *= require animate.min
 *= require select2
 *= require font-awesome
 *= require bootstrap
 *= require jquery.dynatable

/* Branding colors */

$color-layout-blue-0: #002d62; // darkest
$color-layout-blue-1: #269ECC;
$color-layout-blue-2: #6DD6FF;
$color-layout-blue-3: #AAE7FF;
$color-layout-blue-4: #C9F0FF; // lightest

$color-blue-1: #269ECC;
$color-blue-2: #48BDEB;
$color-blue-3: #8BDEFF;
$color-blue-4: #E7F8FF;

$color-green-1: #00BD39;
$color-green-2: #6AC777;

$color-yellow-3: #FFFD73;

$primary-color: $color-layout-blue-0;
$primary-color-2: $color-layout-blue-1;

$primary-color-3: #55a9bc;
$primary-color-4: #72cdf4;
$primary-color-5: #0079c0;

$secondary-color: $color-green-1;
$secondary-color-2: $color-green-2;
$secondary-color-3: $color-green-2;
$secondary-color-4: $color-green-2;
$secondary-color-5: $color-green-2;

$alert-color: #f1592a;
$alert-color-2: #f7941e;
$alert-color-3: #fcb040;
$alert-color-4: #ffcf06;
$alert-color-5: $color-yellow-3;

$light-grey: #CCC;
$medium-grey: #666;
$dark-grey: #444444;
$light_green: #EFFFED;
$dark_green: #54BA3F;
$inactive_red: #CC0000;
$dark_red: #B40D0D;
$badass_blue: $color-blue-1;
$badge_blue: #009BD6;
$badge_green: #54B141;
$badge_green_border: #439A31;


$px-3: .1875rem;

$global-radius: $px-3;

$txt-color-inverse: #FFF;

$bg-color-sky: #55C3F5;
$bg-color-mountain-light: #6FA9DD;
$bg-color-mountain-medium: #1460AE;
$bg-color-mountain-dark: #1E267F;
$bg-color-hill-light: #7CC02F;
$bg-color-hill-medium: #68A127;
$bg-color-hill-dark: #348C44;
$bg-color-hill-ex-dark: #274F2E;

// Copied from Foundation for now, this can change when we remove Foundation
$media-smal-mobile-max:   40rem; //
$media-small-max:   40rem; // 640px
$media-medium-max:  64rem; // 1024px
$media-large-max:   90rem; // 1440px ~14"
$media-xlarge-max:  120rem; //

@mixin transition($property, $duration) {
  -webkit-transition: $property $duration;
  -ms-transition: $property $duration;
  -o-transition: $property $duration;
  transition: $property $duration;
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; //* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}
/* Importing supporting files. If you create a new css file you'll need to add it here.  */

@import 'datepicker';
@import 'foundation_and_overrides';
@import 'sidebars';
@import 'forms';
@import 'tables';
@import 'student_dashboard';
@import 'predictor';
@import 'timeline';
@import 'analytics';
@import 'background';
@import 'breadcrumbs';
@import 'navigation';
@import 'videos';
@import 'bootsy';
@import 'layout';
@import 'buttons_and_icons';
@import 'typography';
@import 'homepage';
@import 'rubrics';
@import 'collapse';
@import 'badges';

/* override foundation body color */
body {
  background-color: rgba(0, 0, 0, 0);
}
