/*
  *= require s3_direct_upload_progress_bars
  *= require jquery-ui.min
  *= require froala_editor.min.css
  *= require froala_style.min.css
  *= require font-awesome
  *= require select2
  *= require jquery.dynatable
  *= require stacktable.css
  *= require slick.css
  *= require plugins/char_counter.min.css
  *= require plugins/code_view.min.css
  *= require plugins/colors.min.css
  *= require plugins/emoticons.min.css
  *= require plugins/file.min.css
  *= require plugins/fullscreen.min.css
  *= require plugins/image_manager.min.css
  *= require plugins/image.min.css
  *= require plugins/line_breaker.min.css
  *= require plugins/quick_insert.min.css
  *= require plugins/table.min.css
  *= require plugins/video.min.css

  *= require ./base/_base
  *= require ./base/_typography
  *= require ./vendor/_froala
  *= require ./layout/_background
  *= require ./layout/_footer
  *= require ./layout/_forms
  *= require ./layout/_context_menu
  *= require ./layout/_staff_sidebar
  *= require ./layout/_student_sidebar
  *= require ./layout/_student_subnav
  *= require ./layout/_layout
  *= require ./layout/_offscreen_sidebar
  *= require ./layout/_topbar
  *= require ./components/_breadcrumbs
  *= require ./components/_buttons_and_icons
  *= require ./components/_datepicker
  *= require ./components/_debug
  *= require ./components/_edit_form
  *= require ./components/_cards
  *= require ./components/_collapse
  *= require ./components/_empty_state_graphics
  *= require ./components/_form_cards
  *= require ./components/_modal_slides
  *= require ./components/_table_filter
  *= require ./components/_tables
  *= require ./components/_tabs
  *= require ./components/_slider
  *= require ./components/_student_onboarding
  *= require ./components/_switch
  *= require ./components/_history_timeline
  *= require ./components/_newsletter
  *= require ./components/_icons
  *= require ./components/_image_upload
  *= require ./components/_alerts
  *= require ./components/_tooltips
  *= require ./components/_unlock_conditions
  *= require ./pages/_analytics
  *= require ./pages/_assignments
  *= require ./pages/_downloads
  *= require ./pages/_features
  *= require ./pages/_grading_scheme
  *= require ./pages/_edit_grades
  *= require ./pages/_edit_profile
  *= require ./pages/_predictor
  *= require ./pages/_grades
  *= require ./pages/_badges
  *= require ./pages/_events
  *= require ./pages/_homepage
  *= require ./pages/_pages
  *= require ./pages/_login
  *= require ./pages/_rubrics
  *= require ./pages/_um_pilot
  *= require ./pages/_signup
  *= require ./pages/_dashboard
  *= require ./pages/_learning_objectives
 */
