$txt-color-inverse: #FFF

$color-blue-1: #00274F
$color-blue-2: #215089
$color-blue-3: #2E70BE
$color-blue-4: #B9D6F2
$color-blue-5: #8ED0FF
$blues: ( "1": #00274F, 2: #215089, 3: #2E70BE, 4: #B9D6F2, 5: #8ED0FF )

$color-purple-1: #490454
$color-purple-2: #8F27A1
$purples: (1: #490454, 2: #8F27A1)

$color-green-1: #5CDF52
$color-green-2: #4FBF46
$color-green-3: #429F3B
$greens: (1: #5CDF52, 2: #4FBF46, 3: #429F3B )

$color-red-1: #D1495B
$reds: (1: #D1495B)

$color-orange-1: #EDAE49
$oranges: (1: #EDAE49)

$color-yellow-1: #FFCF06
$yellows: (1: #FFCF06)

$color-grey-1: #000000
$color-grey-2: #333333
$color-grey-3: #444444
$color-grey-4: #666666
$color-grey-5: #DEE3E5
$color-grey-6: #F5F7F7
$color-grey-7: #FFFFFF
$color-grey-8: #999999
$greys: (1: #000000, 2: #333333, 3: #444444, 4: #666666, 5: #CCCCCC, 6: #EEEEEE, 7: #FFFFFF, 8: #999999)

// COLOR AID CLASSES:

@each $number, $hex-code in $blues
  .color-blue-#{$number}
    background-color: $hex-code

@each $number, $hex-code in $purples
  .color-purple-#{$number}
    background-color: $hex-code

@each $number, $hex-code in $greens
  .color-green-#{$number}
    background-color: $hex-code

@each $number, $hex-code in $reds
  .color-red-#{$number}
    background-color: $hex-code

@each $number, $hex-code in $oranges
  .color-orange-#{$number}
    background-color: $hex-code

@each $number, $hex-code in $yellows
  .color-yellow-#{$number}
    background-color: $hex-code

@each $number, $hex-code in $greys
  .color-grey-#{$number}
    background-color: $hex-code

// ALIASES:

$color-black: $color-grey-1 // alias
$color-white: $color-grey-7 // alias

// LAYOUT ALAISES
$txt-color-inverse: $color-white
$alert-color: $color-orange-1

@mixin four-color-horizontal-gradient($color1, $color2, $color3, $color4)
  background-color: $color1 //* Fallback Color */
  background-image: -webkit-gradient(linear, left, right, from($color1), to($color4)) /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(to right, $color1, $color2, $color3, $color4) // Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(to right, $color1, $color2, $color3, $color4) /* FF3.6 */
  background-image:     -ms-linear-gradient(to right, $color1, $color2, $color3, $color4) /* IE10 */
  background-image:      -o-linear-gradient(to right, $color1, $color2, $color3, $color4) /* Opera 11.10+ */
  background-image:         linear-gradient(to right, $color1, $color2, $color3, $color4)s
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$color1}', EndColorStr='#{$color4}')

@mixin linear-gradient($fromColor, $toColor)
  background-color: $toColor //* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)) /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor)s // Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor) /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor) /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor) /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor)
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}')
