$color-blue-00: #00162F
$color-blue-0: #002D62
$color-blue-1: #2E70BE
$color-blue-2: #269ECC
$color-blue-3: #48BDEB
$color-blue-4: #8BDEFF
$color-blue-5: #E7F8FF
$blues: ( "00": #00162F, 0: #002D62, 1: #2E70BE, 2: #269ECC, 3: #48BDEB, 4: #8BDEFF, 5: #E7F8FF )

$color-alt-blue-0: #1E267F
$color-alt-blue-1: #1460AE
$color-alt-blue-2: #6FA9DD
$color-alt-blue-3: #55C3F5
$alt-blues: (0: #1E267F, 1: #1460AE, 2: #6FA9DD, 3: #55C3F5)

$color-green-0: #1C7200
$color-green-1: #219800
$color-green-2: #68A127
$color-green-3: #7CC02F
$color-green-4: #7CC09B
$color-green-5: #EFFFED
$greens: (0: #1C7200, 1: #219800, 2: #68A127, 3: #7CC02F, 4: #7CC09B, 5: #EFFFED)

$color-red-0: #7F0D0D
$color-red-1: #B40D0D
$color-red-2: #CC0000
$color-red-3: #D65C5C
$reds: (0: #7F0D0D, 1: #B40D0D, 2: #CC0000, 3: #D65C5C)

$color-orange-1: #F1592A
$color-orange-2: #F7941E
$color-orange-3: #FCB040
$oranges: (1: #F1592A, 2: #F7941E, 3: #FCB040)

$color-yellow-1: #FFCF06
$color-yellow-2: #FFFD73
$yellows: (1: #FFCF06, 2: #FFFD73)

$color-grey-00: #000000
$color-grey-0: #333333
$color-grey-1: #444444
$color-grey-2: #666666
$color-grey-3: #CCCCCC
$color-grey-4: #EEEEEE
$color-grey-5: #FFFFFF
$color-grey-6: #999999
$greys: ("00": #000000, 0: #333333, 1: #444444, 2: #666666, 3: #CCCCCC, 4: #EEEEEE, 5: #FFFFFF, 6: #999999)

// COLOR AID CLASSES:

@each $number, $hex-code in $blues
  .color-blue-#{$number}
    background-color: $hex-code

@each $number, $hex-code in $alt-blues
  .color-alt-blue-#{$number}
    background-color: $hex-code

@each $number, $hex-code in $greens
  .color-green-#{$number}
    background-color: $hex-code

@each $number, $hex-code in $reds
  .color-red-#{$number}
    background-color: $hex-code

@each $number, $hex-code in $oranges
  .color-orange-#{$number}
    background-color: $hex-code

@each $number, $hex-code in $yellows
  .color-yellow-#{$number}
    background-color: $hex-code

@each $number, $hex-code in $greys
  .color-grey-#{$number}
    background-color: $hex-code

// ALIASES:

$color-black: $color-grey-00 // alias
$color-white: $color-grey-5 // alias

// LAYOUT ALAISES
$txt-color-inverse: $color-white
$alert-color: $color-orange-1
