= link_to image_tag(badge.icon, {class: "badge-icon", width: 40, alt: badge.name}), badge_path(badge)
- if badge.point_total.present? && badge.point_total > 0
  .italic= "#{points badge.point_total} points"
