%loading-message(data-loading='vmAssignmentEdit.loading' data-message="Loading Assignment Info...")
%assignment-edit-form(ng-if="!vmAssignmentEdit.loading" data-assignment="vmAssignmentEdit.assignments[0]" data-rubric-id="vmAssignmentEdit.rubricId")
