%descriptor-icon{"ng-if"=>"descriptorIconsCtrl.assignment.has_groups"}
  This {{descriptorIconsCtrl.termFor("assignment")}} is completed by {{descriptorIconsCtrl.termFor("students")}} in {{descriptorIconsCtrl.termFor("groups")}}

%descriptor-icon{"data-icon"=>"lock","ng-if"=>"descriptorIconsCtrl.assignment.is_locked"}
  %ul.icon-list
    %li{"ng-repeat"=>"condition in descriptorIconsCtrl.assignment.unlock_conditions"}
      {{condition}}

%descriptor-icon{"ng-if"=>"descriptorIconsCtrl.assignment.has_been_unlocked"}
  %ul.icon-list
    %li{"ng-repeat"=>"condition in descriptorIconsCtrl.assignment.unlocked_conditions"}
      {{condition}}

%descriptor-icon{"ng-if"=>"descriptorIconsCtrl.assignment.is_a_condition"}
  %ul.icon-list
    %li{"ng-repeat"=>"key in descriptorIconsCtrl.assignment.unlock_keys"}
      {{key}}
