%loading-message(loading='vmAssignmentEdit.loading' message="Loading Assignment Info...")
%article.assignment-form-fields.simple-form(ng-if="!vmAssignmentEdit.loading")
  %assignment-edit-basics(assignment="vmAssignmentEdit.assignments[0]")

