%section.form-section
  %h2.form-title {{termFor("assignment")}} Dates
  .form-subsection

  %h2.form-title {{termFor("assignment")}} Grading And Submission
  .form-subsection

  %h2.form-title {{termFor("assignment")}} Visibility Settings
  .form-subsection
