%loading-message(loading='vmAssignmentEdit.loading' message="Loading Assignment Info...")
%article.assignment-form-fields.simple-form(ng-if="!vmAssignmentEdit.loading")

  %ul.edit-form-tabs-nav
    %li(ng-click="focusTab('basics')" ng-class="{'active': isFocusTab('basics')}")
      %a Basic Settings
    %li(ng-click="focusTab('details')" ng-class="{'active': isFocusTab('details')}")
      %a Assignment Details
    %li(ng-click="focusTab('unlocks')" ng-class="{'active': isFocusTab('unlocks')}")
      %a Unlock Conditions

  #tab1(ng-if="isFocusTab('basics')")
    %assignment-edit-basics(assignment="vmAssignmentEdit.assignments[0]")

  #tab2(ng-if="isFocusTab('details')")
    %assignment-edit-details(assignment="vmAssignmentEdit.assignments[0]")

  #tab3(ng-if="isFocusTab('unlocks')")
    %assignment-edit-unlocks(assignment="vmAssignmentEdit.assignments[0]")



