.form-item
  %label
    Media Image
    %input.media-upload-button(ng-if="!assignment.media" type="file" media-upload="mediaFile" assignment-id="assignment.id")

  .preview-wrapper(ng-if="assignment.media")
    .icon-preview.event-preview
      .img-cropper.event-crop
        %img(ng-src="{{assignment.media}}")
      %span.xaxis-label 250px
      %span.yaxis-label 150px
      %button.remove-unlock-condition(ng-click="removeMedia()")
        %i.fa.fa-fw.fa-times

.form-item{"ng-if"=>"hideAttachments === true"}
  %label
    Attachments
    %input.file-upload-button(type="file" multiple="true" assignment-file-upload="assignmentFiles" assignment-id="assignment.id")

%ul.file-attachments-list(ng-if='fileUploads.length > 0')
  %li(ng-repeat='file in fileUploads')
    .file-attachment-list-item
      .file-attachment-delete-button(ng-if='!file.deleting')
        .no-hover-state
          %i.fa.fa-check.fa-fw
        .hover-state
          %i.fa.fa-times.fa-fw(ng-click="deleteFile(file)")
        {{ file.filename }}
      .file-attachment-delete-button(ng-if='file.deleting')
        %i.fa.fa-spinner.fa-fw
        {{ file.filename }}
