%loading-message(loading="vm.loading" message="Loading Assignments...")

.assignment-index-container(role="tablist")
  .assignment_type(id="assignment-type-settings-{{assignmentType.id}}" ng-repeat="assignmentType in vm.assignmentTypes")
    .assignment-type-bar.assignment-settings.collapse-toggler{role: "tab"}
      %a(href="#")
        %h2.assignment-type-name
          %i.fa.fa-fw.fa-angle-double-right
          {{assignmentType.name}}
        .points-summary(ng-if="!vm.loading")

          .points-bar-graph.assignment-settings
            .points-bar-graph-fill.assignment-settings(style="{{vm.pointsGraphStyle(assignmentType)}}")
            %span.hint(ng-if="pointsOver()") Total for this assignment type exceeds threshold for highest level
            .grade-level-marker(ng-repeat="gse in vm.GradeSchemeElements" style="width: {{vm.pointsGraphPercentOfTotal(gse)}}")
          .assignment-type-points.assignment-settings {{ assignmentType.total_points | number }} / {{ vm.totalPoints | number }}
    .assignment-type-container.collapsable{role: "tabpanel"}
      %table(ng-if="!vm.loading")
        %caption.sr-only {{vm.termFor("assignments")}} for {{assignmentType.name}}
        %thead
          %tr
            %th(scope="col") Name
            %th(scope="col")
              %tooltip-icon(id="{{assignmentType.id}}" glyph="eye" tip-text="Visible to Students")
            %th(scope="col")
              %tooltip-icon(id="{{assignmentType.id}}" glyph="asterisk" tip-text="Required")
            %th(scope="col")
              %tooltip-icon(id="{{assignmentType.id}}" glyph="paperclip" tip-text="Accepts Submissions")
            %th(scope="col")
              %tooltip-icon(id="{{assignmentType.id}}" glyph="calendar" tip-text="Shown in Timeline")
            %th(scope="col")
              %tooltip-icon(id="{{assignmentType.id}}" glyph="sliders" tip-text="Shown in Predictor")
            %th(scope="col")
              %tooltip-icon(id="{{assignmentType.id}}" glyph="list" tip-text="Shown in Due This Week")
            %th(scope="col")
              %tooltip-icon(id="{{assignmentType.id}}" glyph="pencil" tip-text="Logged By Students")
            %th(scope="col")
              %tooltip-icon(id="{{assignmentType.id}}" glyph="unlock" tip-text="Release Required")

            %th(scope="col") Points

            %th{scope: "col", :style => "width: 280px"} Dates
            %th{scope: "col", :style => "min-width: 110px"}
              %span.sr-only Actions

        %tbody
          %tr(ng-repeat="assignment in vm.assignments | filter:{assignment_type_id: assignmentType.id}:true")
            %td
              %a(href="/assignments/{{assignment.id}}") {{assignment.name}}

            %td
              %assignment-setting(assignment-id="assignment.id" attribute="visible" checked="assignment.visible")
            %td
              %assignment-setting(assignment-id="assignment.id" attribute="required" checked="assignment.required")
            %td
              %assignment-setting(assignment-id="assignment.id" attribute="accepts_submissions" checked="assignment.accepts_submissions")
            %td
              %assignment-setting(assignment-id="assignment.id" attribute="include_in_timeline" checked="assignment.include_in_timeline")
            %td
              %assignment-setting(assignment-id="assignment.id" attribute="include_in_predictor" checked="assignment.include_in_predictor")
            %td
              %assignment-setting(assignment-id="assignment.id" attribute="include_in_to_do" checked="assignment.include_in_to_do")
            %td
              %assignment-setting(assignment-id="assignment.id" attribute="student_logged" checked="assignment.student_logged")
            %td
              %assignment-setting(assignment-id="assignment.id" attribute="release_necessary" checked="assignment.release_necessary")

            %td {{assignment.full_points | number }}

            %td
              %ul
                %li
                  Opens: {{assignment.opens_at || "Always Open" | date }}
                %li
                  Due At: {{assignment.due_at || "No Due Date" | date }}
                %li
                  Accepted Until: {{assignment.accepts_submissions_until || "Always Accepted" | date }}

            %td
              .right
                %ul.button-bar
                  %li
                    %a.button(href="/assignments/{{assignment.id}}/edit")
                      %i.fa.fa-fw.fa-edit
                      Edit
                  %li
                    %a.button(href="/assignments/{{assignment.id}}" data-confirm="Are you sure?" data-method="delete")
                      %i.fa.fa-fw.fa-trash
                      Delete
