Dear #{ @user.first_name },

Your requested export for assignment "#{ @assignment.name }" was successfully created.

You can download your completed #{@archive_format} archive here: #{ @final_archive_path }.

Sincerely,
GradeCraft
