.modal-slide
  .modal-slide-top
    = image_tag "onboarding-slide-2.png", alt: "Staircase showing levels and grades in course", class: "modal-slide-image centered"
  .modal-slide-bottom
    .modal-slide-text
      %h2 Start from zero
      %p Everyone starts at zero, and earns points by completing assignments. Your final grade is completely independent from your peers’ performances.
