.modal-slide
  .modal-slide-top
    %img.modal-slide-image.centered{src: "/images/onboarding-slide-1.png"}
  .modal-slide-bottom
    .modal-slide-text
      %h2= "Hey, #{current_user.name}!"
      %p Welcome to GradeCraft!
      %p This quick tour will show you how GradeCraft works.
