.modal-slide
  .modal-slide-top
    = image_tag "onboarding-slide-3.png", alt: "Multi-directional sign with different assignment types", class: "modal-slide-image centered"
  .modal-slide-bottom
    .modal-slide-text
      %h2 High autonomy
      %p You have the freedom to decide what kind of work you want to do and when. Find out what best aligns with your interests and take control of the outcome.
