.modal-slide
  .modal-slide-top
    = image_tag "onboarding-slide-4.png", alt: "Grade analytics graph examples", class: "modal-slide-image large-image centered"
  .modal-slide-bottom
    .modal-slide-text
      %h2 Tangible feedback
      %p Experience the learning process in real time. Easily keep track of progress through comprehensive grade analytics.
