.modal-slide
  .modal-slide-top
    %img.modal-slide-image.centered{src: "/images/onboarding-slide-2.png"}
  .modal-slide-bottom
    .modal-slide-text
      %h2 Start from zero
      %p Everyone starts at zero, and earns points by completing assignments. Your final grade is completely independent from your peers’ performances.
