.modal-slide
  .modal-slide-top
    %img.modal-slide-image.large-image.centered{src: "/images/onboarding-slide-4.png"}
  .modal-slide-bottom
    .modal-slide-text
      %h2 Tangible feedback
      %p Experience the learning process in real time. Easily keep track of progress through comprehensive grade analytics.
