.login
  .alert-bkg= render "layouts/alerts"
  .login-form-container
    .login-form
      - if Rails.env.production?
        = render partial: "user_sessions/umich"
      - else
        = render partial: "user_sessions/gradecraft"
    = render partial: "passwords/reset_form" if !Rails.env.production?
