- content_for :public_class, 'public-with-background'
.login
  - if Rails.env.development? || Rails.env.beta?
    .login-form-container
      .login-form
        .login-block
          = image_tag "358464 - access account alert art business computer creativ.png", width: 125
          %h1.bold Are you an instructor interested in using GradeCraft?
          %p
            %a{ :href => new_external_users_path , class: "button account-create" } Try it out!
