- content_for :public_class, 'public-with-background'
.pageContent
  = render "layouts/alerts"
  .login
    To create an account via Google, please contact your instructor. They should be able to send you an email with instructions for creating an account!
