.page-selector
  .page-selector-input
    Page:
    %input{"type"=>"number",
           "min"=>"1",
           "max"=>"{{paginationHelperCtrl.options.maxPages}}",
           "ng-model"=>"paginationHelperCtrl.currentPage",
           "ng-model-options"=>"{ getterSetter: true, updateOn: 'change blur' }"}
  max pages: "{{paginationHelperCtrl.options.maxPages}}"

  %button.page-selector-page{"type"=>"button",
                             "ng-disabled"=>"paginationHelperCtrl.currentPage() === 1",
                             "ng-class"=>"{ 'disabled': paginationHelperCtrl.currentPage() === 1 }",
                             "ng-click"=>"paginationHelperCtrl.setPageOffset(1, false)"} <<

  %button.page-selector-page{"ng-if"=>"paginationHelperCtrl.options.maxPages && paginationHelperCtrl.options.maxPages <= 5",
                             "ng-repeat"=>"pages in paginationHelperCtrl.pageRange() track by $index",
                             "ng-click"=>"paginationHelperCtrl.changePage($index)",
                             "ng-class"=>"{ 'selected': paginationHelperCtrl.selected($index + 1) }"} {{$index + 1}}

  %button.page-selector-page{"ng-if"=>"paginationHelperCtrl.options.maxPages && paginationHelperCtrl.options.maxPages > 5",
                             "ng-repeat"=>"page in paginationHelperCtrl.pageRange(true) track by $index",
                             "ng-click"=>"paginationHelperCtrl.changePage(page)",
                             "ng-class"=>"{ 'selected': paginationHelperCtrl.selected(page + 1) }"}
    {{page === '..' ? page : page + 1}}

  %button.page-selector-page{"type"=>"button",
                             "ng-disabled"=>"paginationHelperCtrl.atMaxPage()",
                             "ng-class"=>"{ 'disabled': paginationHelperCtrl.atMaxPage() }",
                             "ng-click"=>"paginationHelperCtrl.setPageOffset(1)"} >>
