%label
  %span.sr-only Search Criteria
  %input{"type"=>"search",
         "placeholder"=>"Search",
         "ng-model"=>"ssInputCtrl.searchCriteria",
         "ng-model-options"=>"{ getterSetter: true, updateOn: 'change blur' }"}
