%label{"for"=>"teamSelector", "class"=>"sr-only"}= "Select {{vm.termForTeam}}"
%select{"ng-model"=>"vm.selectedTeamId",
        "ng-model-options"=>"{ getterSetter: true }",
        "ng-disabled"=>"vm.loading",
        "name"=>"teamSelector"}
  %option{"value"=>""}= "- Select Section -"
  %option{"ng-repeat"=>"team in teams", "value"=>"{{team.id}}"}
    {{team.name}}
