%label{"for"=>"teamSelector", "class"=>"sr-only"}= "Select {{teamSelector.termForTeam}}"
%select{"ng-model"=>"vm.selectedTeam", "ng-disabled"=>"vm.loading", "name"=>"teamSelector"}
  %option{"value"=>""}= "- Select Section -"
  %option{"ng-repeat"=>"team in teams", "value"=>"{{team.id}}"}
    {{team.name}}
