%loading-message{"data-loading"=>"unlockSelectorForm.loading", "data-message"=>"Loading..."}

%section
  .form-subsection
    .form-item
      %label
        Course
        %select{"ng-options"=>"course.id as course.name for course in unlockSelectorFormCtrl.courses",
                "ng-model"=>"unlockSelectorFormCtrl.selectedCourse",
                "ng-change"=>"unlockSelectorFormCtrl.getUnlocks()",
                "id"=>"course_name"}

  .form-subsection{{"ng-if"=>"unlockSelectorFormCtrl.unlockConditions.length"}}
    %h2.subtitle Unlock Conditions for {{unlockSelectorFormCtrl.course.name}}
    .form-item
      %ul
        %li{"ng-repeat"=>"uc in unlockSelectorFormCtrl.unlockConditions track by uc.id"}
          Unlockable type: {{uc.unlockable_type}}