- if current_course.active? || current_user_is_admin?
  %div
    - if grade.group.nil?
      = edit_grade_link_to grade, class: "button"
    - else
      = link_to glyph(:edit) + "Edit Grade", grade_assignment_group_path(grade.assignment, grade.group), class: "button"

