.alert-box.error.bold
  This grade was excluded from your total score on
  = "#{ grade.excluded_at } by #{ grade.excluded_by.name }."
  If you have any questions, please
  = mail_to grade.excluded_by.email, "email them."
