%section
  %h2.form-title Edit Scheduled Events

  %without_events{"ng-if"=>"events.length < 1"}
    %h3.form-subtitle No attendance events present

  %event{"ng-repeat"=>"event in events"}
    %attendance-event-attribute-card{"data-event"=>"event"}

%span{"ng-if"=>"lastUpdated() != null"}
  Last updated at: {{lastUpdated() | date:"MM/dd/yyyy 'at' h:mma"}}

.submit-buttons
  %ul
    %li
      .button.right{"type"=>"button",
                    "ng-if"=>"!hideBackButton",
                    "ng-click"=>"hasPersistedEvents() || disableEdit()",
                    "ng-disabled"=>"hasPersistedEvents()",
                    "ng-class"=>"{ 'disabled': hasPersistedEvents() }"} Go Back
