%section
  %h2.form-title Edit Scheduled Events

  %without_events{"ng-if"=>"assignments.length < 1"}
    %h3.form-subtitle No attendance events present

  %event{"ng-repeat"=>"assignment in assignments"}
    .scheduled-class{"ng-show"=>"!assignment._destroy"}
      .attendance-header
        %i.fa.fa-calendar
        {{assignment.open_at | date:"EEEE, MMMM d yyyy"}}, {{assignment.open_at | date:"h:ss a"}} - {{assignment.due_at | date:"h:ss a"}}

        %i.fa.fa-times.right{"ng-click"=>"deleteAssignment(assignment, $index)"}

      .form-flex-row
        .form-item.slim-margin
          %label
            %span.sr-only Title
            %input{"type"=>"text",
                   "required"=>"",
                   "placeholder"=>"Add Title (Required)",
                   "ng-model"=>"assignment.name",
                   "ng-change"=>"queuePostAttendanceEvent(assignment)"}

        -# Assignment media
        .form-item.slim-margin.right{"ng-if"=>"assignment.id", "ng-cloak"=>""}
          %label{"for"=>"imageUpload_{{$index}}"}
            Add Image
            %input{"type"=>"file", "id"=>"imageUpload_{{$index}}"}

      .form-item.slim-margin
        %label
          %span.sr-only Class Description
          %textarea.assignment-description{"type"=>"text",
                    "placeholder"=>"Add Class Description",
                    "rows"=>"2",
                    "ng-model"=>"assignment.description",
                    "ng-change"=>"queuePostAttendanceEvent(assignment)"}

      .form-item.slim-margin
        %label{"ng-if"=>"assignment.full_points != null"}
          Total Points Possible:
          %input{"type"=>"text",
                 "required"=>"",
                 "ng-model"=>"assignment.full_points",
                 "gc-number-input"=>"",
                 "allow-negatives"=>"false",
                 "placeholder"=>"Points",
                 "ng-change"=>"queuePostAttendanceEvent(assignment)"}

%span{"ng-if"=>"lastUpdated() != null"}
  Last updated at: {{lastUpdated() | date:"MM/dd/yyyy 'at' h:mma"}}

.submit-buttons
  %ul
    %li
      .button.right{"type"=>"button",
                    "ng-click"=>"disableEdit()",
                    "ng-disabled"=>"!hasPersistedElements()",
                    "ng-class"=>"{ 'disabled': !hasPersistedElements() }"} Go Back
