%section.form-section
  %event{"ng-repeat"=>"assignment in assignments"}
    .scheduled-class
      %i.fa.fa-calendar
      {{assignment.open_at | date:"EEEE, MMMM d yyyy"}}, {{assignment.open_at | date:"h:ss a"}} - {{assignment.due_at | date:"h:ss a"}}

      .form-flex-row
        %form-item
          %input{"type"=>"text",
                 "required"=>"",
                 "placeholder"=>"Add Title",
                 "ng-model"=>"assignment.name"}

          %button{"type"=>"button"}= "Add Image"

      %textarea{"type"=>"text",
                "required"=>"",
                "placeholder"=>"Add Class Description",
                "rows"=>"2",
                "ng-model"=>"assignment.description"}

.submit-buttons
  %ul
    %li
      %input{"type"=>"button",
             "class"=>"button",
             "value"=>"Go back",
             "ng-click"=>"disableEdit()"}
    %li
      %input{"type"=>"submit",
             "class"=>"button",
             "value"=>"Create Events",
             "ng-disabled"=>"form.$invalid",
             "ng-class"=>"{'disabled': form.$invalid}"}
