%section.form-section
  %h2.form-title Class Schedule

  .form-item
    %label
      .bold Start Date

      %input{"gc-date-input"=>"",
             "type"=>"text",
             "ng-model"=>"formEntryCtrl.attributes.startDate",
             "ng-change"=>"formEntryCtrl.validateDates(form.startDate, form.endDate)",
             "required"=>"",
             "name"=>"startDate"}
      .error{"ng-if"=>"form.startDate.$dirty && form.startDate.$invalid"}
        %i.fa.fa-times-circle.fa-fw
        %span.bold Start date is invalid

  .form-item
    %label
      .bold End Date

      %input{"gc-date-input"=>"",
             "type"=>"text",
             "ng-model"=>"formEntryCtrl.attributes.endDate",
             "ng-change"=>"formEntryCtrl.validateDates(form.endDate, form.startDate)",
             "required"=>"",
             "name"=>"endDate"}
      .error{"ng-if"=>"form.endDate.$dirty && form.endDate.$invalid"}
        %i.fa.fa-times-circle.fa-fw
        %span.bold End date is invalid

  .form-item
    %label
      .bold Class Days

      %days-of-week

  .form-item{"ng-repeat"=>"day in daysOfWeekCtrl.days"}
    %class-time{"ng-if"=>"day.selected"}
      %label
        {{day.label}}
        %input{"type"=>"text",
               "ng-model"=>"day.startTime",
               "ng-change"=>"formEntryCtrl.validateTimes(day, form[day.label + '_startTime'], form[day.label + '_endTime'])",
               "required"=>"",
               "gc-time-input"=>"",
               "name"=>"{{day.label}}_startTime"}
      .error{"ng-if"=>"form[day.label + '_startTime'].$dirty && form[day.label + '_startTime'].$invalid"}
        %i.fa.fa-times-circle.fa-fw
        %span.bold Start time is invalid

      %label
        to
        %input{"type"=>"text",
               "ng-model"=>"day.endTime",
               "ng-change"=>"formEntryCtrl.validateTimes(day, form[day.label + '_endTime'], form[day.label + '_startTime'])",
               "required"=>"",
               "gc-time-input"=>"",
               "name"=>"{{day.label}}_endTime"}
      .error{"ng-if"=>"form[day.label + '_endTime'].$dirty && form[day.label + '_endTime'].$invalid"}
        %i.fa.fa-times-circle.fa-fw
        %span.bold End time is invalid

%section.form-section
  %h2.form-title Points

  .form-item
    .bold Points for attendance?

    %label
      %input{"type"=>"radio",
             "ng-value"=>"true",
             "name"=>"pointsForAttendance",
             "ng-model"=>"formEntryCtrl.attributes.has_points",
             "required"=>""}
        Yes
    %label
      %input{"type"=>"radio",
             "ng-value"=>"false",
             "name"=>"pointsForAttendance",
             "ng-model"=>"formEntryCtrl.attributes.has_points",
             "required"=>""}
        No

  .form-item{"ng-if"=>"formEntryCtrl.attributes.has_points"}
    %label
      .bold How many?

      %input{"type"=>"text",
             "gc-number-input"=>"",
             "ng-model"=>"formEntryCtrl.attributes.point_total",
             "ng-required"=>"formEntryCtrl.attributes.has_points"}

.submit-buttons
  %ul
    %li
      %input{"type"=>"button",
             "class"=>"button",
             "value"=>"Configure Events",
             "ng-disabled"=>"form.$invalid",
             "ng-class"=>"{ 'disabled': form.$invalid }",
             "ng-click"=>"formEntryCtrl.enableEdit()"}

    %li
      %a{"href"=>"{{formEntryCtrl.cancelRoute}}", "class"=>"button"}
        %i.fa.fa-times-circle
        Cancel
