%section.form-section
  %h2.form-title Class Schedule

  .form-item
    %label
      .bold Start Date

      %input{"gc-date-input"=>"",
             "type"=>"text",
             "ng-model"=>"formEntryCtrl.attributes.startDate",
             "required"=>""}

  .form-item
    %label
      .bold End Date

      %input{"gc-date-input"=>"",
             "type"=>"text",
             "ng-model"=>"formEntryCtrl.attributes.endDate",
             "required"=>""}

  .form-item
    %label
      .bold Class Days

      %days-of-week

  .form-item{"ng-repeat"=>"day in daysOfWeekCtrl.days"}
    %class-time{"ng-if"=>"day.selected"}
      {{day.label}}
      %input{"type"=>"time",
             "ng-model"=>"day.startTime",
             "required"=>""}
      to
      %input{"type"=>"time",
             "ng-model"=>"day.endTime",
             "required"=>""}

%section.form-section
  %h2.form-title Points

  .form-item
    .bold Points for attendance?

    %label
      %input{"type"=>"radio",
             "ng-value"=>"true",
             "name"=>"pointsForAttendance",
             "ng-model"=>"formEntryCtrl.attributes.has_points",
             "required"=>""}
        Yes
    %label
      %input{"type"=>"radio",
             "ng-value"=>"false",
             "name"=>"pointsForAttendance",
             "ng-model"=>"formEntryCtrl.attributes.has_points",
             "required"=>""}
        No

  .form-item{"ng-if"=>"formEntryCtrl.attributes.has_points"}
    %label
      .bold How many?

      %input{"type"=>"text",
             "gc-number-input"=>"",
             "ng-model"=>"formEntryCtrl.attributes.point_total",
             "ng-required"=>"formEntryCtrl.attributes.has_points"}

.submit-buttons
  %ul
    %li
      %input{"type"=>"button",
             "class"=>"button",
             "value"=>"Configure Events",
             "ng-disabled"=>"form.$invalid",
             "ng-class"=>"{ 'disabled': form.$invalid }",
             "ng-click"=>"formEntryCtrl.enableEdit()"}

    %li
      %a{"href"=>"{{formEntryCtrl.cancelRoute}}", "class"=>"button"}
        %i.fa.fa-times-circle
        Cancel
