%loading-message{'loading'=>'massEditCtrl.loading', 'message'=>"Loading Attendance Assignments..."}

%form{"name"=>"attendanceMassEditForm",
      "ng-if"=>"!massEditCtrl.loading"}
  %attendance-event-attributes{"data-term-for-save"=>"Update events"}
