%form{"ng-submit"=>"formEntryCtrl.postAttendanceArticle()",
      "name"=>"attendanceForm"}
  %attendance-form-entry{"ng-if"=>"!setupCtrl.editingEvents",
                         "data-cancel-route"=>"setupCtrl.cancelRoute",
                         "data-edit-events"=>"setupCtrl.editEvents(true)"}
  %attendance-event-attributes{"ng-if"=>"setupCtrl.editingEvents"}
