= content_nav_for "Welcome"

%h3.pagetitle= "Welcome to GradeCraft"

.pageContent

  = render "layouts/alerts"

  %p
    It looks like you're just getting started! Would you like to:

  %ol
    %li
      %a{:href => edit_course_path(current_course)}
        Customize your course settings
        %i.fa.fa-angle-double-right
    %li
      %a{:href => new_assignment_type_path }
        Create your assignment types
        %i.fa.fa-angle-double-right
    %li
      %a{:href => new_assignment_path}
        Create your assignments
        %i.fa.fa-angle-double-right
    %li
      %a{:href => new_badge_path}
        Create your badges
        %i.fa.fa-angle-double-right
    %li
      %a{:href => new_team_path}
        Set up your teams
        %i.fa.fa-angle-double-right
    %li
      %a{:href => grade_scheme_elements_path}
        Set up your grading scheme
        %i.fa.fa-angle-double-right
