.pageContent
  %h3.bold Course Details
  - if current_course.meeting_times.present?
    = glyph(:bank) + current_course.meeting_times + ' ' + current_course.location

  - if current_course.gameful_philosophy.present?
    %h3.bold Grading Philosophy
    = render partial: "courses/grading_philosophy", locals: {course: current_course}

  - if current_course.course_rules.present?
    %h3.bold Course Rules
    = current_course.course_rules

  - if current_course.grade_scheme_elements.present?
    %h3.bold Grading Scheme
    = render partial: "grade_scheme_elements/index_student", locals: { "@grade_scheme_elements": current_course.grade_scheme_elements.order_by_points_desc }
