- display_flash = local_assigns.key?(:display_flash) ? display_flash : true
- if display_flash
  - flash.each do |name, message|
    %div{ class: "alert-box #{name}" }
      = (message || "").html_safe
      %a{ href: "#", class: "close", "aria-label" => "close" }
        = "&times;".html_safe
