- if flash[:notice]
  .alert-box.success.radius
    = flash[:notice].html_safe
    <a href="" class="close">&times;</a>
- if flash[:error]
  .alert-box.alert.radius
    = flash[:error].html_safe
    <a href="" class="close">&times;</a>
- if flash[:alert]
  .alert-box.radius
    = flash[:alert].html_safe
    <a href="" class="close">&times;</a>