%div.back-sky-container
  .cloud.cloud-1
    .cloud-bubble
    .cloud-bubble
    .cloud-bubble
    .cloud-bubble
    .cloud-bubble
  .cloud.cloud-2
    .cloud-bubble
    .cloud-bubble
    .cloud-bubble
    .cloud-bubble
    .cloud-bubble
  .cloud.cloud-3
    .cloud-bubble
    .cloud-bubble
    .cloud-bubble
    .cloud-bubble
    .cloud-bubble
  .cloud.cloud-4
    .cloud-bubble
    .cloud-bubble
    .cloud-bubble
    .cloud-bubble
    .cloud-bubble
  .cloud.cloud-5
    .cloud-bubble
    .cloud-bubble
    .cloud-bubble
    .cloud-bubble
    .cloud-bubble


%div.background-container
  .hills
    .hill-fill.hidden
    .hill.hill-1.hidden
    .hill.hill-2.hidden
    .hill.hill-3.hidden

  .background-left-wrapper
    .mountain.hidden
      .mountain-left-side
      .mountain-peak
        .mountain-peak-left-spacer
        .mountain-peak-left-side
      .mountain-right-side
      .mountain-peak
        .mountain-peak-right-spacer
        .mountain-peak-right-side
    .mountain.mountain-2.hidden
      .mountain-left-side
      .mountain-peak
        .mountain-peak-left-spacer
        .mountain-peak-left-side
      .mountain-right-side
      .mountain-peak
        .mountain-peak-right-spacer
        .mountain-peak-right-side
    .mountain.mountain-3.hidden
      .mountain-left-side
      .mountain-peak
        .mountain-peak-left-spacer
        .mountain-peak-left-side
      .mountain-right-side
      .mountain-peak
        .mountain-peak-right-spacer
        .mountain-peak-right-side

  .background-right-wrapper
    .mountain.mountain-4.hidden
      .mountain-left-side
      .mountain-peak
        .mountain-peak-left-spacer
        .mountain-peak-left-side
      .mountain-right-side
      .mountain-peak
        .mountain-peak-right-spacer
        .mountain-peak-right-side
    .mountain.mountain-5.hidden
      .mountain-left-side
      .mountain-peak
        .mountain-peak-left-spacer
        .mountain-peak-left-side
      .mountain-right-side
      .mountain-peak
        .mountain-peak-right-spacer
        .mountain-peak-right-side
    .mountain.mountain-6.hidden
      .mountain-left-side
      .mountain-peak
        .mountain-peak-left-spacer
        .mountain-peak-left-side
      .mountain-right-side
      .mountain-peak
        .mountain-peak-right-spacer
        .mountain-peak-right-side
