-# Top banner for faculty on all pages until a course is published
- if !current_course.published
  .unpublished-course-notification
    This Course is Currently Unpublished
    %span.publish-button= link_to "Publish", publish_course_path(current_course), method: :put
