-# This partials is visible to students for an unpublished course
-# It replaces the regular course content until published.

.unpublished-course-notification
  This Course is Currently Under Construction

.pageContent

  = render "layouts/alerts"

  This Course is currently unpublished.  Until is is published, the content will not available to students.
