.form-item
  %label.media-image-label{for: "assignment_media"} Media Image
  = f.file_field :media, {class: "media-image-upload"}
  .preview-wrapper{ class: model.media.present? ? "" : "hidden"}
    .event-preview
      .img-cropper
        %img{:src => model.media}
    - if model.media.present? && model.errors[:media].empty?
      = f.check_box :remove_media
      Remove Image
