.form-item
  %label.media-image-label{for: "assignment_media"} Upload an Image
  = f.file_field :media, {class: "media-image-upload"}
  .image-preview
    - if model.media.present? && model.errors[:media].empty?
      = f.check_box :remove_media
      Remove Image
