.sidebar
  / Staff-only sidebar navigation
  = render 'layouts/navigation/staff_subnav'

.mainContainer{:role => "main"}
  / Display errors and notifications
  = render 'layouts/alerts'

  / Page content
  = render 'layouts/content'

= render 'layouts/help/uservoice'
