.sidebar-container.hide-for-small.hide-for-medium
  / Staff-only sidebar navigation
  = render partial: "layouts/navigation/staff_subnav"

.mainContainer{role: "main", class: "staff"}

  - if current_student.present?
    %h3.pagetitle= current_student.name

  / Page content
  .mainContent= render partial: "layouts/content"
