.mainContainer.student{role: "main"}
  / Display errors and notifications
  = render partial: "layouts/navigation/student_profile_tabs", locals: {nav_class: 'sub-nav'}
  .mainContent
    %h2.pagetitle= title
    = render partial: "layouts/content"
