.mainContainer.student{role: "main"}
  / Display errors and notifications
  = content_nav do
    = render partial: "students/student_profile_tabs"
  .student.mainContent= render partial: "layouts/content"
