.mainContainer.student{role: "main"}
  / Display errors and notifications
  = content_nav do
    = render "students/student_profile_tabs"
  .student.mainContent= render "layouts/content"
  .student-sidebar.hide-for-small
    = render "students/student_sidebar"
