.mainContainer.student{role: "main"}
  / Display errors and notifications
  = content_nav do
    = render partial: "layouts/navigation/student_profile_tabs"
  .mainContent= render partial: "layouts/content"
