%li= link_to glyph(:rocket) + "My Account", edit_profile_users_path
%li.hide-for-small= link_to glyph("question-circle") + "View Tour", '#', {class: 'modal-open'}
%li= link_to glyph("sign-out") + "Logout", :logout
