%p.has-form{role: "search"}
  %input.courses-search-query.search-input{ data: { autocompleteUrl: courses_path }, type: "text", placeholder: "Switch Course", "aria-label": "Search your courses" }
  %a.alert.button{href: "#", type: "submit", "aria-label": "Search"} Go
