.has-form{role: "search"}
  %input.courses-search-query.search-input{ data: { autocompleteUrl: search_api_courses_path }, type: "text", placeholder: "Switch Course", "aria-label": "Search your courses" }
  %button.search-submit-button.alert{type: "submit", "aria-label": "Search"} Go
