.login-buttons
  = link_to "Log in with U-M", saml_init_path, class: "um-login button", "aria-label": "University of Michigan Login"
  = link_to "Log in via GradeCraft", new_user_session_path, class: "gc-login button", "aria-label": "Log in to GradeCraft"
