.login-buttons
  = link_to "Log in", new_user_session_path, class: "gc-login", "aria-label": "Log in to GradeCraft"
  //= link_to "Sign up", sign_up_path, class: "gc-login", "aria-label": "Sign Up to Use GradeCraft"
