%span.italic You haven't paid for an account yet! That's okay, we want you to explore GradeCraft as much as you'd like before paying. Things you can't do until you purchase access: integrate with other tools (like Canvas or Moodle), or add students.

%p Like what you see and ready to purchase access? Check out these options:

.pricing-column-wrapper
  .pricing-column
    %ul
      %li.package
      %li.grey
        .cost $40 / 1 site for 6 months
        %p
          %a{ href: "https://secure.nouvant.com/umich/technology/6664/license/662", target: "_blank", class: "signup button" } Sign Up
      %li Community Forums
      %li Online Pedagogical Support
      %li –
      %li 1 Active Class
      %li 1 Instructor Account**
      %li Up to 350 Students
  .pricing-column
    %ul
      %li.package K-12
      %li.grey
        .cost $120 per year
        %p
          %a{ href: "https://secure.nouvant.com/umich/technology/6664/license/616", target: "_blank", class: "signup button" } Sign Up
      %li Community Forums
      %li Online Pedagogical Support
      %li –
      %li Up to 10 Active Classes**
      %li 1 Instructor Account**
      %li Up to 100 Students per class
  .pricing-column
    %ul
      %li.package School/District
      %li.grey
        .cost Email for Details
        %p
          %a{ href: "mailto:help@gradecraft.com?subject=School/District Usage Request", class: "button contact" } Contact Us
      %li Community Forums
      %li Online Pedagogical Support
      %li Professional Development Workshops
      %li Unlimited Classes
      %li Unlimited Instructor Accounts
      %li Unlimited Students
