.trial
  %p You haven't paid for an account yet! That's okay, we want you to explore GradeCraft as much as you'd like. But until you purchase a license, you can't:
  %ul.not-available
    %li integrate with other tools (like Canvas or Moodle)
    %li import or add other users

  %p Like what you see? Check out these options to purchase:

  %ul.pricing
    %li.package
      %a{ href: "https://secure.nouvant.com/umich/technology/6664/license/662", target: "_blank", class: "signup button higher-ed" } Higher Ed - $40 / 1 site for 6 months
    %li.package
      %a{ href: "https://secure.nouvant.com/umich/technology/6664/license/616", target: "_blank", class: "signup button k-12" } K-12 - $120 / 10 sites for 1 year
    %li.package
      %a{ href: "mailto:help@gradecraft.com?subject=School/District Usage Request", class: "button contact special-pricing" } School/District/Program / Email for Pricing
