%li= link_to "Free Trial", instructors_user_sessions_path

%li
  = link_to_unless_current "Features", features_path do |name|
    - "<span class='active'>#{name}</span>"

= render :partial => "pages/subnav"
