.sidebar
  .search
    = render partial: "layouts/navigation/student_search"
    = render partial: "layouts/navigation/course_search"
  %ul.staff-sidenav{role: "navigation", "aria-label" => "staff-navigation"}
    = render partial: "layouts/navigation/staff_subnav_links"
