%p.has-form{role: "search"}
  %input.students-search-query.search-input{data: { autocompleteUrl: api_students_path }, type: "text", placeholder: "Search #{term_for :students}", "aria-label": "Search #{term_for :students}"}
  %a.alert.button{href: "#", "aria-label": "Search"} Go
