.layout-right-content
  %header{role: "banner"}
    .navbar.container
      %nav.the-nav.nav-collapse.clearfix{role: "navigation"}
        %ul.nav.nav-pill.left
          %li.course-site
            %a.no-hover.site-title.stealth_link{:href => root_url }
              = image_tag "gradecraft_logo.png", :width => "150", :class => "logo-home"
              = image_tag "GradeCraft_Logo_Mark_RGB.png", :width => "30", :class => "gc-mark"
        - if !Rails.env.production?
          .login-buttons
            = link_to "Free Trial", instructors_user_sessions_path, class: "stealth_link"

        %ul.nav.nav-pill.right.public-nav{"aria-hidden": "true"}
          = render partial: "layouts/navigation/public_nav"
        %a.btn-public-nav
          %i.fa.fa-bars.fa-fw
